Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-jupyter-jobs, run-core-jobs

remove duplicae pps env variables
  src/server/pps/server/worker_rc.go
Due: run-core-jobs

Improve random data generation speed (#8309)
  go.mod
  go.sum
  src/internal/miscutil/math.go
  src/internal/randutil/rand.go
  src/internal/randutil/rand_test.go
  src/internal/storage/fileset/fileset_test.go
Due: run-core-jobs

CODEOWNERS Init (#8289)
  .github/CODEOWNERS
Due: none

Request all commit types (#8307)
  src/server/pfs/fuse/server.go
Due: run-core-jobs

Add draw specific docs
  src/server/cmd/pachctl/cmd/cmd.go
Due: run-core-jobs

DAG unique ID fixes (#767)
  frontend/src/components/ResourceLink/ResourceLink.tsx
  frontend/src/lib/dag.ts
  frontend/src/lib/deriveRepoNameFromNode.ts
Due: none

go.mod: upgrade automaxprocs to v1.5.1; for compatibility with newer linuxes
  go.mod
  go.sum
Due: none

'pachctl draw' -> 'pachctl draw pipeline' (#8314)
  src/server/cmd/pachctl/cmd/cmd.go
  src/server/pps/cmds/cmds.go
Due: run-core-jobs

removing a whole bunch of dead code
  src/internal/grpcutil/addr.go
  src/internal/grpcutil/dialer.go
  src/internal/grpcutil/server.go
  src/internal/grpcutil/stream.go
  src/internal/log/log.go
  src/internal/middleware/auth/handler.go
  src/internal/migrations/migrations.go
  src/internal/minikubetestenv/deploy.go
  src/internal/miscutil/miscutil.go
  src/internal/obj/factory.go
  src/internal/obj/integrationtests/tests.go
  src/internal/ppsconsts/ppsconsts.go
  src/internal/progress/progress.go
  src/internal/require/require.go
  src/internal/sdata/csv.go
  src/internal/storage/chunk/client.go
  src/internal/storage/chunk/metadata.go
  src/internal/storage/chunk/renewer.go
  src/internal/testutil/cmds.go
  src/internal/testutil/db.go
  src/internal/testutil/debug.go
  src/internal/testutil/identity.go
  src/internal/testutil/kubeclient.go
  src/internal/testutil/pach_client.go
  src/internal/testutil/ports.go
  src/internal/testutil/sql_data.go
  src/internal/transforms/transforms.go
  src/internal/uuid/uuid.go
Due: run-core-jobs

PR feedback
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/mount.css
  jupyter-extension/src/plugins/mount/mount.tsx
Due: run-jupyter-jobs

go.mod: upgrade automaxprocs to v1.5.1; for compatibility with newer linuxes (#8316)
  go.mod
  go.sum
Due: none

add back missing deps
  src/internal/testutil/identity.go
Due: run-core-jobs

Fix logic for when browser reloads, resume at currently mounted datum
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
Due: run-jupyter-jobs

revert minikubetestenv/deploy back to master
  src/internal/minikubetestenv/deploy.go
Due: run-core-jobs

revert a few more files
  src/internal/require/require.go
  src/internal/testutil/debug.go
  src/internal/testutil/kubeclient.go
Due: run-core-jobs

Add logging
  src/server/pfs/fuse/server.go
Due: run-core-jobs

revert another file
  src/internal/testutil/identity.go
Due: run-core-jobs

Bump CI python deps cache
  .circleci/main.yml
Due: none

revert another file
  src/internal/testutil/cmds.go
Due: run-core-jobs

set $GOMEMLIMIT from k8s requests or limits; allow helm to configure GOMEMLIMIT and GC_PERCENT
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  src/internal/pachd/builder.go
  src/internal/serviceenv/config.go
Due: run-core-jobs

change goMemLimit to a string, because it is
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: none

circle: install the correct version of go in test-go job
  .circleci/main.yml
Due: none

go.mod: upgrade minio clients
  go.mod
  go.sum
Due: none

add a script to run the load tests against multiple pachd configs
  etc/testing/compare-load-tests/load.yaml
  etc/testing/compare-load-tests/main.go
Due: none

dockertestenv: lint: minio.BucketOptions is deprecated: BucketOptions will be renamed to RemoveBucketOptions in future versions.
  src/internal/dockertestenv/minio.go
Due: run-core-jobs

Add 'make docker-build-amd' to speed up local development
  Makefile
  goreleaser/docker-amd.yml
Due: none

Add 'make docker-build-amd' to speed up local development (#8320)
  Makefile
  goreleaser/docker-amd.yml
Due: none

unused code part II (#8317)
  src/internal/grpcutil/addr.go
  src/internal/grpcutil/dialer.go
  src/internal/grpcutil/server.go
  src/internal/grpcutil/stream.go
  src/internal/log/log.go
  src/internal/middleware/auth/handler.go
  src/internal/migrations/migrations.go
  src/internal/miscutil/miscutil.go
  src/internal/obj/factory.go
  src/internal/obj/integrationtests/tests.go
  src/internal/ppsconsts/ppsconsts.go
  src/internal/progress/progress.go
  src/internal/sdata/csv.go
  src/internal/storage/chunk/client.go
  src/internal/storage/chunk/metadata.go
  src/internal/storage/chunk/renewer.go
  src/internal/testutil/db.go
  src/internal/testutil/pach_client.go
  src/internal/testutil/ports.go
  src/internal/testutil/sql_data.go
  src/internal/transforms/transforms.go
  src/internal/uuid/uuid.go
Due: run-core-jobs

Add more logs
  src/server/pfs/fuse/server.go
Due: run-core-jobs

FRON-592: Dag virtualization (#769)
  frontend/src/lib/downloadSVG.ts
  frontend/src/views/Project/components/DAGView/DAGView.tsx
  frontend/src/views/Project/components/DAGView/components/DAG/DAG.tsx
  frontend/src/views/Project/components/DAGView/components/DAG/hooks/useDag.ts
  frontend/src/views/Project/components/DAGView/hooks/useCanvasDownload.ts
Due: none

Add timeouts to tests
  jupyter-extension/cypress/integration/repo-datum-mode-switch.ts
Due: run-jupyter-jobs

More logs
  src/server/pfs/fuse/server.go
Due: run-core-jobs

Try timeout in different location
  jupyter-extension/cypress/integration/repo-datum-mode-switch.ts
Due: run-jupyter-jobs

Try waiting 0
  jupyter-extension/cypress/integration/repo-datum-mode-switch.ts
Due: run-jupyter-jobs

Add timeout
  jupyter-extension/cypress/integration/repo-datum-mode-switch.ts
Due: run-jupyter-jobs

Go back to using cy.wait()
  jupyter-extension/cypress/integration/repo-datum-mode-switch.ts
Due: run-jupyter-jobs

Add Pgsql client to pg bouncer image
  Dockerfile.pgbouncer
Due: none

Shorten testing string
  jupyter-extension/cypress/integration/repo-datum-mode-switch.ts
Due: run-jupyter-jobs

[Jupyter] Save state when switching between repo mode and datum mode (#8280)
  .circleci/main.yml
  jupyter-extension/.gitignore
  jupyter-extension/cypress/integration/repo-datum-mode-switch.ts
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/mount.css
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/types.ts
Due: run-jupyter-jobs

Path conditions:
  run-jupyter-jobs: any of: jupyter-extension/.*
  run-core-jobs: any of: src/.*
