Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[Python SDK] Implement CdrResolver (#10139)
  .circleci/main.yml
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/pachyderm_sdk/client.py
  python-sdk/poetry.lock
  python-sdk/pyproject.toml
  python-sdk/tests/test_cdr.py
  python-sdk/tests/test_metadata.py
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

remove test change
  jupyter-extension/jupyterlab_pachyderm/tests/test_config.py
Due: run-jupyter-jobs

disable tests for now
  jupyter-extension/jupyterlab_pachyderm/BUILD.bazel
  jupyter-extension/jupyterlab_pachyderm/tests/BUILD.bazel
  jupyter-extension/jupyterlab_pachyderm/tests/test_config.py
Due: run-jupyter-jobs

configure everything such that gazelle runs successfully
  .bazelignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  jupyter-extension/BUILD.bazel
  jupyter-extension/gazelle_python.yaml
  jupyter-extension/jupyterlab_pachyderm/BUILD.bazel
  jupyter-extension/jupyterlab_pachyderm/env.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
  jupyter-extension/jupyterlab_pachyderm/tests/BUILD.bazel
Due: run-core-jobs, run-jupyter-jobs

introduce python gazelle plugin for jupyterlab_pachyderm
  MODULE.bazel
  MODULE.bazel.lock
  jupyter-extension/BUILD.bazel
Due: run-core-jobs, run-jupyter-jobs

fix some ci things complaints
  BUILD.bazel
  jupyter-extension/BUILD.bazel
  jupyter-extension/MANIFEST.in
Due: run-core-jobs, run-jupyter-jobs

regenerate gazelle_python.yaml
  jupyter-extension/gazelle_python.yaml
Due: run-jupyter-jobs

add gazelle manifest check to :style_tests
  BUILD.bazel
  MODULE.bazel.lock
Due: run-core-jobs

Update Console Deployment to use Proxy's TLS Cert
  etc/helm/pachyderm/templates/console/deployment.yaml
Due: run-core-jobs

update
  jupyter-extension/package.json
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
Due: run-jupyter-jobs

Update Console Deployment to use Proxy's TLS Cert [CORE-2321] (#10144)
  etc/helm/pachyderm/templates/console/deployment.yaml
Due: run-core-jobs

FRON-1518: Responsive Repo and Action Pipeline Buttons (#2125)
  cypress/e2e/authenticated/RBAC/ProjectPage.ts
  cypress/e2e/unauthenticated/DAG/Dag.ts
  cypress/e2e/unauthenticated/PipelineActions.ts
  cypress/e2e/unauthenticated/PipelineSteps.ts
  cypress/e2e/unauthenticated/Project.ts
  cypress/e2e/unauthenticated/RBAC.ts
  frontend/components/src/Button/Button.tsx
  frontend/src/components/PipelineActionsMenu/PipelineActionsMenu.module.css
  frontend/src/components/PipelineActionsMenu/PipelineActionsMenu.tsx
  frontend/src/components/PipelineActionsMenu/__tests__/PipelineActionsMenu.test.tsx
  frontend/src/components/RepoActionsMenu/RepoActionsMenu.module.css
  frontend/src/components/RepoActionsMenu/RepoActionsMenu.tsx
  frontend/src/components/RepoActionsMenu/__tests__/RepoActionsMenu.test.tsx
  frontend/src/components/Sidebar/Sidebar.module.css
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/PipelineDetails/components/PipelineInfo/PipelineInfo.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/PipelineDetails/components/PipelineInfo/__tests__/PipelineInfo.test.tsx
Due: none

merge conflict
  MODULE.bazel.lock
Due: run-core-jobs

FRON-1494: Loading text in file browser looks weird (#2120)
  frontend/src/views/FileBrowser/components/LeftPanel/components/FileTree/DirectoryContents.module.css
  frontend/src/views/FileBrowser/components/LeftPanel/components/FileTree/DirectoryContents.tsx
Due: none

update Bazel.md
  jupyter-extension/BAZEL.md
  jupyter-extension/BUILD.bazel
Due: run-jupyter-jobs

[Jupyter] gazelle for python files (#10119)
  .bazelignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  jupyter-extension/BAZEL.md
  jupyter-extension/BUILD.bazel
  jupyter-extension/MANIFEST.in
  jupyter-extension/gazelle_python.yaml
  jupyter-extension/jupyterlab_pachyderm/BUILD.bazel
  jupyter-extension/jupyterlab_pachyderm/env.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
  jupyter-extension/jupyterlab_pachyderm/tests/BUILD.bazel
Due: run-core-jobs, run-jupyter-jobs

FRON-1500: update commit branch references (#2115)
  cypress/e2e/unauthenticated/FileBrowser.ts
  cypress/e2e/unauthenticated/Repos.ts
  frontend/src/components/ContentBox/ContentBox.tsx
  frontend/src/components/InfoPanel/InfoPanel.tsx
  frontend/src/hooks/useFilesNextPrevious.ts
  frontend/src/mocks/branches.ts
  frontend/src/mocks/commits.ts
  frontend/src/mocks/files.ts
  frontend/src/views/FileBrowser/FileBrowser.tsx
  frontend/src/views/FileBrowser/__tests__/FileBrowser.test.tsx
  frontend/src/views/FileBrowser/components/FileHeader/FileHeader.module.css
  frontend/src/views/FileBrowser/components/FileHeader/FileHeader.tsx
  frontend/src/views/FileBrowser/components/FileHistory/components/FileHistoryItem/hooks/useFileHistoryItem.ts
  frontend/src/views/FileBrowser/components/FilePreview/FilePreview.tsx
  frontend/src/views/FileBrowser/components/FilePreview/__tests__/FilePreview.test.tsx
  frontend/src/views/FileBrowser/components/ListViewTable/ListViewTable.tsx
  frontend/src/views/FileBrowser/components/ListViewTable/__tests__/ListViewTable.test.tsx
  frontend/src/views/FileBrowser/components/ListViewTable/hooks/useListViewTable.ts
  frontend/src/views/FileBrowser/hooks/useFileActions.ts
  frontend/src/views/FileBrowser/hooks/useFileBrowser.ts
  frontend/src/views/FileBrowser/hooks/useFileDelete.ts
  frontend/src/views/Project/components/ProjectSidebar/__tests__/ProjectSidebar.test.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/RepoDetails.module.css
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/RepoDetails.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/CommitDetails/CommitDetails.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/CommitList/CommitList.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/CommitList/hooks/useCommitList.ts
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/hooks/useRepoDetails.ts
  frontend/src/views/Project/components/RepoList/__tests__/CommitsList.test.tsx
  frontend/src/views/Project/components/RepoList/components/CommitsList/CommitsList.tsx
  frontend/src/views/Project/components/RepoList/components/CommitsList/hooks/useCommitsList.ts
Due: none

wip
  MODULE.bazel.lock
  jupyter-extension/requirements-dev-lock-darwin.txt
Due: run-core-jobs, run-jupyter-jobs

linux
  MODULE.bazel.lock
  jupyter-extension/requirements-dev-lock-linux.txt
Due: run-core-jobs, run-jupyter-jobs

remove deprecated LOG_LEVEL env var; pass different log levels to worker and sidecar; pass DEBUG level to worker by default
  src/internal/log/loggers.go
  src/server/pps/server/worker_rc.go
Due: run-core-jobs

add log level filtering
  src/internal/jsonschema/BUILD.bazel
  src/logs/BUILD.bazel
  src/server/logs/cmds/cmds.go
  src/server/logs/logs.go
  src/server/logs/logs_test.go
Due: run-core-jobs

avoid reusing the "method" key
  src/internal/promutil/promutil.go
Due: run-core-jobs

include a LOG_LEVEL_UNSET log level enum
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/logs/__init__.py
  src/internal/jsonschema/logs/GetLogsRequest.schema.json
  src/internal/jsonschema/logs/GetLogsResponse.schema.json
  src/internal/jsonschema/logs/LogFilter.schema.json
  src/internal/jsonschema/logs/PagingHint.schema.json
  src/logs/logs.pb.go
  src/logs/logs.proto
  src/openapi/pachyderm_api.swagger.json
  src/typescript/logs/logs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

default user logs queries to INFO
  src/server/logs/logs.go
  src/server/logs/logs_test.go
Due: run-core-jobs

remove platform specific lock file
  jupyter-extension/BUILD.bazel
  jupyter-extension/requirements-dev.txt
Due: run-jupyter-jobs

remove unneeded lock files and correct spelling
  jupyter-extension/requirements-dev-lock-darwin.txt
  jupyter-extension/requirements-dev-lock-linux.txt
  jupyter-extension/requirements-dev.txt
Due: run-jupyter-jobs

remove references to platform specific lock files
  MODULE.bazel
  MODULE.bazel.lock
  jupyter-extension/BAZEL.md
Due: run-core-jobs, run-jupyter-jobs

wip
  jupyter-extension/requirements-dev-lock.txt
Due: run-jupyter-jobs

add more compatibility packages to requirements-dev.txt
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
Due: run-jupyter-jobs

"!=" > ">"
  MODULE.bazel.lock
  src/server/logs/logs.go
Due: run-core-jobs

remove annotations from requirements-dev-lock.txt as they are not platform independent
  MODULE.bazel.lock
  jupyter-extension/BUILD.bazel
  jupyter-extension/requirements-dev-lock.txt
Due: run-core-jobs, run-jupyter-jobs

pyproject
  jupyter-extension/pyproject.toml
Due: run-jupyter-jobs

update verbiage based on recommendation (#10141)
  src/server/auth/cmds/cmds.go
Due: run-core-jobs

avoid discarding the analysis cache between build/test
  .bazelrc
  MODULE.bazel.lock
Due: run-core-jobs

Remove double import Remove print statement
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/style/base.css
Due: run-jupyter-jobs

avoid discarding the analysis cache between build/test (#10151)
  .bazelrc
  MODULE.bazel.lock
Due: run-core-jobs

Add created_by to projects
  proto-docs.json
  proto-docs.md
  src/internal/jsonschema/pfs_v2/InspectProjectV2Response.schema.json
  src/internal/jsonschema/pfs_v2/ProjectInfo.schema.json
  src/logs/BUILD.bazel
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/server/pfs/server/driver.go
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs

Do not allow null created_by
  src/internal/clusterstate/v2.11.0/project_metadata.go
Due: run-core-jobs

Add project derived metadata
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/commit_diffs.go
  src/internal/clusterstate/v2.11.0/commit_totals.go
  src/internal/clusterstate/v2.11.0/project_metadata.go
  src/internal/pfsdb/projects.go
  src/server/auth/server/testing/auth_test.go
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
