Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

backup tables pre migration
  src/internal/clusterstate/v2.10.0/pipelines.go
  src/internal/clusterstate/v2.10.0/pipelines_test.go
Due: run-core-jobs

gazelle
  src/internal/clusterstate/v2.10.0/BUILD.bazel
Due: run-core-jobs

go version 1.22.3 upgrade
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix for failing jupyter extension tests due to branches and repos no longer being included by default in the list datum response
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Due: run-jupyter-jobs

fix for failing jupyter extension tests due to branches and repos no longer being included by default in the list datum response (#10036)
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Due: run-jupyter-jobs

update base image for notebooks-user and do some cleanup
  jupyter-extension/.dockerignore
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

go version 1.22.3 upgrade (#10034)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Fixing Duplicate Pipeline Versions [CORE-2252] (#10024)
  src/internal/clusterstate/v2.10.0.go
  src/internal/clusterstate/v2.10.0/BUILD.bazel
  src/internal/clusterstate/v2.10.0/clusterstate.go
  src/internal/clusterstate/v2.10.0/pipelines.go
  src/internal/clusterstate/v2.10.0/pipelines_test.go
  src/internal/clusterstate/v2.8.0.go
  src/internal/clusterstate/v2.8.0_test.go
  src/internal/pachd/builder.go
  src/internal/pachd/full.go
  src/internal/pachd/setup.go
  src/internal/pachd/testpachd.go
Due: run-core-jobs

[Jupyter] Update notebooks-user base image + cleanup (#10032)
  jupyter-extension/.dockerignore
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

[Backport 2.10] go version 1.22.3 upgrade (#10035)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

enable sql statement linters
  .golangci.yml
Due: run-core-jobs

[Backport 2.10] Fixing Duplicate Pipeline Versions [CORE-2252] (#10024) (#10038)
  src/internal/clusterstate/v2.10.0.go
  src/internal/clusterstate/v2.10.0/BUILD.bazel
  src/internal/clusterstate/v2.10.0/clusterstate.go
  src/internal/clusterstate/v2.10.0/pipelines.go
  src/internal/clusterstate/v2.10.0/pipelines_test.go
  src/internal/clusterstate/v2.8.0.go
  src/internal/clusterstate/v2.8.0_test.go
  src/internal/pachd/builder.go
  src/internal/pachd/full.go
  src/internal/pachd/setup.go
  src/internal/pachd/testpachd.go
Due: run-core-jobs

fix flake in resource names within TestClient
  python-sdk/tests/fixtures.py
Due: run-python-sdk-jobs

fix: close file (#9964)
  src/server/debug/server/util.go
Due: run-core-jobs

Update to Go 1.22.3
  .circleci/config.yml
  .circleci/main.yml
  etc/proto/Dockerfile
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Update to Go 1.22.3
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Move endpoints to explore Use optional typing Separate unmount handler Contain optional checks to public methods
  jupyter-extension/cypress/support/commands.js
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/src/plugins/mount/__tests__/pollMounts.test.tsx
  jupyter-extension/src/plugins/mount/pollMounts.ts
Due: run-jupyter-jobs

upgrade skopeo to support docker 25 (#9767)
  MODULE.bazel.lock
  private/repositories.bzl
Due: run-core-jobs

fix typo in logging interceptor.
  src/internal/middleware/logging/interceptor.go
Due: run-core-jobs

Fix an Typo in the Logging Interceptor (#10045)
  src/internal/middleware/logging/interceptor.go
Due: run-core-jobs

Backport #9964 to 2.8.x (#10042)
  .circleci/config.yml
  .circleci/main.yml
  etc/proto/Dockerfile
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/server/debug/server/util.go
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Fixes for pipeline extension request handling
  .vscode/settings.json
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-jupyter-jobs

address feedback
  .vscode/settings.json
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-jupyter-jobs

Fixes for pipeline extension request handling (#10031)
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-jupyter-jobs

[Python-SDK] Fix flake in resource names within TestClient (#10041)
  python-sdk/tests/fixtures.py
Due: run-python-sdk-jobs

[Backport] Fixes for pipeline extension request handling (#10031) (#10046)
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-jupyter-jobs

Use real Loki for a logs command test
  .bazelrc
  BUILD.bazel
  MODULE.bazel.lock
  src/internal/storage/BUILD.bazel
  src/server/auth/server/testing/BUILD.bazel
  src/server/logs/cmds/BUILD.bazel
  src/server/logs/cmds/cmds_test.go
  src/server/logs/logs.go
  src/server/logs/query.go
  src/server/logs/server/BUILD.bazel
  src/server/metadata/server/testing/BUILD.bazel
  src/server/pfs/server/testing/BUILD.bazel
Due: run-core-jobs

add storage service to pachctl misc grpc.
  src/server/misc/cmds/BUILD.bazel
  src/server/misc/cmds/grpc.go
Due: run-core-jobs

Check mounted branch inside _get_file_from_path
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Due: run-jupyter-jobs

Remove redundant get top level model
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Due: run-jupyter-jobs

Add non-admin test
  src/server/logs/cmds/cmds_test.go
Due: run-core-jobs

Add storage service to pachctl misc grpc (#10048)
  src/server/misc/cmds/BUILD.bazel
  src/server/misc/cmds/grpc.go
Due: run-core-jobs

Refactor to use _get_content_model
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Due: run-jupyter-jobs

Add "in body of request"
  jupyter-extension/jupyterlab_pachyderm/handlers.py
Due: run-jupyter-jobs

Check for non-admin logs
  src/server/logs/cmds/cmds_test.go
Due: run-core-jobs
