Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

document pachdev (#10281)
  LOCAL.md
Due: run-core-jobs

[MLDM-31] Incorporate PR Feedback.
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/internal/jsonschema/pjs/WalkJobRequest.schema.json
  src/internal/pjs/BUILD.bazel
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/job_context.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/job_crud_test.go
  src/openapi/pachyderm_api.swagger.json
  src/pjs/pjs.pb.go
  src/pjs/pjs.pb.validate.go
  src/pjs/pjs.pb.zap.go
  src/pjs/pjs.proto
  src/typescript/pjs/pjs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

workspace_status: work on mac os, upgrade hard-coded master version (#10280)
  workspace_status.sh
Due: run-core-jobs

add documentation for console cypress tests
  console/BAZEL.md
Due: none

Update helm chart for det 0.35.0
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/templates/determined/master-deployment.yaml
  etc/helm/pachyderm/templates/determined/master-permissions.yaml
  etc/helm/pachyderm/templates/determined/master-service.yaml
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

[MLDM-44] Document running console cypress tests with Bazel (#10282)
  console/BAZEL.md
Due: none

Update master-service.yaml
  etc/helm/pachyderm/templates/determined/master-service.yaml
Due: run-core-jobs

Update values.yaml
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Fix helm issues for det 0.35.0
  etc/helm/pachyderm/templates/determined/genai/genai-deployment.yaml
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/templates/determined/master-deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Remove hard coded detVersion from test values.yaml
  etc/helm/examples/int-test-values-with-det.yaml
  etc/helm/examples/local-dev-values-with-det.yaml
Due: run-core-jobs

Update helm chart for det 0.35.0 (#10283)
  etc/helm/examples/int-test-values-with-det.yaml
  etc/helm/examples/local-dev-values-with-det.yaml
  etc/helm/pachyderm/templates/determined/genai/genai-deployment.yaml
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/templates/determined/master-deployment.yaml
  etc/helm/pachyderm/templates/determined/master-permissions.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Det Default Image Update (#10270)
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

[Backport 2.11] Update helm chart for det 0.35.0 (#10284)
  etc/helm/examples/int-test-values-with-det.yaml
  etc/helm/examples/local-dev-values-with-det.yaml
  etc/helm/pachyderm/templates/determined/genai/genai-deployment.yaml
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/templates/determined/master-deployment.yaml
  etc/helm/pachyderm/templates/determined/master-permissions.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

[MLDM-31] Fix mal-encoding
  src/internal/pjs/api_server.go
  src/internal/pjsdb/job_context.go
Due: run-core-jobs

Implement WalkJob RPC (#10277)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/internal/jsonschema/pjs/WalkJobRequest.schema.json
  src/internal/pjs/BUILD.bazel
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/job_context.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/job_crud_test.go
  src/internal/pjsdb/queue_crud.go
  src/internal/pjsdb/queue_crud_test.go
  src/openapi/pachyderm_api.swagger.json
  src/pjs/pjs.pb.go
  src/pjs/pjs.pb.validate.go
  src/pjs/pjs.pb.zap.go
  src/pjs/pjs.proto
  src/typescript/pjs/pjs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

add recommended BAZEL_TRACK_SOURCE_DIRECTORIES option to .bazelrc
  .bazelrc
Due: run-core-jobs

move up in file
  .bazelrc
Due: run-core-jobs

add BAZEL_TRACK_SOURCE_DIRECTORIES option to .bazelrc (#10285)
  .bazelrc
Due: run-core-jobs

Change files with many owners
  jupyter-extension/src/plugins/mount/mountDrive.ts
  src/debug/debug.proto
  src/pfs/pfs.proto
Due: run-core-jobs, run-jupyter-jobs

oops, last file wasn't owned by INT
  src/server/pfs/s3/s3.go
Due: run-core-jobs

pull master and incorporate PR feedback.
  src/pfs/pfs.go
  src/server/pfs/server/server_commit.go
Due: run-core-jobs

[MLDM-18] Use pick commit instead of resolve commit.
  src/internal/pfsdb/commit_provenance.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/pfs/pfs.go
  src/pfs/pfs_test.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/master.go
  src/server/pfs/server/master_trigger.go
  src/server/pfs/server/server_branch.go
  src/server/pfs/server/server_commit.go
  src/server/pfs/server/server_commit_set.go
  src/server/pfs/server/server_file.go
  src/server/pfs/server/server_repo.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/url.go
  src/server/pps/server/api_server.go
  src/server/pps/server/api_server_test.go
Due: run-core-jobs

[MLDM-18] integrate some PR feedback.
  src/pfs/pfs.go
  src/server/pfs/server/server_commit.go
Due: run-core-jobs

cancelJob RPC
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/job_crud.go
Due: run-core-jobs

Use Commit Pickers to Resolve Commits (#10272)
  src/internal/pfsdb/commit_provenance.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/pfs/pfs.go
  src/pfs/pfs_test.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/master.go
  src/server/pfs/server/master_trigger.go
  src/server/pfs/server/server_branch.go
  src/server/pfs/server/server_commit.go
  src/server/pfs/server/server_commit_set.go
  src/server/pfs/server/server_file.go
  src/server/pfs/server/server_repo.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/url.go
  src/server/pps/server/api_server.go
  src/server/pps/server/api_server_test.go
Due: run-core-jobs

remove legacy jsonnet lint job
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

jsonnet_test for generate-envoy-config
  etc/generate-envoy-config/BUILD.bazel
Due: run-core-jobs

gazelle after unignoring examples
  examples/opencv/goclient-example/BUILD.bazel
Due: run-core-jobs

rename jsonnet_test to jsonnet_lint_test
  console/cypress/fixtures/BUILD.bazel
  console/frontend/src/views/Project/components/PipelineTemplate/templates/BUILD.bazel
  console/test-dags/cluster-setup/src/pipelines/BUILD.bazel
  console/test-dags/pipelines/jsonnet/BUILD.bazel
  etc/generate-envoy-config/BUILD.bazel
  examples/group/pipelines/lab/BUILD.bazel
  examples/group/pipelines/retail/BUILD.bazel
  examples/joins/pipelines/outer/BUILD.bazel
  examples/opencv/jsonnet/BUILD.bazel
  private/rules/jsonnet-lint/jsonnet-lint.bzl
  src/testing/cmds/go-test-results/cleanup-cron/BUILD.bazel
  src/testing/cmds/go-test-results/egress/BUILD.bazel
Due: run-core-jobs

add jsonnet lint rules
  .bazelignore
  console/cypress/fixtures/BUILD.bazel
  console/frontend/src/views/Project/components/PipelineTemplate/templates/BUILD.bazel
  console/test-dags/cluster-setup/src/pipelines/BUILD.bazel
  console/test-dags/pipelines/jsonnet/BUILD.bazel
  examples/group/pipelines/lab/BUILD.bazel
  examples/group/pipelines/retail/BUILD.bazel
  examples/joins/pipelines/outer/BUILD.bazel
  examples/opencv/jsonnet/BUILD.bazel
  src/testing/cmds/go-test-results/cleanup-cron/BUILD.bazel
  src/testing/cmds/go-test-results/egress/BUILD.bazel
Due: run-core-jobs

add jsonnet-lint bazel rule
  private/rules/jsonnet-lint/BUILD.bazel
  private/rules/jsonnet-lint/jsonnet-lint.bzl
Due: none

fix console tests; also use 50 test shards
  console/frontend/BUILD.bazel
  console/frontend/src/views/Project/components/PipelineTemplate/templates/BUILD.bazel
Due: none

add option to python.toolchain()
  MODULE.bazel
  MODULE.bazel.lock
Due: run-core-jobs

Support VM root user -- bazel build //jupyter-extension (#10292)
  MODULE.bazel
  MODULE.bazel.lock
Due: run-core-jobs

buildifier
  console/frontend/BUILD.bazel
  console/frontend/src/views/Project/components/PipelineTemplate/templates/BUILD.bazel
Due: none

implement pr feedback
  src/internal/pjs/server_test.go
Due: run-core-jobs

[2.11.x] Revert change that removes environment variables from the worker; only filter out POSTGRES_PASSWORD instead (#10279)
  src/server/pachyderm_test.go
  src/server/worker/driver/driver.go
Due: run-core-jobs

[MLDM-32] CancelJob RPC (#10289)
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/job_crud.go
Due: run-core-jobs
