Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

implement feedback
  src/internal/storage/fileset/chunkset_test.go
  src/internal/storage/fileset/storage.go
Due: run-core-jobs

retrieve modified row during test
  src/internal/recovery/BUILD.bazel
  src/internal/recovery/recovery_test.go
Due: run-core-jobs

[MLDM-117] DropChunkset (#10365)
  src/internal/storage/fileset/chunkset_test.go
  src/internal/storage/fileset/storage.go
Due: run-core-jobs

Add snapshot database schema (#10358)
  src/internal/clusterstate/v2.12.0/BUILD.bazel
  src/internal/clusterstate/v2.12.0/clusterstate.go
  src/internal/clusterstate/v2.12.0/snapshot.go
  src/internal/dockertestenv/BUILD.bazel
  src/internal/dockertestenv/postgres.go
  src/internal/migrations/BUILD.bazel
  src/internal/migrations/migrations_test.go
  src/internal/recovery/BUILD.bazel
  src/internal/recovery/recovery.go
  src/internal/recovery/recovery_test.go
Due: run-core-jobs

let psql handle C-c instead of us shutting down
  src/testing/psql/main.go
Due: run-core-jobs

Let psql handle C-c (#10366)
  src/testing/psql/main.go
Due: run-core-jobs

[MLDM-118] Deploy dex if oidc.deploy is true. Dex currently doesn't respect any other pachyderm configuration.
  etc/helm/pachyderm/Chart.lock
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/charts/dex-0.19.1.tgz
  etc/helm/pachyderm/charts/postgresql-10.8.0.tgz
  etc/helm/pachyderm/values.yaml
  src/internal/kindenv/pachyderm-values.json
Due: run-core-jobs

generated proto
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/snapshot/__init__.py
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/snapshot/CreateSnapshotRequest.schema.json
  src/internal/jsonschema/snapshot/CreateSnapshotResponse.schema.json
  src/internal/jsonschema/snapshot/DeleteSnapshotRequest.schema.json
  src/internal/jsonschema/snapshot/DeleteSnapshotResponse.schema.json
  src/internal/jsonschema/snapshot/InspectSnapshotRequest.schema.json
  src/internal/jsonschema/snapshot/InspectSnapshotResponse.schema.json
  src/internal/jsonschema/snapshot/ListSnapshotRequest.schema.json
  src/internal/jsonschema/snapshot/ListSnapshotResponse.schema.json
  src/internal/jsonschema/snapshot/SnapshotInfo.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/snapshot/snapshot.pb.go
  src/snapshot/snapshot.pb.gw.go
  src/snapshot/snapshot.pb.validate.go
  src/snapshot/snapshot.pb.zap.go
  src/snapshot/snapshot.proto
  src/snapshot/snapshot_grpc.pb.go
  src/typescript/snapshot/snapshot.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

vendor pg_dump
  MODULE.bazel
  MODULE.bazel.lock
  private/apt/BUILD.bazel
  private/apt/postgres.lock.json
  private/apt/postgres.yaml
Due: run-core-jobs

implement CreateSnapshot
  private/apt/BUILD.bazel
  src/internal/pachsql/db.go
  src/internal/recovery/BUILD.bazel
  src/internal/recovery/recovery.go
  src/internal/recovery/recovery_test.go
Due: run-core-jobs

deps
  src/internal/recovery/BUILD.bazel
Due: run-core-jobs

add libpq
  MODULE.bazel.lock
  private/apt/BUILD.bazel
  private/apt/postgres.lock.json
  private/apt/postgres.yaml
  src/internal/recovery/BUILD.bazel
  src/internal/recovery/recovery.go
  src/internal/recovery/recovery_test.go
Due: run-core-jobs

pg_dump is linked to libpq.so.5, not a specific version :/
  private/apt/BUILD.bazel
  src/internal/recovery/BUILD.bazel
Due: run-core-jobs

Remove RS from console/frontend/src/index.tsx
  console/frontend/src/index.tsx
Due: none

Remove RS from package-lock.json
  console/frontend/package-lock.json
Due: none

Remove RS from package.json
  console/frontend/package.json
Due: none

Remove RS from pnpm-lock.yaml
  console/frontend/pnpm-lock.yaml
Due: none

Remove RS from vite.config.ts
  console/frontend/vite.config.ts
Due: none

doh
  src/internal/recovery/recovery.go
Due: run-core-jobs

Remove RS from AnalyticsProvier.tsx and set identify, page, and track to blank
  console/frontend/src/providers/AnalyticsProvier.tsx
Due: none

Remove RS from package-lock.json
  jupyter-extension/package-lock.json
Due: run-jupyter-jobs

Remove RS from package.json
  jupyter-extension/package.json
Due: run-jupyter-jobs

Remove telemetry plugin from Jupyter Extension
  jupyter-extension/src/index.ts
  jupyter-extension/src/plugins/telemetry/__tests__/telemetry.test.tsx
  jupyter-extension/src/plugins/telemetry/index.ts
  jupyter-extension/src/plugins/telemetry/telemetry.ts
Due: run-jupyter-jobs

Remove RS from .env.production
  console/.env.production
Due: none

add meters.NewWriter to count bytes
  src/internal/meters/BUILD.bazel
  src/internal/meters/meters.go
  src/internal/meters/meters_test.go
Due: run-core-jobs

add pg_dump with mac support
  MODULE.bazel
  MODULE.bazel.lock
  private/apt/BUILD.bazel
  private/extensions.bzl
  private/repositories.bzl
  src/internal/recovery/BUILD.bazel
  tools/postgres/BUILD.bazel
  tools/postgres/pg_dump/BUILD.bazel
Due: run-core-jobs

remove debugging statement
  src/internal/recovery/recovery.go
Due: run-core-jobs

add all postgres apt dependencies
  MODULE.bazel
  MODULE.bazel.lock
  private/apt/postgres.lock.json
  private/apt/postgres.yaml
Due: run-core-jobs

add extra libraries, clean up handling of libraries
  MODULE.bazel.lock
  private/apt/BUILD.bazel
  private/apt/postgres.lock.json
  private/apt/postgres.yaml
  src/internal/bazel/BUILD.bazel
  src/internal/bazel/bazel.go
  src/internal/bazel/bazel_test.go
  src/internal/recovery/BUILD.bazel
  src/internal/recovery/recovery.go
  src/internal/recovery/recovery_test.go
  tools/postgres/pg_dump/BUILD.bazel
Due: run-core-jobs

Take database dumps during snapshots (#10367)
  MODULE.bazel
  MODULE.bazel.lock
  private/apt/BUILD.bazel
  private/apt/postgres.lock.json
  private/apt/postgres.yaml
  private/extensions.bzl
  private/repositories.bzl
  src/internal/bazel/BUILD.bazel
  src/internal/bazel/bazel.go
  src/internal/bazel/bazel_test.go
  src/internal/pachsql/db.go
  src/internal/recovery/BUILD.bazel
  src/internal/recovery/recovery.go
  src/internal/recovery/recovery_test.go
  tools/postgres/BUILD.bazel
  tools/postgres/pg_dump/BUILD.bazel
Due: run-core-jobs
