Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-jupyter-jobs, run-core-jobs

Get rid of unused var
  jupyter-extension/src/plugins/mount/mount.tsx
Due: run-jupyter-jobs

Attempt cleanup after copying job-scoped prefix into pfs
  src/server/pps/server/s3g_sidecar_proxy.go
Due: run-core-jobs

Revert "Revert "Revert "Revert docker changes (#8293)"""
  goreleaser/docker.yml
Due: none

logging
  src/server/pfs/server/api_server.go
  src/server/pps/server/s3g_sidecar_proxy.go
Due: run-core-jobs

Don't do the cleanup from inside the mfc
  src/server/pps/server/s3g_sidecar_proxy.go
Due: run-core-jobs

Revert "Revert "Revert "Revert "Revert docker changes (#8293)""""
  goreleaser/docker.yml
Due: none

Cleanup stale comments
  src/server/pps/server/s3g_sidecar_proxy.go
Due: run-core-jobs

More comment cleanup
  src/server/pps/server/s3g_sidecar_proxy.go
Due: run-core-jobs

fix typo
  etc/testing/circle/run_cust_release_tests.sh
Due: none

fix missed typo
  etc/testing/circle/run_cust_release_tests.sh
Due: none

bug: Fix overflow content in modal (#209)
  packages/components/package.json
  packages/components/src/Modal/FullPagePanelModal/components/Body/ModalBody.module.css
  packages/components/src/Modal/FullPagePanelModal/components/SidePanel/SidePanel.module.css
  packages/components/src/Modal/FullPagePanelModal/components/SidePanel/SidePanel.tsx
Due: none

[CORE-1136] Adjust pachctl list jobs -x output. (#8286)
  src/server/pps/pretty/pretty.go
Due: run-core-jobs

pgbouncer image release workflow (#8243)
  .circleci/config.yml
  Dockerfile.pgbouncer
  entrypoint.sh
Due: none

Migrate cron input
  src/internal/ppsdb/v2.4.0.go
Due: run-core-jobs

fix Max number of workflows exceeded.
  .circleci/config.yml
Due: none

fix Max number of workflows exceeded. (#8296)
  .circleci/config.yml
Due: none

fix builder with tls env create error
  .circleci/config.yml
Due: none

docker context create
  .circleci/config.yml
Due: none

circleci - fix builder with tls env create error (#8297)
  .circleci/config.yml
Due: none

Fix race condition error
  src/server/pfs/fuse/server.go
Due: run-core-jobs

fix buildx build requires exactly 1 argument error
  .circleci/config.yml
Due: none

fix buildx build requires exactly 1 argument error (#8298)
  .circleci/config.yml
Due: none

check for proxy.host if proxy is enabled
  etc/helm/pachyderm/templates/_helpers.tpl
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Update config.yml (#8300)
  .circleci/config.yml
Due: none

Fix up bail out logic
  src/server/pps/server/s3g_sidecar_proxy.go
Due: run-core-jobs

Fix up logic
  src/server/pps/server/s3g_sidecar_proxy.go
Due: run-core-jobs

Update Sign4 call to use the Security Token
  src/server/pps/server/s3g_sidecar_proxy.go
Due: run-core-jobs

update pgbouncer entrypoint to handle auth type
  entrypoint.sh
Due: none

allow configuring of pg auth type in values
  etc/helm/pachyderm/templates/pgbouncer/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: none

Add unknown state icon (#210)
  packages/components/package.json
  packages/components/src/Svg/Icons/index.ts
  packages/components/src/Svg/Icons/statusUnknown.svg
Due: none

Update Pg-bouncer to support non md5 auth (#8301)
  entrypoint.sh
  etc/helm/pachyderm/templates/pgbouncer/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: none

fix restarting spout pipelines by removing meta repo access
  src/server/pps/server/api_server.go
Due: run-core-jobs

remove unneeded mounts from pgbouncer
  etc/helm/pachyderm/templates/pgbouncer/deployment.yaml
Due: none

Hardcode default project name
  src/internal/clusterstate/v2.4.0.go
Due: run-core-jobs

Convert function to a method
  src/pfs/pfs.go
  src/server/pfs/server/api_server.go
Due: run-core-jobs

Convert ValidateProjectName to a method
  src/pfs/pfs.go
  src/server/pfs/server/driver.go
Due: run-core-jobs

Correct comment
  src/pfs/pfs.go
Due: run-core-jobs

Fix stuttering import
  src/pps/pps.go
Due: run-core-jobs

Fix bad argument name
  src/pps/util.go
Due: run-core-jobs

Path conditions:
  run-jupyter-jobs: any of: jupyter-extension/.*
  run-core-jobs: any of: src/.*
