Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

Update notional dex dependency for spout example
  examples/spouts/go-rabbitmq-spout/source/go.mod
Due: run-core-jobs

[CORE-2300] Update notional dex dependency for spout example (#10090)
  examples/spouts/go-rabbitmq-spout/source/go.mod
Due: run-core-jobs

[CORE-2300] Backport update notional dex in spout example to 2.10 (#10091)
  examples/spouts/go-rabbitmq-spout/source/go.mod
Due: run-core-jobs

[CORE-2300] Update notional dex dependency for spout example (#10092)
  examples/spouts/go-rabbitmq-spout/source/go.mod
Due: run-core-jobs

[CORE-2300] Update notional dex dependency for spout example (#10093)
  examples/spouts/go-rabbitmq-spout/source/go.mod
Due: run-core-jobs

fix tests
  src/server/pachyderm_test.go
Due: run-core-jobs

remove debug history
  src/server/pachyderm_test.go
Due: run-core-jobs

fix comment
  src/server/pfs/server/source.go
Due: run-core-jobs

Update some deps
  MODULE.bazel.lock
  go.mod
  go.sum
Due: run-core-jobs

[NT-1264] Explore view does not update after changing branches (#10079)
  jupyter-extension/src/utils/components/DropdownCombobox/DropdownCombobox.tsx
Due: run-jupyter-jobs

add a field that redacts strings; use it to redact the database password when logging the DSN
  src/internal/dbutil/db.go
  src/internal/log/field.go
  src/internal/log/field_test.go
Due: run-core-jobs

Clamp DOCKER_API_VERSION
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Try updating the Ubuntu image
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Avoid logging the database password (#10094)
  src/internal/dbutil/db.go
  src/internal/log/field.go
  src/internal/log/field_test.go
Due: run-core-jobs

[2.10.x] Avoid logging the database password (#10095)
  src/internal/dbutil/db.go
  src/internal/log/field.go
  src/internal/log/field_test.go
Due: run-core-jobs

Thread context through dbutil’s callers
  src/internal/dbutil/db.go
  src/internal/dockertestenv/postgres.go
  src/internal/pachd/testpachd.go
  src/internal/serviceenv/service_env.go
  src/internal/setupenv/db.go
  src/internal/setupenv/setupenv.go
  src/internal/testutil/db.go
  src/server/cmd/pachd/main.go
Due: run-core-jobs

Fix two executables
  src/testing/cmds/go-test-results/cleanup-cron/main.go
  src/testing/cmds/go-test-results/egress/main.go
Due: run-core-jobs

Update tests for dbutils
  src/internal/clusterstate/v2.5.0/collection_test.go
  src/internal/clusterstate/v2.8.0/collection_test.go
  src/internal/collection/postgres_collection_test.go
  src/internal/watch/postgres/impl_test.go
Due: run-core-jobs

bump version of requests in label-studio tests (#10088)
  label-studio/requirements.txt
Due: run-label-studio-jobs

YesError
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

ListDatum -> CreateDatum in test view
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
Due: run-jupyter-jobs

Bump python sdk dependency version
  jupyter-extension/requirements.txt
Due: run-jupyter-jobs

[CORE-2304] Thread context through dbutil’s callers (#10096)
  src/internal/clusterstate/v2.5.0/collection_test.go
  src/internal/clusterstate/v2.8.0/collection_test.go
  src/internal/collection/postgres_collection_test.go
  src/internal/dbutil/db.go
  src/internal/dockertestenv/postgres.go
  src/internal/pachd/testpachd.go
  src/internal/serviceenv/service_env.go
  src/internal/setupenv/db.go
  src/internal/setupenv/setupenv.go
  src/internal/testutil/db.go
  src/internal/watch/postgres/impl_test.go
  src/server/cmd/pachd/main.go
  src/testing/cmds/go-test-results/cleanup-cron/main.go
  src/testing/cmds/go-test-results/egress/main.go
Due: run-core-jobs

CDR initial implementation
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/cdr/__init__.py
  python-sdk/pachyderm_sdk/api/storage/__init__.py
  src/cdr/cdr.go
  src/cdr/cdr.pb.go
  src/cdr/cdr.pb.validate.go
  src/cdr/cdr.pb.zap.go
  src/cdr/cdr.proto
  src/cdr/resolver.go
  src/internal/jsonschema/cdr/Cipher.schema.json
  src/internal/jsonschema/cdr/Compress.schema.json
  src/internal/jsonschema/cdr/Concat.schema.json
  src/internal/jsonschema/cdr/ContentHash.schema.json
  src/internal/jsonschema/cdr/HTTP.schema.json
  src/internal/jsonschema/cdr/Ref.schema.json
  src/internal/jsonschema/cdr/SizeLimits.schema.json
  src/internal/jsonschema/cdr/Slice.schema.json
  src/internal/jsonschema/storage/ReadFilesetCDRResponse.schema.json
  src/internal/middleware/auth/interceptor.go
  src/internal/pachd/full.go
  src/internal/storage/chunk/cdr.go
  src/internal/storage/chunk/client.go
  src/internal/storage/chunk/storage.go
  src/internal/storage/chunk/util.go
  src/internal/storage/server.go
  src/internal/storage/server_test.go
  src/openapi/pachyderm_api.swagger.json
  src/storage/fileset.pb.go
  src/storage/fileset.pb.gw.go
  src/storage/fileset.pb.validate.go
  src/storage/fileset.pb.zap.go
  src/storage/fileset.proto
  src/storage/fileset_grpc.pb.go
  src/typescript/cdr/cdr.pb.ts
  src/typescript/storage/fileset.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Bazel
  src/cdr/BUILD.bazel
  src/internal/jsonschema/BUILD.bazel
  src/internal/storage/BUILD.bazel
  src/internal/storage/chunk/BUILD.bazel
  src/storage/BUILD.bazel
Due: run-core-jobs

Remove superfluous check
  src/server/logs/logs.go
Due: run-core-jobs

skip broken test. Added comment with epic FRON-1500
  cypress/e2e/unauthenticated/FileBrowser.ts
Due: none

skip broken test. Added comment with epic FRON-1500
  cypress/e2e/unauthenticated/Repos.ts
Due: none

bump pachyderm version
  version.json
Due: run-core-jobs

update protos
  backend/src/proto/proto/admin/admin.proto
  backend/src/proto/proto/admin/admin_pb.d.ts
  backend/src/proto/proto/admin/admin_pb.js
  backend/src/proto/proto/auth/auth.proto
  backend/src/proto/proto/auth/auth_pb.d.ts
  backend/src/proto/proto/auth/auth_pb.js
  backend/src/proto/proto/pfs/pfs.proto
  backend/src/proto/proto/pfs/pfs_grpc_pb.d.ts
  backend/src/proto/proto/pfs/pfs_grpc_pb.js
  backend/src/proto/proto/pfs/pfs_pb.d.ts
  backend/src/proto/proto/pfs/pfs_pb.js
  backend/src/proto/proto/pps/pps.proto
  backend/src/proto/proto/pps/pps_grpc_pb.d.ts
  backend/src/proto/proto/pps/pps_grpc_pb.js
  backend/src/proto/proto/pps/pps_pb.d.ts
  backend/src/proto/proto/pps/pps_pb.js
Due: none

fix file issue bug
  backend/src/handlers/handleFileUpload.ts
Due: none

move some packages around so logs code can use testloki
  MODULE.bazel.lock
  src/internal/lokiutil/testloki/BUILD.bazel
  src/internal/lokiutil/testloki/load.go
  src/internal/lokiutil/testloki/logger.go
  src/internal/lokiutil/testloki/logger_test.go
  src/internal/pachd/BUILD.bazel
  src/internal/pachd/testpachd.go
  src/testing/testpachd/main.go
Due: run-core-jobs

[CORE-2259] Use real Loki logs command tests (#10049)
  .bazelrc
  BUILD.bazel
  src/internal/storage/BUILD.bazel
  src/server/auth/server/testing/BUILD.bazel
  src/server/logs/cmds/BUILD.bazel
  src/server/logs/cmds/cmds_test.go
  src/server/logs/internal_test.go
  src/server/logs/logs.go
  src/server/logs/query.go
  src/server/logs/server/BUILD.bazel
  src/server/metadata/server/testing/BUILD.bazel
  src/server/pfs/server/testing/BUILD.bazel
Due: run-core-jobs

Respond to feedback
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/jupyterlab_pachyderm/tests/conftest.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
Due: run-jupyter-jobs

run eslint
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/mountDrive.ts
Due: run-jupyter-jobs

Downgrade Ubuntu image
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs
