Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

make proto
  goreleaser/docker-arm.yml
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/internal/jsonschema/pjs/InspectQueueResponse.schema.json
  src/internal/jsonschema/pjs/ListQueueResponse.schema.json
  src/internal/jsonschema/pjs/QueueInfo.schema.json
  src/internal/jsonschema/pjs/QueueInfoDetails.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pjs/pjs.pb.go
  src/pjs/pjs.pb.validate.go
  src/pjs/pjs.pb.zap.go
  src/pjs/pjs.proto
  src/typescript/pjs/pjs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

implementation
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
  src/internal/pjsdb/queue_crud.go
Due: run-core-jobs

fix test
  src/internal/pjs/server_internal_test.go
Due: run-core-jobs

redirect internal dex requests to external dex
  src/internal/pjs/BUILD.bazel
  src/server/identity/server/BUILD.bazel
  src/server/identity/server/dex_api.go
Due: run-core-jobs

fix lint error
  src/server/identity/server/dex_api.go
Due: run-core-jobs

.bazelrc: test_output=errors
  .bazelrc
Due: run-core-jobs

proto change: progam -> repeated program
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/internal/jsonschema/pjs/InspectQueueResponse.schema.json
  src/internal/jsonschema/pjs/ListQueueResponse.schema.json
  src/internal/jsonschema/pjs/QueueInfo.schema.json
  src/internal/jsonschema/pjs/QueueInfoDetails.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pjs/pjs.pb.go
  src/pjs/pjs.pb.validate.go
  src/pjs/pjs.pb.zap.go
  src/pjs/pjs.proto
  src/typescript/pjs/pjs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

implement PR feedback
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
  src/internal/pjsdb/pjsdb.go
  src/internal/pjsdb/queue_crud.go
  src/internal/pjsdb/queue_iterator.go
Due: run-core-jobs

fix build
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
Due: run-core-jobs

Update label studio to require 2.9
  label-studio/requirements.txt
Due: run-label-studio-jobs

fix tests
  src/internal/pjsdb/queue_iterator.go
Due: run-core-jobs

remove irrelevant file
  goreleaser/docker-arm.yml
Due: run-core-jobs

bazel make proto
  proto-docs.json
  proto-docs.md
  src/internal/jsonschema/pjs/InspectQueueResponse.schema.json
  src/internal/jsonschema/pjs/ListQueueResponse.schema.json
  src/internal/jsonschema/pjs/QueueInfo.schema.json
  src/internal/jsonschema/pjs/QueueInfoDetails.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pjs/pjs.pb.go
Due: run-core-jobs

Replace pkg/errors with errors
  src/internal/analyzers/wrapcheck/wrapcheck.go
  src/internal/errors/BUILD.bazel
  src/internal/errors/as.go
  src/internal/errors/errors.go
  src/internal/errors/multi_test.go
  src/internal/errors/with-stack.go
Due: run-core-jobs

Complete switch to type-safe generic golang-lru v2
  go.mod
  go.sum
  src/cdr/resolver.go
  src/internal/pfssync/cache_client.go
  src/internal/storage/fileset/index/cache.go
Due: run-core-jobs

[MLDM-35] InspectQueue (#10312)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/internal/jsonschema/pjs/InspectQueueResponse.schema.json
  src/internal/jsonschema/pjs/ListQueueResponse.schema.json
  src/internal/jsonschema/pjs/QueueInfo.schema.json
  src/internal/jsonschema/pjs/QueueInfoDetails.schema.json
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
  src/internal/pjsdb/pjsdb.go
  src/internal/pjsdb/queue_crud.go
  src/internal/pjsdb/queue_iterator.go
  src/openapi/pachyderm_api.swagger.json
  src/pjs/pjs.pb.go
  src/pjs/pjs.pb.validate.go
  src/pjs/pjs.pb.zap.go
  src/pjs/pjs.proto
  src/typescript/pjs/pjs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Gazelle
  MODULE.bazel
  src/cdr/BUILD.bazel
  src/internal/pfssync/BUILD.bazel
  src/internal/storage/fileset/index/BUILD.bazel
Due: run-core-jobs

unpin pachyderm-sdk version for LabelStudio tests
  .circleci/main.yml
  label-studio/Makefile
  label-studio/requirements.txt
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

attempt to downgrade python in the right place
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

upgrade go and ubuntu
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

upgrade github.com/opencontainers/runc@v1.1.14
  go.mod
  go.sum
Due: run-core-jobs

downgrade python to 3.11
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

tidy
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

also fix spouts example
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

i give up on passing the python version through
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

qemu no longer in ubuntu, but we only need -user-static anyway
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

let the circleci debugging begin
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

upgrade docker to resolve a govulncheck warning
  go.mod
  go.sum
Due: run-core-jobs

Proof of concept for PJS task.Doer
  src/internal/pjs/BUILD.bazel
  src/internal/pjs/api_server.go
  src/internal/pjs/doer.go
  src/internal/pjs/doer_test.go
Due: run-core-jobs

upgrade docker to resolve a govulncheck warning (#10315)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  label-studio/Makefile
  label-studio/requirements.txt
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[MLDM-78] Complete switch to type-safe generic golang-lru v2 (#10317)
  MODULE.bazel
  go.mod
  go.sum
  src/cdr/BUILD.bazel
  src/cdr/resolver.go
  src/internal/pfssync/BUILD.bazel
  src/internal/pfssync/cache_client.go
  src/internal/storage/fileset/index/BUILD.bazel
  src/internal/storage/fileset/index/cache.go
Due: run-core-jobs

Don’t ignore error
  src/internal/pjs/doer_test.go
Due: run-core-jobs

fix processQueue
  src/internal/pjs/server_internal_test.go
  src/internal/pjsdb/job_crud.go
Due: run-core-jobs

upgrade to go 1.23.1
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  examples/spouts/go-rabbitmq-spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix type cast
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
  src/internal/pjsdb/job_crud.go
Due: run-core-jobs

[MLDM-52] Delete Job RPC without cancelling on behalf of user.
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/job_crud_test.go
Due: run-core-jobs

upgrade to go 1.23.0 (#10287)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  examples/spouts/go-rabbitmq-spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

do not merge - envoy configuration for external dex
  etc/generate-envoy-config/pachyderm-services.libsonnet
Due: run-core-jobs

add response logging w/ test
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/tests/test_cdr.py
Due: run-python-sdk-jobs
