Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

[PFS-248] Normalize commit diffs.
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/commit_diffs.go
  src/internal/clusterstate/v2.7.0_test.go
  src/server/pfs/server/commit_store.go
Due: run-core-jobs

Add pachctl to PATH in det notebooks (#10101)
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

fix static check
  src/pfs/pfs.go
Due: run-core-jobs

Update pfs.go
  src/pfs/pfs.go
Due: run-core-jobs

gofmt pfs.go
  src/pfs/pfs.go
Due: run-core-jobs

fix broken alpha release
  .circleci/main.yml
  Makefile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add the --skip-validate
  Makefile
Due: run-core-jobs

fix test
  src/pfs/pfs.go
Due: run-core-jobs

bump pachyderm version
  version.json
Due: run-core-jobs

fix broken alpha release (#10108)
  .circleci/main.yml
  Makefile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[Backport] Several dependency updates for dependabot flagged vulnerabilities in the jupyterlab extension (#10109)
  jupyter-extension/package-lock.json
Due: run-jupyter-jobs

Update GraphQL, Storybook dependencies (#2089)
  api-throughput-test/package-lock.json
  api-throughput-test/package.json
  frontend/components/src/Checkbox/Checkbox.stories.tsx
  frontend/components/src/Checkbox/PureCheckbox.stories.tsx
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: run-core-jobs

fix: change '-' to 'Unchanged' in sidebar of commit history (#2093)
  cypress/e2e/unauthenticated/FileBrowser.ts
  frontend/src/views/FileBrowser/components/FileHistory/components/FileHistoryItem/FileHistoryItem.tsx
Due: none

fix: update frontend jest test examples to correct syntax (#2092)
  README.md
Due: run-core-jobs

follow syntax "^^" and "^1"
  src/pfs/pfs_test.go
Due: run-core-jobs

Update comment
  src/pfs/pfs.go
Due: run-core-jobs

[PFS-222] Remove Pachw fallback options.
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  src/internal/pachconfig/config.go
  src/internal/pachd/env.go
  src/server/pps/server/monitor.go
  src/server/pps/server/server.go
  src/server/pps/server/worker_rc.go
Due: run-core-jobs

[PFS-248] Normalize Commit Diffs (#10105)
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/commit_diffs.go
  src/internal/clusterstate/v2.7.0_test.go
  src/server/pfs/server/commit_store.go
Due: run-core-jobs

[PFS-229] Implement ancestor-of and branch-root commit picker parsing (#10099)
  src/pfs/pfs.go
  src/pfs/pfs_test.go
Due: run-core-jobs

[INT-1265] Backport to 2.10.x (#10100)
  jupyter-extension/cypress/support/commands.js
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/jupyterlab_pachyderm/tests/conftest.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/src/plugins/mount/__tests__/pollMounts.test.tsx
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/mountDrive.ts
  jupyter-extension/src/plugins/mount/pollMounts.ts
Due: run-jupyter-jobs

upgrade to go 1.22.4
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

upgrade to go 1.22.4 (#10112)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[Backport 2.10] Add pachctl to PATH in det notebooks (#10101) (#10107)
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

fail if there's an unexpected error
  src/server/auth/server/api_server.go
Due: run-core-jobs

Deactivate Auth when helm value pachd.activateAuth is toggled to false
  src/server/auth/server/api_server.go
Due: run-core-jobs

update (#2097)
  README.md
  backend/package-lock.json
  backend/package.json
Due: run-core-jobs

[PFS-222] Remove PachW Fallback Options (#10111)
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  src/internal/pachconfig/config.go
  src/internal/pachd/env.go
  src/server/pps/server/monitor.go
  src/server/pps/server/server.go
  src/server/pps/server/worker_rc.go
Due: run-core-jobs

add forget rpc in pfs.proto
  src/pfs/pfs.proto
Due: run-core-jobs

add generated files
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/pfs_v2/ForgetCommitRequest.schema.json
  src/internal/jsonschema/pfs_v2/ForgetCommitResponse.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.gw.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs_grpc.pb.go
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

batched loki iterator
  .ignore
  .rgignore
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/logs/__init__.py
  src/internal/jsonschema/logs/GetLogsRequest.schema.json
  src/internal/jsonschema/logs/GetLogsResponse.schema.json
  src/internal/jsonschema/logs/LogFilter.schema.json
  src/internal/jsonschema/logs/PagingHint.schema.json
  src/internal/jsonschema/logs/TimeRangeLogFilter.schema.json
  src/internal/lokiutil/client/BUILD.bazel
  src/internal/lokiutil/client/batched.go
  src/internal/lokiutil/client/batched_test.go
  src/internal/lokiutil/client/client.go
  src/internal/lokiutil/client/json.go
  src/internal/lokiutil/client/testdata/simple.txt
  src/internal/lokiutil/client/timeiterator.go
  src/internal/lokiutil/client/timeiterator_test.go
  src/internal/lokiutil/testloki/BUILD.bazel
  src/internal/lokiutil/testloki/load.go
  src/internal/lokiutil/testloki/logger_test.go
  src/logs/logs.pb.go
  src/logs/logs.proto
  src/openapi/pachyderm_api.swagger.json
  src/server/logs/BUILD.bazel
  src/server/logs/cmds/BUILD.bazel
  src/server/logs/cmds/cmds.go
  src/server/logs/internal_test.go
  src/server/logs/logs.go
  src/server/logs/logs_test.go
  src/server/logs/query.go
  src/server/logs/testdata/simple.txt
Due: run-core-jobs, run-python-sdk-jobs

fix typo in logs proto docs
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/logs/__init__.py
  src/logs/logs.pb.go
  src/logs/logs.proto
  src/openapi/pachyderm_api.swagger.json
Due: run-core-jobs, run-python-sdk-jobs

Add some more tests for logs (#10022)
  .ignore
  .rgignore
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/logs/__init__.py
  src/internal/jsonschema/logs/GetLogsRequest.schema.json
  src/internal/jsonschema/logs/GetLogsResponse.schema.json
  src/internal/jsonschema/logs/LogFilter.schema.json
  src/internal/jsonschema/logs/PagingHint.schema.json
  src/internal/jsonschema/logs/TimeRangeLogFilter.schema.json
  src/internal/lokiutil/client/BUILD.bazel
  src/internal/lokiutil/client/batched.go
  src/internal/lokiutil/client/batched_test.go
  src/internal/lokiutil/client/client.go
  src/internal/lokiutil/client/json.go
  src/internal/lokiutil/client/testdata/simple.txt
  src/internal/lokiutil/client/timeiterator.go
  src/internal/lokiutil/client/timeiterator_test.go
  src/internal/lokiutil/testloki/BUILD.bazel
  src/internal/lokiutil/testloki/load.go
  src/internal/lokiutil/testloki/logger_test.go
  src/logs/logs.pb.go
  src/logs/logs.proto
  src/openapi/pachyderm_api.swagger.json
  src/server/logs/BUILD.bazel
  src/server/logs/cmds/BUILD.bazel
  src/server/logs/cmds/cmds.go
  src/server/logs/internal_test.go
  src/server/logs/logs.go
  src/server/logs/logs_test.go
  src/server/logs/query.go
  src/server/logs/testdata/simple.txt
Due: run-core-jobs, run-python-sdk-jobs

Update dependencies for jupyterlab v4.0
  MODULE.bazel.lock
  jupyter-extension/package-lock.json
  jupyter-extension/package.json
  jupyter-extension/requirements-dev-lock-darwin.txt
  jupyter-extension/requirements-dev.txt
  jupyter-extension/src/plugins/mount/__tests__/mount.test.tsx
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/types.ts
Due: run-core-jobs, run-jupyter-jobs

Bazel
  src/internal/migrations/BUILD.bazel
  src/internal/obj/BUILD.bazel
  src/internal/obj/integrationtests/BUILD.bazel
  src/internal/storage/BUILD.bazel
  src/internal/storage/kv/BUILD.bazel
  src/server/pfs/server/testing/BUILD.bazel
Due: run-core-jobs

chore: add ts-node to deps (#2107)
  backend/package-lock.json
  backend/package.json
Due: none

fix sed command in det startupHook
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs
