Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

run anything that uses the pachd container as 65532; since that has an entry in /etc/passwd
  etc/helm/pachyderm/templates/enterprise-server/deployment.yaml
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/templates/pachw/deployment.yaml
  etc/helm/pachyderm/templates/preflight/job.yaml
  etc/helm/pachyderm/templates/restore-snapshot/job.yaml
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

regen protos; sql dump fileset is an int instead of a string
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/snapshot/__init__.py
  src/BUILD.bazel
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/snapshot/InspectSnapshotResponse.schema.json
  src/internal/jsonschema/snapshot/ListSnapshotResponse.schema.json
  src/internal/jsonschema/snapshot/SnapshotInfo.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/snapshot/BUILD.bazel
  src/snapshot/snapshot.pb.go
  src/snapshot/snapshot.pb.validate.go
  src/snapshot/snapshot.pb.zap.go
  src/snapshot/snapshot.proto
  src/typescript/snapshot/snapshot.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

run gazelle after editing protos
  src/BUILD.bazel
  src/client/BUILD.bazel
  src/internal/snapshotdb/BUILD.bazel
Due: run-core-jobs

adjust snapshot api to use pins instead of fileset tokens
  src/internal/clusterstate/v2.12.0/clusterstate.go
  src/internal/clusterstate/v2.12.0/snapshot.go
  src/internal/snapshot/pretty/pretty.go
  src/internal/snapshot/recovery.go
  src/internal/snapshot/recovery_test.go
  src/internal/snapshot/server_internal_test.go
  src/internal/snapshotdb/snapshotdb.go
  src/internal/storage/fileset/fileset.go
Due: run-core-jobs

fix lint error
  src/internal/snapshot/recovery_test.go
Due: run-core-jobs

restore-snapshot job needed pachyderm-storage-secret env
  etc/helm/pachyderm/templates/restore-snapshot/job.yaml
Due: run-core-jobs

make column names shorter; isolate database schema; unordered writer; simplify fileset upload
  src/internal/clusterstate/v2.12.0/snapshot.go
  src/internal/snapshot/recovery.go
  src/internal/snapshot/recovery_test.go
  src/internal/snapshotdb/snapshot_crud.go
  src/internal/snapshotdb/snapshotdb.go
Due: run-core-jobs

remove pins from the public api
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/snapshot/__init__.py
  src/internal/jsonschema/snapshot/InspectSnapshotResponse.schema.json
  src/internal/jsonschema/snapshot/ListSnapshotResponse.schema.json
  src/internal/jsonschema/snapshot/SnapshotInfo.schema.json
  src/internal/snapshot/api_server.go
  src/internal/snapshot/pretty/pretty.go
  src/internal/snapshot/recovery.go
  src/internal/snapshot/recovery_test.go
  src/internal/snapshot/server_internal_test.go
  src/internal/snapshotdb/snapshot_crud.go
  src/internal/snapshotdb/snapshot_crud_test.go
  src/internal/snapshotdb/snapshotdb.go
  src/openapi/pachyderm_api.swagger.json
  src/snapshot/snapshot.pb.go
  src/snapshot/snapshot.pb.validate.go
  src/snapshot/snapshot.pb.zap.go
  src/snapshot/snapshot.proto
  src/typescript/snapshot/snapshot.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

close temp file handle
  src/internal/snapshot/recovery.go
Due: run-core-jobs

sort misc grpc services
  src/server/misc/cmds/grpc.go
Due: run-core-jobs

restore-snapshot job requires pachyderm-storage-secret env (#10418)
  etc/helm/pachyderm/templates/restore-snapshot/job.yaml
Due: run-core-jobs

capitalize "Delete" in pachctl help (#10410)
  src/internal/snapshot/cmds/cmds.go
Due: run-core-jobs

Use FileSet pins in snapshots (#10412)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/snapshot/__init__.py
  src/BUILD.bazel
  src/client/BUILD.bazel
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/clusterstate/v2.12.0/clusterstate.go
  src/internal/clusterstate/v2.12.0/snapshot.go
  src/internal/jsonschema/snapshot/InspectSnapshotResponse.schema.json
  src/internal/jsonschema/snapshot/ListSnapshotResponse.schema.json
  src/internal/jsonschema/snapshot/SnapshotInfo.schema.json
  src/internal/snapshot/api_server.go
  src/internal/snapshot/pretty/pretty.go
  src/internal/snapshot/recovery.go
  src/internal/snapshot/recovery_test.go
  src/internal/snapshot/server_internal_test.go
  src/internal/snapshotdb/BUILD.bazel
  src/internal/snapshotdb/snapshot_crud.go
  src/internal/snapshotdb/snapshot_crud_test.go
  src/internal/snapshotdb/snapshotdb.go
  src/internal/storage/fileset/fileset.go
  src/openapi/pachyderm_api.swagger.json
  src/server/misc/cmds/grpc.go
  src/snapshot/BUILD.bazel
  src/snapshot/snapshot.pb.go
  src/snapshot/snapshot.pb.validate.go
  src/snapshot/snapshot.pb.zap.go
  src/snapshot/snapshot.proto
  src/typescript/snapshot/snapshot.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

fix base
  src/internal/snapshot/api_server.go
  src/internal/snapshot/recovery.go
Due: run-core-jobs

cascade deletes when deleting snapshot
  src/internal/snapshot/api_server.go
  src/internal/snapshot/recovery.go
  src/internal/snapshot/recovery_test.go
  src/internal/storage/fileset/storage.go
Due: run-core-jobs

Fix PJS API for RC (#10417)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/pjs/AwaitJobRequest.schema.json
  src/internal/jsonschema/pjs/AwaitJobResponse.schema.json
  src/internal/jsonschema/pjs/AwaitRequest.schema.json
  src/internal/jsonschema/pjs/ListJobResponse.schema.json
  src/internal/jsonschema/pjs/ListQueueResponse.schema.json
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/pjsdb.go
  src/openapi/pachyderm_api.swagger.json
  src/pjs/pjs.pb.go
  src/pjs/pjs.pb.gw.go
  src/pjs/pjs.pb.validate.go
  src/pjs/pjs.pb.zap.go
  src/pjs/pjs.proto
  src/pjs/pjs_grpc.pb.go
  src/typescript/pjs/pjs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Cascade when deleting snapshots (#10413)
  src/internal/snapshot/api_server.go
  src/internal/snapshot/recovery.go
  src/internal/snapshot/recovery_test.go
  src/internal/storage/fileset/storage.go
Due: run-core-jobs

add inspect snapshot cmd
  src/internal/snapshot/cmds/cmds.go
  src/internal/snapshot/pretty/BUILD.bazel
  src/internal/snapshot/pretty/pretty.go
Due: run-core-jobs

implement feedback
  src/internal/snapshot/pretty/pretty.go
Due: run-core-jobs

QueryRowxContext has a sneaky error
  src/internal/pfsdb/projects.go
Due: run-core-jobs

[MLDM-140] add inspect snapshot cmd (#10419)
  src/internal/snapshot/cmds/cmds.go
  src/internal/snapshot/pretty/BUILD.bazel
  src/internal/snapshot/pretty/pretty.go
Due: run-core-jobs

fix cmd and testpachd
  src/internal/snapshot/pretty/pretty.go
  src/testing/testpachd/BUILD.bazel
Due: run-core-jobs

make proto
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/snapshot/__init__.py
  src/internal/jsonschema/snapshot/InspectSnapshotResponse.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/snapshot/snapshot.pb.go
  src/snapshot/snapshot.pb.validate.go
  src/snapshot/snapshot.pb.zap.go
  src/snapshot/snapshot.proto
  src/typescript/snapshot/snapshot.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

gazel
  src/internal/jsonschema/BUILD.bazel
  src/testing/testpachd/BUILD.bazel
Due: run-core-jobs

add pin implementation in api_server
  src/internal/snapshot/api_server.go
Due: run-core-jobs

implement feedback
  src/internal/snapshot/cmds/cmds.go
  src/internal/snapshot/pretty/pretty.go
Due: run-core-jobs

[MLDM-140] return fileset when inspectSnapshot; fix bazel (#10420)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/snapshot/__init__.py
  src/internal/jsonschema/BUILD.bazel
  src/internal/jsonschema/snapshot/InspectSnapshotResponse.schema.json
  src/internal/snapshot/api_server.go
  src/internal/snapshot/cmds/cmds.go
  src/internal/snapshot/pretty/pretty.go
  src/openapi/pachyderm_api.swagger.json
  src/snapshot/snapshot.pb.go
  src/snapshot/snapshot.pb.validate.go
  src/snapshot/snapshot.pb.zap.go
  src/snapshot/snapshot.proto
  src/testing/testpachd/BUILD.bazel
  src/typescript/snapshot/snapshot.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

fix auth
  src/internal/snapshot/cmds/cmds.go
Due: run-core-jobs

upgrade rules_go
  MODULE.bazel
  MODULE.bazel.lock
  src/internal/analyzers/depguard/depguard.go
Due: run-core-jobs

upgrade rules_go go module
  go.mod
  go.sum
Due: run-core-jobs

go mod tidy
  go.mod
  go.sum
Due: run-core-jobs

Upgrade rules_go (#10422)
  MODULE.bazel
  MODULE.bazel.lock
  go.mod
  go.sum
  src/internal/analyzers/depguard/depguard.go
Due: run-core-jobs

[MLDM-140] fix auth! (#10421)
  src/internal/snapshot/cmds/cmds.go
Due: run-core-jobs

set version to 2.13 after 2.12 has been forked for release
  workspace_status.sh
Due: run-core-jobs

bump base-revision dc for release branch
  .circleci/config.yml
  etc/helm/pachyderm/Chart.yaml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

bump base-revision dc for release branch (#10424)
  .circleci/config.yml
  etc/helm/pachyderm/Chart.yaml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

set version to 2.13 after 2.12 has been forked for release (#10423)
  workspace_status.sh
Due: run-core-jobs

fix actual bug and revert other changes
  python-sdk/tests/test_pfs.py
  src/internal/dbutil/tx.go
  src/internal/pfsdb/projects.go
Due: run-core-jobs, run-python-sdk-jobs

revert accidental addition
  python-sdk/tests/test_pfs.py
Due: run-python-sdk-jobs

really revert this time
  python-sdk/tests/fixtures.py
  python-sdk/tests/test_pfs.py
Due: run-python-sdk-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
