Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Downgrade Ubuntu image
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add test case
  src/pfs/pfs_test.go
Due: run-core-jobs

parsing
  src/pfs/pfs.go
Due: run-core-jobs

[INT-1265] Use server-side state for branch_uri (#10018)
  jupyter-extension/cypress/support/commands.js
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/jupyterlab_pachyderm/tests/conftest.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/src/plugins/mount/__tests__/pollMounts.test.tsx
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/mountDrive.ts
  jupyter-extension/src/plugins/mount/pollMounts.ts
Due: run-jupyter-jobs

Try updating label studio
  label-studio/requirements.txt
Due: run-label-studio-jobs

Update label studio to require 2.9
  label-studio/requirements.txt
Due: run-label-studio-jobs

Update values.yaml
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Update for when branch is nilled out of commit
  python-sdk/pachyderm_sdk/api/pfs/_additions.py
  python-sdk/tests/test_pfs_additions.py
Due: run-python-sdk-jobs

Add repo back to identify commit
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Due: run-jupyter-jobs

Reset datum list for mount datums call
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Due: run-jupyter-jobs

Update server_test.go
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

Update validator.go
  src/internal/storage/fileset/validator.go
Due: run-core-jobs

[PFS-239] WalkFile and ListFile return incorrect results when directories and files have the same name (#10050)
  src/internal/storage/fileset/BUILD.bazel
  src/internal/storage/fileset/validator.go
  src/server/pachyderm_test.go
  src/server/pfs/server/compaction.go
  src/server/pfs/server/source.go
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

Modify commit_uri construction
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Due: run-jupyter-jobs

[PFS-68] Write migration for commit totals.
  src/internal/clusterstate/BUILD.bazel
  src/internal/clusterstate/current.go
  src/internal/clusterstate/v2.10.0/pipelines_test.go
  src/internal/clusterstate/v2.11.0.go
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/commit_totals.go
  src/internal/clusterstate/v2.11.0_test.go
  src/internal/clusterstate/v2.7.0_test.go
  src/internal/pfsdb/commits.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/commit_set.go
  src/server/pfs/server/commit_store.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/driver_fsck.go
  src/server/pfs/server/master.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/url.go
Due: run-core-jobs

[PFS-68] incorporate PR feedback.
  src/internal/clusterstate/v2.11.0/commit_totals.go
  src/internal/clusterstate/v2.11.0_test.go
Due: run-core-jobs

FRON-1484: add user metadata tab for repo sidebar (#2061)
  frontend/src/components/CollapsibleSection/CollapsibleSection.module.css
  frontend/src/components/CollapsibleSection/CollapsibleSection.tsx
  frontend/src/components/CollapsibleSection/index.ts
  frontend/src/mocks/commits.ts
  frontend/src/mocks/repos.ts
  frontend/src/views/Project/components/ProjectSidebar/__tests__/ProjectSidebar.test.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/RepoDetails.module.css
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/RepoDetails.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/RepoInfo/RepoInfo.module.css
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/RepoInfo/RepoInfo.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/RepoInfo/index.ts
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/UserMetadata/UserMetadata.module.css
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/UserMetadata/UserMetadata.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/UserMetadata/components/EditMetadataModal/EditMetadataModal.module.css
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/UserMetadata/components/EditMetadataModal/EditMetadataModal.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/UserMetadata/components/EditMetadataModal/index.ts
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/UserMetadata/index.ts
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/hooks/useRepoDetails.ts
Due: none

PR feedback
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/types.ts
Due: run-jupyter-jobs

Raise error if no repo name
  python-sdk/pachyderm_sdk/api/pfs/_additions.py
Due: run-python-sdk-jobs

[Jupyter] `ListDatum` -> `CreateDatum` used in Test View (#10047)
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/requirements.txt
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/types.ts
Due: run-jupyter-jobs

[Python SDK] Update `Commit` URI logic due to nil branch (#10104)
  python-sdk/pachyderm_sdk/api/pfs/_additions.py
  python-sdk/tests/test_pfs_additions.py
Due: run-python-sdk-jobs

Update pfs_test.go
  src/pfs/pfs_test.go
Due: run-core-jobs

Update rule, update test cases
  src/pfs/pfs_test.go
Due: run-core-jobs

Update pfs.go using regex
  src/pfs/pfs.go
Due: run-core-jobs

Update pfs.go
  src/pfs/pfs.go
Due: run-core-jobs

Refactor ReadFileset tests
  src/internal/storage/server_test.go
Due: run-core-jobs

Address feedback
  python-sdk/pachyderm_sdk/api/cdr/__init__.py
  src/BUILD.bazel
  src/cdr/BUILD.bazel
  src/cdr/cdr.pb.go
  src/cdr/cdr.proto
  src/cdr/resolver.go
  src/internal/storage/chunk/client.go
Due: run-core-jobs, run-python-sdk-jobs

Fix errors import
  src/internal/storage/chunk/BUILD.bazel
  src/internal/storage/chunk/cdr.go
Due: run-core-jobs

Lint
  src/cdr/resolver.go
  src/internal/storage/chunk/cdr.go
  src/internal/storage/server_test.go
Due: run-core-jobs

Bazel jupyter
  MODULE.bazel.lock
  jupyter-extension/requirements-lock.txt
Due: run-core-jobs, run-jupyter-jobs

[PFS-68] integrate PR feedback.
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/commit_totals.go
  src/internal/clusterstate/v2.11.0_test.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/commit_store.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_fsck.go
Due: run-core-jobs

[PFS-68] Normalize Commit Totals (#10037)
  src/internal/clusterstate/BUILD.bazel
  src/internal/clusterstate/current.go
  src/internal/clusterstate/v2.10.0/pipelines_test.go
  src/internal/clusterstate/v2.11.0.go
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/commit_totals.go
  src/internal/clusterstate/v2.11.0_test.go
  src/internal/clusterstate/v2.7.0_test.go
  src/internal/pfsdb/commits.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/commit_set.go
  src/server/pfs/server/commit_store.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/driver_fsck.go
  src/server/pfs/server/master.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/url.go
Due: run-core-jobs

Add pachctl to PATH in det notebooks (#10101)
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
