Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-jupyter-jobs, run-core-jobs

fix alias filter (#8157)
  .circleci/main.yml
Due: none

[CORE-1041] Increase Coverage in the Enterprise Package
  src/internal/testpachd/mock_pachd.go
  src/internal/testpachd/real_env.go
  src/internal/testutil/auth.go
  src/internal/testutil/enterprise.go
  src/server/auth/server/testing/admin_test.go
  src/server/enterprise/server/api_server_test.go
Due: run-core-jobs

Snowflake Connector (Read and Write) (#8125)
  .circleci/main.yml
  Makefile
  etc/testing/circle/run_tests.sh
  src/integrations/connectors/snowflake/Dockerfile
  src/integrations/connectors/snowflake/README.md
  src/integrations/connectors/snowflake/snowflake-read.jsonnet
  src/integrations/connectors/snowflake/snowflake-write.jsonnet
  src/integrations/connectors/snowflake/snowflake_test.go
  src/integrations/connectors/snowflake/snowpach/main.go
  src/internal/pachsql/url_test.go
  src/internal/sdata/db_test.go
  src/internal/sdata/fuzz_test.go
  src/internal/sdata/sdata_test.go
  src/internal/sdata/testutil/generate.go
  src/internal/testsnowflake/snowflake.go
  src/server/pachyderm_test.go
Due: run-core-jobs

pipeline inputs typo fix (#8161)
  doc/mkdocs-2.3.x.yml
  doc/mkdocs-master.yml
Due: none

Add unit tests to storage layer for new compaction optimization and metadata sharding (#8162)
  src/internal/storage/fileset/compaction_test.go
  src/internal/storage/fileset/index/index_test.go
  src/internal/storage/fileset/index/option.go
  src/internal/storage/fileset/index/reader.go
Due: run-core-jobs

[CORE-895] re-enable transform tests (#8025)
  src/internal/dockertestenv/minio.go
  src/internal/ppsdb/ppsdb.go
  src/server/worker/pipeline/transform/common_test.go
  src/server/worker/pipeline/transform/transform_test.go
Due: run-core-jobs

regenerate protos as they've gone out of sync (#8166)
  Makefile
  etc/proto/test_no_changes.sh
Due: none

[CORE-859] Implement pachctl put file untar (#8167)
  src/internal/fsutil/file.go
  src/server/pfs/cmds/cmds.go
  src/server/pfs/cmds/cmds_test.go
Due: run-core-jobs

fix unbound variable error on release test envs (#8173)
  etc/testing/circle/run_release_tests.sh
Due: none

Disable S3 server when running in paused mode (#8168)
  src/internal/pachd/paused.go
Due: run-core-jobs

upgrade dex to 2.33.0 (via fork) (#8165)
  go.mod
  go.sum
Due: none

Don't run preview on master (#8188)
  .circleci/main.yml
Due: none

images needed for tests (#8185)
  .circleci/main.yml
Due: none

Ensure the publish job depends on the build (for workspace) (#8195)
  .circleci/main.yml
Due: none

bump console version for alpha (#8194)
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/values.yaml
Due: none

Shell check fix for config.sh (#8189)
  jupyter-extension/scripts/config.sh
Due: run-jupyter-jobs

Update Ubuntu version used in CircleCI (#8175)
  .circleci/main.yml
Due: none

bump doc versions (#8196)
  doc/mkdocs-1.13.x.yml
  doc/mkdocs-2.0.x.yml
  doc/mkdocs-2.1.x.yml
  doc/mkdocs-2.2.x.yml
  doc/mkdocs-2.3.x.yml
  doc/mkdocs-master.yml
Due: none

fix minor unbound variable in cust load test release workflow (#8197)
  etc/testing/circle/run_cust_release_tests.sh
  etc/testing/circle/run_release_tests.sh
Due: none

Add build cache to pachctl build (#8199)
  .circleci/main.yml
Due: none

New logo and tag line (#8205)
  README.md
  doc/docs/master/assets/images/Pachyderm_inline--1200w.png
Due: none

[Jupyter] Install pachd at specific commit (#8198)
  .circleci/main.yml
Due: none

Disable push redhat job (broken) (#8192)
  .circleci/main.yml
Due: none

Don't bother deleting stack if one does not exist, set correct working directory (#8206)
  .github/workflows/destroy_preview.yaml
Due: none

[CORE-1041] Expand RealEnv Mock and Convert Auth Integration Tests to Unit Tests (#8163)
  src/internal/metrics/metrics.go
  src/internal/pfssync/sync_test.go
  src/internal/serviceenv/service_env.go
  src/internal/serviceenv/testing.go
  src/internal/testpachd/real_env.go
  src/internal/testutil/auth.go
  src/server/auth/server/testing/admin_test.go
  src/server/auth/server/testing/auth_integration_test.go
  src/server/auth/server/testing/auth_test.go
  src/server/auth/server/testing/config_integration_test.go
  src/server/auth/server/testing/oidc_integration_test.go
  src/server/enterprise/server/api_server.go
  src/server/enterprise/server/env.go
  src/server/pfs/s3/master_test.go
  src/server/pfs/s3/util_test.go
  src/server/pfs/s3/worker_test.go
  src/server/pps/server/api_server_test.go
  src/server/pps/server/infra_driver.go
  src/server/pps/server/kube_driver.go
  src/server/pps/server/master.go
  src/server/pps/server/pipeline_controller.go
  src/server/pps/server/pipeline_controller_internal_test.go
  src/server/pps/server/pipeline_controller_test.go
  src/server/pps/server/pipeline_state_driver.go
  src/server/pps/server/server.go
  src/server/worker/datum/iterator_test.go
  src/server/worker/pipeline/transform/transform_test.go
Due: run-core-jobs

[CORE-1042] Cache Symlink Commit Uploads (#8172)
  src/internal/pfssync/cache_client.go
  src/server/worker/pipeline/transform/worker.go
Due: run-core-jobs

[CORE-860] Implement chunk prefetcher (#8200)
  src/internal/storage/chunk/storage.go
  src/internal/storage/chunk/util.go
  src/internal/storage/fileset/compaction.go
  src/internal/storage/fileset/fileset_test.go
  src/internal/storage/fileset/prefetcher.go
  src/internal/storage/fileset/prefetcher_test.go
  src/server/pfs/server/driver_file.go
Due: run-core-jobs

[CORE-1041] Refactor realEnv code into a separate package (#8208)
  src/internal/collection/postgres_collection_test.go
  src/internal/pfssync/sync_test.go
  src/internal/testpachd/mock_pachd.go
  src/internal/testpachd/mock_transaction.go
  src/internal/testpachd/realenv/real_env.go
  src/server/auth/server/testing/auth_test.go
  src/server/enterprise/server/api_server_test.go
  src/server/pfs/fuse/fuse_test.go
  src/server/pfs/fuse/server_test.go
  src/server/pfs/s3/master_test.go
  src/server/pfs/s3/worker_test.go
  src/server/pfs/server/testing/load_test.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/testing/storage_test.go
  src/server/pps/server/infra_driver.go
  src/server/pps/server/master.go
  src/server/pps/server/pipeline_controller.go
  src/server/pps/server/pipeline_controller_internal_test.go
  src/server/pps/server/pipeline_controller_test.go
  src/server/pps/server/pipeline_state_driver.go
  src/server/transaction/server/testing/server_test.go
  src/server/worker/datum/iterator_test.go
  src/server/worker/pipeline/transform/common_test.go
  src/server/worker/pipeline/transform/transform_test.go
Due: run-core-jobs

fix security issue GO-2022-0969 (#8210)
  go.mod
  go.sum
Due: none

Use external postgres secret when requested (#8138)
  etc/helm/pachyderm/templates/enterprise-server/deployment.yaml
  etc/helm/pachyderm/templates/enterprise-server/postgres-secret.yaml
  etc/helm/pachyderm/templates/pachd/deployment.yaml
Due: none

Don't build pachctl in core CI runs anymore (not needed with Jupyter merge) (#8202)
  .circleci/main.yml
Due: none

update etcd to an image that has an arm64 build (#8169)
  etc/helm/pachyderm/values.yaml
  etc/kube/start-minikube-vm.sh
  etc/reset.py
  go.mod
  go.sum
Due: none

Turf most tracking (#8209)
  jupyter-extension/src/plugins/telemetry/__tests__/telemetry.test.tsx
  jupyter-extension/src/plugins/telemetry/telemetry.ts
Due: run-jupyter-jobs

bump doc version (#8218)
  doc/mkdocs-1.13.x.yml
  doc/mkdocs-2.0.x.yml
  doc/mkdocs-2.1.x.yml
  doc/mkdocs-2.2.x.yml
  doc/mkdocs-2.3.x.yml
  doc/mkdocs-master.yml
Due: none

move load test helium envs (#8219)
  etc/testing/circle/run_load_tests.sh
Due: none

grpc: log request ID (#8222)
  src/internal/log/log.go
  src/internal/middleware/logging/util.go
Due: run-core-jobs

hide sandbox link (#8220)
  doc/overrides/main.html
Due: none

List pipelines at a commit set (#8221)
  src/pps/pps.pb.go
  src/pps/pps.proto
  src/server/pachyderm_test.go
  src/server/pps/cmds/cmds.go
  src/server/pps/server/api_server.go
Due: run-core-jobs

Path conditions:
  run-jupyter-jobs: any of: jupyter-extension/.*
  run-core-jobs: any of: src/.*
