Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

restore cache
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

move unset
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

e2e test
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix make file
  console/Makefile
Due: none

add additionalClients
  etc/testing/console-test-helm-values/pachdev/pach-local-default-pachyderm-values.json
Due: run-core-jobs

update check-updated-files
  .circleci/config.yml
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

test root token fix
  console/cypress/e2e/unauthenticated/Community.ts
  etc/testing/console-test-helm-values/pachdev/pach-local-default-pachyderm-values.json
Due: run-core-jobs

comment out console docker build
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

indentation
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

update docker file
  .circleci/main.yml
  Dockerfile.console
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add enterprise banner test
  console/cypress/e2e/authenticated/EnterpriseFeatures.ts
Due: none

remove cache
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

change working directory
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

pwd
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add auth e2e, test community edition helm values
  .circleci/main.yml
  etc/testing/console-test-helm-values/pachdev/pach-local-test-namespace-1-pachyderm-values.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

remove path
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add docker manifest
  .circleci/main.yml
  console/Makefile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

move build
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

move to pachdev push
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

enable console
  etc/testing/console-test-helm-values/pachdev/pach-local-test-namespace-1-pachyderm-values.json
Due: run-core-jobs

enterpriseLicenseKey change
  etc/testing/console-test-helm-values/pachdev/pach-local-default-pachyderm-values.json
Due: run-core-jobs

new issuer uri
  etc/testing/console-test-helm-values/pachdev/pach-local-default-pachyderm-values.json
Due: run-core-jobs

add target arch var
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

remove tab
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add variable to ci
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

change cache
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

test full build
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

update workflow
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

update helm vaules
  .circleci/main.yml
  etc/testing/console-test-helm-values/pachdev/pach-local-default-pachyderm-values.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add back console-docker-manifest job
  .circleci/main.yml
  console/Makefile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

move dockerfile and update build
  .circleci/main.yml
  Dockerfile.console
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

update matrix
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

build from parent
  .circleci/main.yml
  console/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

try hostname
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

update paths
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

e2e test
  etc/testing/python-test-helm-values/pachdev/pach-local-default-pachyderm-values.json
  etc/testing/python-test-helm-values/pachdev/pach-local-test-namespace-1-pachyderm-values.json
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
