Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[PFS-263] Disable PJS in 2.11.
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/pjs.go
Due: run-core-jobs

add console to release
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

chore: only import internal/jsonschema
  Dockerfile.console
Due: run-core-jobs

lint
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

FRON-1554: use only needed directories in console image (#10230)
  Dockerfile.console
Due: run-core-jobs

chore: delete .ds_store
  .DS_Store
Due: run-core-jobs

[PFS-263] move PJS to 2.12.0.
  src/internal/clusterstate/BUILD.bazel
  src/internal/clusterstate/current.go
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.12.0.go
  src/internal/clusterstate/v2.12.0/BUILD.bazel
  src/internal/clusterstate/v2.12.0/clusterstate.go
  src/internal/clusterstate/v2.12.0/pjs.go
Due: run-core-jobs

[PFS-263] Disable PJS Schema creation (#10219)
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/pjs.go
Due: run-core-jobs

[PFS-263] Move PJS to 2.12. (#10232)
  src/internal/clusterstate/BUILD.bazel
  src/internal/clusterstate/current.go
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.12.0.go
  src/internal/clusterstate/v2.12.0/BUILD.bazel
  src/internal/clusterstate/v2.12.0/clusterstate.go
  src/internal/clusterstate/v2.12.0/pjs.go
Due: run-core-jobs

Add pachd + worker k8s networking env vars for notebooks (#10228)
  src/server/worker/driver/driver.go
Due: run-core-jobs

[2.11] Add pachd + worker k8s networking env vars for notebooks (#10229)
  src/server/worker/driver/driver.go
Due: run-core-jobs

Override Datum Batching user code env vars
  src/server/worker/pipeline/transform/worker.go
Due: run-core-jobs

don't forget the return
  src/server/worker/pipeline/transform/worker.go
Due: run-core-jobs

update release
  .circleci/main.yml
  etc/build/push_docker_with_manifests.sh
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

chore: clean up README
  console/.gitignore
  console/Makefile
  console/README.md
  console/README_Development.md
  console/README_Pachyderm.md
  console/backend/package.json
  console/package.json
Due: none

enable datum-batching tests
  python-sdk/tests/test_worker.py
Due: run-python-sdk-jobs

[Python-SDK] Enable datum batching tests in CI (#10233)
  .circleci/main.yml
  python-sdk/tests/test_worker.py
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

update manifest
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

CONSOLE: README updates (#10236)
  console/.gitignore
  console/Makefile
  console/README.md
  console/README_Development.md
  console/README_Pachyderm.md
  console/backend/package.json
  console/package.json
Due: none

add back commented out steps
  .DS_Store
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Override Datum Batching user code env vars
  src/server/worker/driver/driver.go
  src/server/worker/pipeline/transform/worker.go
Due: run-core-jobs

update release tag for console not to contain 'v'
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add back aws tests
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[FRON-1542]: Console release (#10226)
  .circleci/main.yml
  console/Makefile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

port changes from old repo
  console/cypress/e2e/unauthenticated/Template.ts
  console/frontend/src/views/Project/components/PipelineTemplate/templates/edges.jsonnet
  console/frontend/src/views/Project/components/PipelineTemplate/templates/huggingFaceDownloader.jsonnet
  console/frontend/src/views/Project/components/PipelineTemplate/templates/index.ts
  console/frontend/src/views/Project/components/PipelineTemplate/templates/snowflake.jsonnet
Due: none

Override Datum Batching user code env vars (#10242)
  src/server/worker/driver/driver.go
  src/server/worker/pipeline/transform/worker.go
Due: run-core-jobs

Override Datum Batching user code env vars [CORE-2336] (#10235)
  src/server/worker/driver/driver.go
  src/server/worker/pipeline/transform/worker.go
Due: run-core-jobs

[FRON-1515]: Port template changes from haberdashery (#10243)
  console/cypress/e2e/unauthenticated/Template.ts
  console/frontend/src/views/Project/components/PipelineTemplate/templates/edges.jsonnet
  console/frontend/src/views/Project/components/PipelineTemplate/templates/huggingFaceDownloader.jsonnet
  console/frontend/src/views/Project/components/PipelineTemplate/templates/index.ts
  console/frontend/src/views/Project/components/PipelineTemplate/templates/snowflake.jsonnet
Due: none

[PFS-171] Make Loki opt-in for integration tests.
  src/internal/minikubetestenv/client_factory.go
  src/internal/minikubetestenv/deploy.go
  src/server/auth/server/testing/auth_integration_test.go
  src/server/pachyderm_test.go
  src/testing/deploy/generate_pipelines_test.go
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs

update pyproject.toml with excluded urllib3 versions
  python-sdk/poetry.lock
  python-sdk/pyproject.toml
Due: run-python-sdk-jobs

add CVE documenting comment to pyproject.toml
  python-sdk/pyproject.toml
Due: run-python-sdk-jobs

revert numpy version
  python-sdk/poetry.lock
Due: run-python-sdk-jobs

Update to Bitnami PostgreSQL chart 12.19.0
  etc/helm/pachyderm/Chart.lock
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/charts/postgresql-10.8.0.tgz
  etc/helm/pachyderm/dependencies/postgresql/Chart.yaml
Due: run-core-jobs

Upgrade to Bitnami PostgreSQL Helm chart 13.15.0
  etc/helm/pachyderm/Chart.lock
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/dependencies/postgresql/Chart.yaml
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
