Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[PFS-260] write a work-in-progress Pin().
  src/internal/storage/fileset/BUILD.bazel
  src/internal/storage/fileset/fileset_test.go
  src/internal/storage/fileset/storage.go
Due: run-core-jobs

[PFS-258] Add schema for PJS.
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/pjs.go
Due: run-core-jobs

[PFS-258] Create PJS Database Schema (#10183)
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/pjs.go
Due: run-core-jobs

[PFS-258] Create PJS Data Model API.
  src/internal/pjsdb/BUILD.bazel
  src/internal/pjsdb/errors.go
  src/internal/pjsdb/iterators.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/job_crud_test.go
  src/internal/pjsdb/job_iterator.go
  src/internal/pjsdb/job_iterator_test.go
  src/internal/pjsdb/pjsdb.go
  src/internal/pjsdb/pjsdb_test.go
  src/internal/pjsdb/queue_crud.go
  src/internal/pjsdb/queue_crud_test.go
  src/internal/pjsdb/queue_iterator.go
  src/internal/pjsdb/sanitize_test.go
  src/internal/storage/fileset/BUILD.bazel
  src/internal/storage/fileset/fileset_test.go
  src/internal/storage/fileset/storage.go
Due: run-core-jobs

only set enterpriseSecret if enabling enterprise
  src/internal/kindenv/pachyderm-values.json
  src/internal/kindenv/pachyderm.go
Due: run-core-jobs

only set enterpriseSecret if enabling enterprise (#10207)
  src/internal/kindenv/pachyderm-values.json
  src/internal/kindenv/pachyderm.go
Due: run-core-jobs

tests for INT-1293 bugfixes
  python-sdk/tests/test_storage.py
Due: run-python-sdk-jobs

ran black
  python-sdk/tests/test_storage.py
Due: run-python-sdk-jobs

Store creator and creation in CreatePipelineTransaction
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/pps_v2/CreatePipelineTransaction.schema.json
  src/internal/jsonschema/transaction_v2/BatchTransactionRequest.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfo.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfos.schema.json
  src/internal/jsonschema/transaction_v2/TransactionRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/server/pps/server/api_server.go
  src/server/pps/server/api_server_test.go
  src/typescript/pps/pps.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Set UpdatedAt in literal
  src/server/pps/server/api_server.go
Due: run-core-jobs

Do not fail when auth is not activated
  src/server/pps/server/api_server.go
Due: run-core-jobs

Ignore shellcheck for console dir (#10204)
  etc/testing/lint.sh
Due: run-core-jobs

chore: update codeowners
  .github/CODEOWNERS
  console/CODEOWNERS
Due: run-core-jobs

Change UpdatedAt > CreatedAt to !(UpdatedAt < CreatedAt)
  src/server/pps/server/api_server_test.go
Due: run-core-jobs

Update codeowners for console subfolder (#10194)
  .github/CODEOWNERS
  console/CODEOWNERS
Due: run-core-jobs

Remove unused parameter
  src/server/pps/server/api_server.go
Due: run-core-jobs

created_by for commits
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  src/internal/authdb/authdb.go
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/metadata.go
  src/internal/jsonschema/pfs_v2/CommitInfo.schema.json
  src/internal/jsonschema/pfs_v2/CommitSetInfo.schema.json
  src/internal/pfsdb/BUILD.bazel
  src/internal/pfsdb/branches_test.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/internal/pfsdb/model.go
  src/internal/transactionenv/txncontext/context.go
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/server/auth/server/api_server.go
  src/server/pfs/pretty/pretty.go
  src/server/pfs/server/driver.go
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Add creator/update information to commits (#10196)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  src/internal/authdb/authdb.go
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/metadata.go
  src/internal/jsonschema/pfs_v2/CommitInfo.schema.json
  src/internal/jsonschema/pfs_v2/CommitSetInfo.schema.json
  src/internal/pfsdb/BUILD.bazel
  src/internal/pfsdb/branches_test.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/internal/pfsdb/model.go
  src/internal/transactionenv/txncontext/context.go
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/server/auth/server/api_server.go
  src/server/pfs/pretty/pretty.go
  src/server/pfs/server/driver.go
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

put created_by in the branch info proto
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  src/internal/jsonschema/pfs_v2/BranchInfo.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Delete When, renamed Creator to CreatedBy
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/pps_v2/CreatePipelineTransaction.schema.json
  src/internal/jsonschema/transaction_v2/BatchTransactionRequest.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfo.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfos.schema.json
  src/internal/jsonschema/transaction_v2/TransactionRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/server/pps/server/api_server.go
  src/typescript/pps/pps.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Put created_by in the branch info proto (#10201)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  src/internal/jsonschema/pfs_v2/BranchInfo.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

[CORE-2312] Add pipeline created-at (#10203)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/pps_v2/CreatePipelineTransaction.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfo.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfos.schema.json
  src/internal/jsonschema/transaction_v2/BatchTransactionRequest.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfo.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfos.schema.json
  src/internal/jsonschema/transaction_v2/TransactionRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/server/pps/server/BUILD.bazel
  src/server/pps/server/api_server.go
  src/server/pps/server/api_server_test.go
  src/typescript/pps/pps.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Preserve created-at when updating pipeline
  src/server/pps/server/api_server.go
Due: run-core-jobs

Add test that created-at is constant across an update
  src/server/pps/server/api_server_test.go
Due: run-core-jobs

[CORE-2311] Alter semantics of pipeline created at (#10212)
  src/server/pps/server/api_server.go
  src/server/pps/server/api_server_test.go
Due: run-core-jobs

add tests
  src/server/pfs/server/api_server.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

Vendor kube event tail into pachd
  etc/helm/pachyderm/templates/pachd/rbac/role.yaml
  src/server/debug/server/kube_event_tail.go
  src/server/debug/server/server.go
  src/server/pps/server/api_server.go
Due: run-core-jobs

gazelle
  src/server/debug/server/BUILD.bazel
Due: run-core-jobs

use errors.JoinInto instead of multierr
  src/server/debug/server/BUILD.bazel
  src/server/debug/server/kube_event_tail.go
Due: run-core-jobs

move kube-event-tail to PPS
  src/server/debug/server/BUILD.bazel
  src/server/debug/server/server.go
  src/server/pps/pretty/pretty.go
  src/server/pps/server/BUILD.bazel
  src/server/pps/server/api_server.go
  src/server/pps/server/kube_event_tail.go
  src/server/pps/server/server.go
Due: run-core-jobs

deprecate kube-event-tail pod
  etc/helm/pachyderm/templates/kube-event-tail/clusterRole.yaml
  etc/helm/pachyderm/templates/kube-event-tail/clusterRoleBinding.yaml
  etc/helm/pachyderm/templates/kube-event-tail/deployment.yaml
  etc/helm/pachyderm/templates/kube-event-tail/role.yaml
  etc/helm/pachyderm/templates/kube-event-tail/roleBinding.yaml
  etc/helm/pachyderm/templates/kube-event-tail/serviceaccount.yaml
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

fix event-tail lock naming
  src/server/pps/server/kube_event_tail.go
Due: run-core-jobs

try to fix CI
  src/server/pps/server/kube_event_tail.go
Due: run-core-jobs

play with context
  src/server/pps/server/server.go
Due: run-core-jobs

test getFile
  src/server/pfs/server/api_server.go
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

track created_by in the database
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/metadata.go
  src/internal/pfsdb/branches.go
  src/internal/pfsdb/branches_test.go
  src/internal/pfsdb/model.go
Due: run-core-jobs

pretty print branches with creator and created_at; fix bug when inspecting branch
  src/server/pfs/pretty/pretty.go
Due: run-core-jobs

record branch creator
  src/internal/pfsdb/branches.go
  src/internal/pfsdb/branches_test.go
  src/server/pfs/server/driver.go
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
