Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

right bazel version maybe
  MODULE.bazel.lock
  go.mod
  go.sum
Due: run-core-jobs

Update to latest Pachyderm Dex
  go.mod
  go.sum
Due: run-core-jobs

Update golang.org/x/net too
  go.mod
  go.sum
Due: run-core-jobs

[INF-1644] Update to latest Pachyderm Dex (#10482)
  go.mod
  go.sum
Due: run-core-jobs

[INF-1644] Update to latest Pachyderm Dex (#10482)
  MODULE.bazel.lock
  go.mod
  go.sum
Due: run-core-jobs

Update RabbitMQ example too
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

[INF-1644] Update to latest Pachyderm Dex (#10482) (#10484)
  go.mod
  go.sum
Due: run-core-jobs

Update PostgreSQL
  private/apt/apt.lock.json
Due: none

Bazel mod tidy
  MODULE.bazel.lock
Due: run-core-jobs

Update PostgreSQL and tidy Bazel once more
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

remove limit check in collect
  src/internal/stream/iterator.go
Due: run-core-jobs

bazel
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

go mod tidy
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

Revert "go mod tidy"
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

[INF-1644] Update PostgreSQL .debs (#10487)
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

Update go-rabbitmq-spout go.mod too
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

[INF-1644] Update spout example go.mod (#10489)
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

Update to Go v1.23.4
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Update PostgreSQL .deb
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

Update spout example go.mod
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

Delint
  .golangci.yml
  etc/testing/lint.sh
  src/internal/cmdutil/env.go
  src/internal/log/span_test.go
  src/internal/log/step_test.go
  src/internal/lokiutil/testloki/testloki.go
  src/internal/pgjsontypes/pgjsontypes.go
  src/internal/testpachd/realenv/real_env.go
  src/proto/prototar/main.go
  src/server/cmd/pachctl/cmd/cmd.go
  src/server/identity/server/dex_api.go
  src/server/misc/cmds/cmds.go
  src/server/pachyderm_test.go
  src/server/pps/cmds/cmds_test.go
  src/server/pps/pretty/pretty.go
  src/server/spout_test.go
  src/testing/testpachd/main_test.go
Due: run-core-jobs

[INF-1644] Update to latest Pachyderm Dex (#10482) (#10483)
  .circleci/config.yml
  .circleci/main.yml
  .golangci.yml
  MODULE.bazel
  MODULE.bazel.lock
  etc/testing/lint.sh
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  private/apt/apt.lock.json
  src/internal/cmdutil/env.go
  src/internal/log/span_test.go
  src/internal/log/step_test.go
  src/internal/lokiutil/testloki/testloki.go
  src/internal/pgjsontypes/pgjsontypes.go
  src/internal/testpachd/realenv/real_env.go
  src/proto/prototar/main.go
  src/server/cmd/pachctl/cmd/cmd.go
  src/server/identity/server/dex_api.go
  src/server/misc/cmds/cmds.go
  src/server/pachyderm_test.go
  src/server/pps/cmds/cmds_test.go
  src/server/pps/pretty/pretty.go
  src/server/spout_test.go
  src/testing/cmds/go-test-results/Dockerfile
  src/testing/testpachd/main_test.go
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

use quay repo instead of gcr
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

bazel fix
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

fix other chart-releaser reference
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Djanicek/use quay reg for chart releaser (#10490)
  .circleci/main.yml
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Djanicek/use quay reg for chart releaser (#10490)
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Delint
  .golangci.yml
  etc/testing/lint.sh
  src/client/client.go
  src/internal/client/client.go
  src/internal/cmdutil/env.go
  src/internal/determined/client.go
  src/internal/grpcutil/testclient.go
  src/internal/kindenv/pachyderm.go
  src/internal/log/span_test.go
  src/internal/log/step_test.go
  src/internal/lokiutil/testloki/testloki.go
  src/internal/pachd/setup.go
  src/internal/pgjsontypes/pgjsontypes.go
  src/internal/require/require.go
  src/internal/testpachd/realenv/real_env.go
  src/proto/prototar/main.go
  src/server/cmd/pachctl/cmd/cmd.go
  src/server/debug/server/log.go
  src/server/identity/server/dex_api.go
  src/server/misc/cmds/cmds.go
  src/server/misc/cmds/grpc.go
  src/server/pachyderm_test.go
  src/server/pps/cmds/cmds_test.go
  src/server/pps/pretty/pretty.go
  src/server/spout_test.go
  src/server/worker/server/client.go
  src/testing/testpachd/main_test.go
Due: run-core-jobs

Update Go version
  .circleci/config.yml
  .circleci/main.yml
  examples/spouts/go-rabbitmq-spout/source/go.mod
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Skip Google test if Google env vars not configured
  src/server/pfs/server/storage_bucket_test.go
  src/server/pfs/server/url_test.go
Due: run-core-jobs

Skip Google test if Google env vars not configured (#10491)
  src/server/pfs/server/storage_bucket_test.go
  src/server/pfs/server/url_test.go
Due: run-core-jobs

Skip cloud test if credentials are empty
  src/internal/obj/integrationtests/util.go
Due: run-core-jobs

[INF-1654] Skip GCP test if Google env vars are unset (#10493)
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  src/internal/obj/integrationtests/util.go
Due: run-core-jobs

[INF-1654] Skip GCP test if Google env vars are unset (#10493)
  examples/spouts/go-rabbitmq-spout/source/go.mod
  src/internal/obj/integrationtests/util.go
Due: run-core-jobs

Gazelle & tidy
  examples/spouts/go-rabbitmq-spout/source/go.mod
  src/internal/obj/integrationtests/BUILD.bazel
Due: run-core-jobs

[INF-1654] Skip gcp tests 2.12 (#10495)
  src/internal/obj/integrationtests/BUILD.bazel
  src/internal/obj/integrationtests/util.go
Due: run-core-jobs
