Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix panic reporting on streaming RPCs
  src/internal/middleware/recovery/recovery.go
Due: run-core-jobs

upgrade bazel
  .bazelversion
  MODULE.bazel.lock
Due: run-core-jobs

new CI image
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

test: add global ID advanced date coverage (#2096)
  cypress/e2e/unauthenticated/DAG/GlobalID.ts
Due: none

Clean up require blocks
  go.mod
  go.sum
Due: run-core-jobs

Dependabot JIRA Action
  .github/workflows/dependabot.yml
Due: run-core-jobs

FRON-1509: Add cluster and project metadata (#2095)
  frontend/src/components/CollapsibleSection/CollapsibleSection.module.css
  frontend/src/hooks/useAuthorize.ts
  frontend/src/hooks/useEditMetadata.ts
  frontend/src/mocks/admin.ts
  frontend/src/mocks/index.ts
  frontend/src/views/Landing/Landing.tsx
  frontend/src/views/Landing/components/ClusterConfig/ClusterConfig.tsx
  frontend/src/views/Landing/components/ClusterConfig/__tests__/ClusterConfig.test.tsx
  frontend/src/views/Landing/components/ClusterConfig/hooks/useClusterConfig.ts
  frontend/src/views/Landing/components/ProjectPreview/ProjectPreview.module.css
  frontend/src/views/Landing/components/ProjectPreview/ProjectPreview.tsx
  frontend/src/views/Landing/components/ProjectPreview/__tests__/ProjectPreview.test.tsx
  frontend/src/views/Landing/components/ProjectTab/ProjectTab.tsx
  frontend/src/views/Landing/hooks/useLandingView.ts
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/UserMetadata/UserMetadata.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/UserMetadata/components/EditMetadataModal/EditMetadataModal.tsx
Due: none

gotestsum deploy tests
  .circleci/main.yml
  etc/testing/circle/deploy_test.sh
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

install gotestsum
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Upgrade bazel to 7.2.0 (#10127)
  .bazelversion
  .circleci/main.yml
  MODULE.bazel.lock
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

support iron bank builds by publishing pachd bins (#9951)
  .circleci/main.yml
  goreleaser/docker.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix broken alpha release (#10108)
  .circleci/main.yml
  Makefile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

upgrade to go 1.22.4 (#10112)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

upload bazel tests
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

npm bash syntax
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

debug file path
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

FRON-1509: Updated Sidepanel (#2109)
  cypress/e2e/authenticated/Access.ts
  frontend/components/src/Tabs/components/TabPanel/TabPanel.module.css
  frontend/src/components/ContentBox/ContentBox.module.css
  frontend/src/components/ContentBox/ContentBox.tsx
  frontend/src/components/ContentBox/index.ts
  frontend/src/components/GlobalIdDisclaimer/GlobalIdDisclaimer.module.css
  frontend/src/components/GlobalIdDisclaimer/GlobalIdDisclaimer.tsx
  frontend/src/components/GlobalIdDisclaimer/index.ts
  frontend/src/components/InfoPanel/InfoPanel.module.css
  frontend/src/components/InfoPanel/InfoPanel.tsx
  frontend/src/components/InfoPanel/hooks/useInfoPanel.ts
  frontend/src/views/Project/components/ProjectSidebar/__tests__/ProjectSidebar.test.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/PipelineDetails/PipelineDetails.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/RepoDetails.module.css
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/RepoDetails.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/CommitList/CommitList.module.css
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/components/CommitList/CommitList.tsx
Due: none

glob debug
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

debug paths
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

remove unreported tests
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

path fix
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

bump go 1.22.4 - 2.10.x (#10131)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

not amd for integraiton test
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

security: Update docker container to run as a non-root user (#2094)
  Dockerfile
Due: run-core-jobs

iron bank release support - backport (#10130)
  .circleci/main.yml
  Makefile
  goreleaser/docker.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Add an option to only select user code logs (#10121)
  .gitattributes
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/logs/__init__.py
  src/internal/jsonschema/logs/AdminLogQuery.schema.json
  src/internal/jsonschema/logs/GetLogsRequest.schema.json
  src/internal/jsonschema/logs/GetLogsResponse.schema.json
  src/internal/jsonschema/logs/JobDatumLogQuery.schema.json
  src/internal/jsonschema/logs/LogFilter.schema.json
  src/internal/jsonschema/logs/LogQuery.schema.json
  src/internal/jsonschema/logs/PagingHint.schema.json
  src/internal/jsonschema/logs/PipelineJobLogQuery.schema.json
  src/internal/jsonschema/logs/PipelineLogQuery.schema.json
  src/internal/jsonschema/logs/PodContainer.schema.json
  src/internal/jsonschema/logs/UserLogQuery.schema.json
  src/logs/logs.pb.go
  src/logs/logs.pb.validate.go
  src/logs/logs.pb.zap.go
  src/logs/logs.proto
  src/openapi/pachyderm_api.swagger.json
  src/server/logs/cmds/cmds.go
  src/server/logs/internal_test.go
  src/server/logs/logs.go
  src/server/logs/logs_test.go
  src/server/logs/testdata/edges-v2-storage.txt
  src/server/logs/testdata/edges-v2-user.txt
  src/typescript/logs/logs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

fix panic reporting on streaming RPCs (#10125)
  src/internal/middleware/recovery/recovery.go
Due: run-core-jobs

add PipelineDatumLogQuery
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/logs/__init__.py
  src/internal/jsonschema/logs/AdminLogQuery.schema.json
  src/internal/jsonschema/logs/GetLogsRequest.schema.json
  src/internal/jsonschema/logs/GetLogsResponse.schema.json
  src/internal/jsonschema/logs/LogQuery.schema.json
  src/internal/jsonschema/logs/PagingHint.schema.json
  src/internal/jsonschema/logs/PipelineDatumLogQuery.schema.json
  src/internal/jsonschema/logs/UserLogQuery.schema.json
  src/logs/logs.pb.go
  src/logs/logs.pb.validate.go
  src/logs/logs.pb.zap.go
  src/logs/logs.proto
  src/openapi/pachyderm_api.swagger.json
  src/typescript/logs/logs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

implement datum+pipeline queries
  src/server/logs/logs.go
  src/server/logs/logs_test.go
Due: run-core-jobs

add test that shows datum+pipeline queries working
  src/server/logs/logs_test.go
Due: run-core-jobs

disable loadbalancer
  src/server/pachyderm_test.go
Due: run-core-jobs

Restart Service Pipeline once all source commits are finished
  src/server/worker/pipeline/service/service.go
Due: run-core-jobs

adding tests
  src/internal/client/pps.go
  src/server/pachyderm_test.go
Due: run-core-jobs

gazelle
  src/server/worker/pipeline/service/BUILD.bazel
Due: run-core-jobs

Complete test
  src/server/pachyderm_test.go
Due: run-core-jobs

fix
  src/server/worker/pipeline/service/service.go
Due: run-core-jobs

protecting against blocked provenant commits
  src/server/pachyderm_test.go
  src/server/worker/pipeline/service/service.go
Due: run-core-jobs

feat: Add workersAvailable / workersRequested to pipeline sidebar (#2056)
  frontend/src/mocks/pipelines.ts
  frontend/src/views/Project/components/ProjectSidebar/components/PipelineDetails/components/PipelineInfo/PipelineInfo.tsx
  frontend/src/views/Project/components/ProjectSidebar/components/PipelineDetails/components/PipelineInfo/__tests__/PipelineInfo.test.tsx
Due: none

patch release bug
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

patch release bug (#10136)
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
