Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[FRON-1542]: Console release (#10226)
  .circleci/main.yml
  console/Makefile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[FRON-1515]: Port template changes from haberdashery (#10243)
  console/cypress/e2e/unauthenticated/Template.ts
  console/frontend/src/views/Project/components/PipelineTemplate/templates/edges.jsonnet
  console/frontend/src/views/Project/components/PipelineTemplate/templates/huggingFaceDownloader.jsonnet
  console/frontend/src/views/Project/components/PipelineTemplate/templates/index.ts
  console/frontend/src/views/Project/components/PipelineTemplate/templates/snowflake.jsonnet
Due: none

Upgrade to Bitnami PostgreSQL 15.7.0 Helm chart
  etc/helm/pachyderm/Chart.lock
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/dependencies/postgresql/Chart.yaml
Due: run-core-jobs

bump minimum python version to 3.9
  python-sdk/pyproject.toml
Due: run-python-sdk-jobs

run poetry lock
  python-sdk/poetry.lock
  python-sdk/pyproject.toml
Due: run-python-sdk-jobs

[PFS-171] Make Loki opt-in for integration tests (#10234)
  src/internal/minikubetestenv/client_factory.go
  src/internal/minikubetestenv/deploy.go
  src/server/auth/server/testing/auth_integration_test.go
  src/server/pachyderm_test.go
  src/testing/deploy/generate_pipelines_test.go
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs

bump python base image
  python-sdk/Dockerfile.datum-batching-test
Due: run-python-sdk-jobs

Switch from Pachyderm to Bitnami PostgreSQL image
  etc/helm/pachyderm/dependencies/postgresql/values.yaml
  etc/helm/pachyderm/values.yaml
  src/testing/deploy/deploy_arm64_test.go
Due: run-core-jobs

[PFS-171] replace UpdateCommit() with functions that have a tigher scope.
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/internal/pfsdb/repos_test.go
  src/server/metadata/metadata.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/master.go
Due: run-core-jobs

Large repo testing documentation
  jupyter-extension/jupyterlab_pachyderm/tests/setup_large_repo.py
Due: run-jupyter-jobs

[PFS-171] Replace UpdateCommit() (#10231)
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/internal/pfsdb/repos_test.go
  src/server/metadata/metadata.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/master.go
Due: run-core-jobs

[PFS-171] split files in driver.go by subject.
  src/server/pfs/server/BUILD.bazel
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_branch.go
  src/server/pfs/server/driver_commit.go
  src/server/pfs/server/driver_commit_set.go
  src/server/pfs/server/driver_egress.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/driver_project.go
  src/server/pfs/server/driver_repo.go
  src/server/pfs/server/server.go
Due: run-core-jobs

Split Server Functions Into Multiple Files For Readability (#10248)
  src/server/pfs/server/BUILD.bazel
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_branch.go
  src/server/pfs/server/driver_commit.go
  src/server/pfs/server/driver_commit_set.go
  src/server/pfs/server/driver_egress.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/driver_project.go
  src/server/pfs/server/driver_repo.go
  src/server/pfs/server/server.go
Due: run-core-jobs

[PFS-171-4] refactor pfs.Master
  src/server/pfs/server/BUILD.bazel
  src/server/pfs/server/driver_branch.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/master.go
  src/server/pfs/server/master_trigger.go
Due: run-core-jobs

[PFS-171-4] refactor pfs.Master
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/master.go
Due: run-core-jobs

Update Bitnami PostgreSQL image to 13.9.0
  etc/helm/pachyderm/Chart.lock
  etc/helm/pachyderm/dependencies/postgresql/templates/_helpers.tpl
  etc/helm/pachyderm/dependencies/postgresql/values.yaml
  etc/helm/pachyderm/values.yaml
  src/testing/deploy/deploy_arm64_test.go
Due: run-core-jobs

[PFS-171] split the pfs server into server, master, worker, and driver packages.
  src/internal/pachd/BUILD.bazel
  src/internal/pachd/builder.go
  src/internal/pachd/env.go
  src/internal/pachd/full.go
  src/internal/pachd/setup.go
  src/internal/testpachd/realenv/BUILD.bazel
  src/internal/testpachd/realenv/real_env.go
  src/server/pfs/server/BUILD.bazel
  src/server/pfs/server/api_server.go
  src/server/pfs/server/commit_store.go
  src/server/pfs/server/compaction.go
  src/server/pfs/server/compaction_cache.go
  src/server/pfs/server/driver/BUILD.bazel
  src/server/pfs/server/driver/branch.go
  src/server/pfs/server/driver/commit.go
  src/server/pfs/server/driver/commit_set.go
  src/server/pfs/server/driver/driver.go
  src/server/pfs/server/driver/egress.go
  src/server/pfs/server/driver/file.go
  src/server/pfs/server/driver/fsck.go
  src/server/pfs/server/driver/project.go
  src/server/pfs/server/driver/repo.go
  src/server/pfs/server/driver/url.go
  src/server/pfs/server/driver/url_test.go
  src/server/pfs/server/master/BUILD.bazel
  src/server/pfs/server/master/master.go
  src/server/pfs/server/master/trigger.go
  src/server/pfs/server/paths.go
  src/server/pfs/server/server.go
  src/server/pfs/server/source.go
  src/server/pfs/server/storage_bucket.go
  src/server/pfs/server/storage_bucket_test.go
  src/server/pfs/server/testing/BUILD.bazel
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/transaction_defer.go
  src/server/pfs/server/val_server.go
  src/server/pfs/server/worker/BUILD.bazel
  src/server/pfs/server/worker/worker.go
  src/server/pfs/server/worker/worker_url.go
Due: run-core-jobs

Update to Bitnami PostgreSQL image 13.15.0
  etc/helm/pachyderm/dependencies/postgresql/values.yaml
  etc/helm/pachyderm/values.yaml
  src/testing/deploy/deploy_arm64_test.go
Due: run-core-jobs

Update dependencies for jupyterlab v4.0
  .circleci/main.yml
  MODULE.bazel.lock
  jupyter-extension/Dockerfile
  jupyter-extension/cypress/e2e/examples.cy.ts
  jupyter-extension/cypress/e2e/mount.cy.ts
  jupyter-extension/cypress/support/commands.js
  jupyter-extension/jest.config.js
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/package-lock.json
  jupyter-extension/package.json
  jupyter-extension/pyproject.toml
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
  jupyter-extension/scripts/jest.setup.js
  jupyter-extension/src/plugins/examples/__test__/examples.test.tsx
  jupyter-extension/src/plugins/mount/__tests__/mount.test.tsx
  jupyter-extension/src/plugins/mount/components/Config/__tests__/Config.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
  jupyter-extension/src/plugins/mount/mount.css
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/pollMounts.ts
  jupyter-extension/src/plugins/mount/types.ts
  jupyter-extension/src/setupTests.ts
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Update Bitnami PostgreSQL image to 14.12.0
  etc/helm/pachyderm/dependencies/postgresql/values.yaml
  etc/helm/pachyderm/templates/pgbouncer/deployment.yaml
  etc/helm/pachyderm/values.yaml
  src/testing/deploy/deploy_arm64_test.go
Due: run-core-jobs

Update to Bitnami PosgreSQL image 15.7.0
  etc/helm/pachyderm/charts/postgresql-15.7.0.tgz
  etc/helm/pachyderm/dependencies/postgresql/values.yaml
  etc/helm/pachyderm/values.yaml
  src/testing/deploy/deploy_arm64_test.go
Due: run-core-jobs

[INT-1297] Large repo infinite scroll testing documentation (#10247)
  jupyter-extension/jupyterlab_pachyderm/tests/setup_large_repo.py
Due: run-jupyter-jobs

Refactor PFS Master (#10249)
  src/server/pfs/server/BUILD.bazel
  src/server/pfs/server/driver_branch.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/master.go
  src/server/pfs/server/master_trigger.go
Due: run-core-jobs

[PFS-171] remove the PFS driver.
  src/server/pfs/s3/bucket.go
  src/server/pfs/s3/driver.go
  src/server/pfs/s3/multipart.go
  src/server/pfs/s3/object.go
  src/server/pfs/s3/service.go
  src/server/pfs/s3/util_test.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/compaction_cache.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_branch.go
  src/server/pfs/server/driver_commit.go
  src/server/pfs/server/driver_commit_set.go
  src/server/pfs/server/driver_egress.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/driver_fsck.go
  src/server/pfs/server/driver_project.go
  src/server/pfs/server/driver_repo.go
  src/server/pfs/server/master.go
  src/server/pfs/server/master_trigger.go
  src/server/pfs/server/server.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/transaction_defer.go
  src/server/pfs/server/url.go
  src/server/pfs/server/val_server.go
Due: run-core-jobs

[PFS-171] rename files and fix ctrl+r
  src/server/pfs/s3/bucket.go
  src/server/pfs/s3/driver.go
  src/server/pfs/s3/multipart.go
  src/server/pfs/s3/object.go
  src/server/pfs/s3/service.go
  src/server/pfs/s3/util_test.go
  src/server/pfs/server/BUILD.bazel
  src/server/pfs/server/server_branch.go
  src/server/pfs/server/server_commit.go
  src/server/pfs/server/server_commit_set.go
  src/server/pfs/server/server_egress.go
  src/server/pfs/server/server_file.go
  src/server/pfs/server/server_fsck.go
  src/server/pfs/server/server_project.go
  src/server/pfs/server/server_repo.go
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

cleanup
  jupyter-extension/src/plugins/mount/components/Config/__tests__/Config.test.tsx
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
Due: run-jupyter-jobs

[PFS-171] add back in obj storage test.
  src/server/pfs/server/master.go
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

Update dependencies for jupyterlab v4.0 (#10250)
  .circleci/main.yml
  MODULE.bazel.lock
  jupyter-extension/Dockerfile
  jupyter-extension/cypress/e2e/examples.cy.ts
  jupyter-extension/cypress/e2e/mount.cy.ts
  jupyter-extension/cypress/support/commands.js
  jupyter-extension/jest.config.js
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/package-lock.json
  jupyter-extension/package.json
  jupyter-extension/pyproject.toml
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
  jupyter-extension/scripts/jest.setup.js
  jupyter-extension/src/plugins/examples/__test__/examples.test.tsx
  jupyter-extension/src/plugins/mount/__tests__/mount.test.tsx
  jupyter-extension/src/plugins/mount/components/Config/__tests__/Config.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
  jupyter-extension/src/plugins/mount/mount.css
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/pollMounts.ts
  jupyter-extension/src/plugins/mount/types.ts
  jupyter-extension/src/setupTests.ts
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Remove the PFS Driver (#10252)
  src/server/pfs/server/BUILD.bazel
  src/server/pfs/server/api_server.go
  src/server/pfs/server/compaction_cache.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/master.go
  src/server/pfs/server/master_trigger.go
  src/server/pfs/server/server.go
  src/server/pfs/server/server_branch.go
  src/server/pfs/server/server_commit.go
  src/server/pfs/server/server_commit_set.go
  src/server/pfs/server/server_egress.go
  src/server/pfs/server/server_file.go
  src/server/pfs/server/server_fsck.go
  src/server/pfs/server/server_project.go
  src/server/pfs/server/server_repo.go
  src/server/pfs/server/transaction_defer.go
  src/server/pfs/server/url.go
  src/server/pfs/server/val_server.go
Due: run-core-jobs

[PFS-171] extract the atomic updates into a single function.
  src/internal/pfsdb/commits.go
  src/server/pfs/server/master.go
  src/server/pfs/server/server_branch.go
  src/server/pfs/server/server_commit.go
Due: run-core-jobs

Default to SCRAM auth
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

[MLDM-11] Add JobContext to PJS.
  go.mod
  go.sum
  src/internal/clusterstate/v2.12.0/pjs.go
  src/internal/pjsdb/BUILD.bazel
  src/internal/pjsdb/errors.go
  src/internal/pjsdb/job_context.go
  src/internal/pjsdb/job_context_test.go
  src/internal/pjsdb/pjsdb.go
Due: run-core-jobs

[MLDM-11] add feedback.
  go.sum
  src/internal/pjsdb/job_context.go
  src/internal/pjsdb/job_context_test.go
Due: run-core-jobs

[MLDM-11] Update the hashing function.
  src/internal/pjsdb/job_context.go
Due: run-core-jobs

[MLDM-11] Add JobContext to PJS (#10255)
  go.mod
  go.sum
  src/internal/clusterstate/v2.12.0/pjs.go
  src/internal/pjsdb/BUILD.bazel
  src/internal/pjsdb/errors.go
  src/internal/pjsdb/job_context.go
  src/internal/pjsdb/job_context_test.go
  src/internal/pjsdb/pjsdb.go
Due: run-core-jobs

Test PR to understand code reviews
  README.md
Due: run-core-jobs

[PFS-171] incorporate PR feedback.
  src/server/pfs/server/server_branch.go
  src/server/pfs/server/server_commit.go
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
