Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Update dependencies
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
Due: run-core-jobs

use auth for unauthnticated job
  python-sdk/tests/test_pps.py
Due: run-python-sdk-jobs

check if auth token needed for subjob
  python-sdk/tests/test_pps.py
Due: run-python-sdk-jobs

bazel, please work
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

docker limit, please work
  .circleci/config.yml
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Update deps
  go.mod
  go.sum
Due: run-core-jobs

Update deps
  MODULE.bazel
  MODULE.bazel.lock
  go.mod
  go.sum
  src/auth/BUILD.bazel
  src/auth/auth.go
  src/server/auth/server/BUILD.bazel
  src/server/auth/server/oidc.go
Due: run-core-jobs

Fix 2.11 (#10463)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Update aspect_bazel_lib
  MODULE.bazel
  MODULE.bazel.lock
Due: run-core-jobs

Run bazel run //:make_proto
  MODULE.bazel.lock
Due: run-core-jobs

Update deps
  MODULE.bazel.lock
  go.mod
  go.sum
Due: run-core-jobs

Bazel, why did it have to be Bazel‽
  MODULE.bazel.lock
  go.mod
  go.sum
  private/apt/apt.lock.json
Due: run-core-jobs

Update dep
  go.mod
  go.sum
Due: run-core-jobs

Run bazel mod deps
  MODULE.bazel.lock
Due: run-core-jobs

testing py tests
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

go mod tidy
  go.mod
  go.sum
Due: run-core-jobs

[INF-1635] Update deps (#10464)
  MODULE.bazel
  MODULE.bazel.lock
  go.mod
  go.sum
  src/auth/BUILD.bazel
  src/auth/auth.go
  src/server/auth/server/BUILD.bazel
  src/server/auth/server/oidc.go
Due: run-core-jobs

[INF-1635] Update deps (#10466)
  MODULE.bazel
  MODULE.bazel.lock
  go.mod
  go.sum
Due: run-core-jobs

[INF-1635] Update deps (#10467)
  MODULE.bazel.lock
  go.mod
  go.sum
  private/apt/apt.lock.json
Due: run-core-jobs

Update apt lock
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

test localhost route
  console/package.json
Due: none

Try using new Docker account
  .circleci/config.yml
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix bazel dependency
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

remove one missed pachydermbuildbot
  .circleci/main.yml
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

replace pachydermbuildbot in docker ci
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Use new Docker account in two more places
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Fix typo
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

replace pachydermbuildbot (#10468)
  .circleci/main.yml
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[INF-1635] Update dependencies (#10462)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  private/apt/apt.lock.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

update pg bazel
  .circleci/main.yml
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Upgrade Docker client
  go.mod
  go.sum
Due: run-core-jobs

Update for new API
  src/internal/dockertestenv/util.go
Due: run-core-jobs

Run Gazelle
  src/internal/dockertestenv/BUILD.bazel
Due: run-core-jobs

Downgrade Docker client
  go.mod
  go.sum
  src/internal/dockertestenv/BUILD.bazel
  src/internal/dockertestenv/util.go
Due: run-core-jobs

print debug msg
  python-sdk/tests/test_pps.py
  src/auth/auth.go
Due: run-core-jobs, run-python-sdk-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
