Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

created_by for commits
  MODULE.bazel.lock
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/project_metadata.go
  src/internal/jsonschema/BUILD.bazel
  src/internal/jsonschema/pfs_v2/CommitInfo.schema.json
  src/internal/jsonschema/pfs_v2/CommitSetInfo.schema.json
  src/internal/pfsdb/branches_test.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/internal/pfsdb/model.go
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

[2.10] Update Console Deployment to use Proxy's TLS Cert [CORE-2321] (#10144) (#10147)
  etc/helm/pachyderm/templates/console/deployment.yaml
Due: run-core-jobs

insert commit creator in pfs driver
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/transactionenv/txncontext/context.go
  src/server/pfs/server/driver.go
Due: run-core-jobs

add created_at and updated_at to commitinfo
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  src/internal/jsonschema/pfs_v2/CommitInfo.schema.json
  src/internal/jsonschema/pfs_v2/CommitSetInfo.schema.json
  src/internal/pfsdb/BUILD.bazel
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Set the worker log level to DEBUG, filter to INFO logs when returning logs (#10145)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/logs/__init__.py
  src/internal/jsonschema/BUILD.bazel
  src/internal/jsonschema/logs/GetLogsRequest.schema.json
  src/internal/jsonschema/logs/GetLogsResponse.schema.json
  src/internal/jsonschema/logs/LogFilter.schema.json
  src/internal/jsonschema/logs/PagingHint.schema.json
  src/internal/log/loggers.go
  src/internal/promutil/promutil.go
  src/logs/BUILD.bazel
  src/logs/logs.pb.go
  src/logs/logs.proto
  src/openapi/pachyderm_api.swagger.json
  src/server/logs/cmds/cmds.go
  src/server/logs/logs.go
  src/server/logs/logs_test.go
  src/server/pps/server/worker_rc.go
  src/typescript/logs/logs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

avoid the need to read $PWD, especially when not loading scripts from the filesystem
  src/internal/starlark/starlark.go
Due: run-core-jobs

use batched query range in debug loki queries
  src/internal/lokiutil/BUILD.bazel
  src/internal/lokiutil/client/batched.go
  src/internal/lokiutil/fake.go
  src/server/debug/server/server.go
  src/server/debug/server/server_test.go
Due: run-core-jobs

avoid parse error when using the default --level value
  src/server/logs/cmds/cmds.go
Due: run-core-jobs

disable ms test for now
  src/server/pfs/server/storage_bucket_test.go
Due: run-core-jobs

Disable ms test for now (#10154)
  src/server/pfs/server/storage_bucket_test.go
Due: run-core-jobs

[Jupyter] Remove platform specific lock files (#10149)
  MODULE.bazel
  MODULE.bazel.lock
  jupyter-extension/BAZEL.md
  jupyter-extension/BUILD.bazel
  jupyter-extension/requirements-dev-lock-darwin.txt
  jupyter-extension/requirements-dev-lock-linux.txt
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
Due: run-core-jobs, run-jupyter-jobs

[PFS-171] Update *pfsdb.Commit struct to use commit rows instead of *pfs.Commits.
  src/internal/pfsdb/BUILD.bazel
  src/internal/pfsdb/branches.go
  src/internal/pfsdb/branches_test.go
  src/internal/pfsdb/commit_provenance.go
  src/internal/pfsdb/commit_provenance_test.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/internal/pfsdb/model.go
  src/internal/pfsdb/pfsdb.go
  src/internal/pfsdb/repos.go
  src/internal/pfsdb/repos_test.go
  src/server/metadata/metadata.go
  src/server/pfs/server/BUILD.bazel
  src/server/pfs/server/api_server.go
  src/server/pfs/server/commit_set.go
  src/server/pfs/server/commit_store.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/driver_fsck.go
  src/server/pfs/server/master.go
  src/server/pfs/server/source.go
  src/server/pfs/server/testing/BUILD.bazel
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/trigger.go
  src/server/pps/server/api_server.go
Due: run-core-jobs

Add content hash ref
  src/internal/storage/chunk/cdr.go
Due: run-core-jobs

wip
  jupyter-extension/jest.config.js
  jupyter-extension/package-lock.json
  jupyter-extension/package.json
  jupyter-extension/src/setupTests.ts
Due: run-jupyter-jobs

Add auth.principals and update when inserting tokens
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/auth.go
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/commit_diffs.go
  src/internal/clusterstate/v2.11.0/commit_totals.go
  src/server/auth/server/api_server.go
Due: run-core-jobs

Update deps
  go.mod
  go.sum
Due: run-core-jobs

Update example deps
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

regenerate module lock
  MODULE.bazel.lock
Due: run-core-jobs

fix MODULE.bazel.lock
  MODULE.bazel.lock
Due: run-core-jobs

regenerate MODULE.bazel.lock (#10157)
  MODULE.bazel.lock
Due: run-core-jobs

Fix protos
  private/google-golang-org-protobuf.patch
Due: none

Handle null created_by
  src/internal/pfsdb/projects.go
Due: run-core-jobs

Support new project created_by attribute throughout
  src/internal/clusterstate/v2.11.0/project_metadata.go
  src/internal/pfsdb/model.go
  src/internal/pfsdb/projects.go
  src/server/auth/server/testing/auth_test.go
Due: run-core-jobs

Add tests for mounting commits
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
Due: run-jupyter-jobs

Choose second commit
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
Due: run-jupyter-jobs

checkpoint changes
  src/server/debug/server/server.go
Due: run-core-jobs

Add content hash ref to CDRs (#10155)
  src/internal/storage/chunk/cdr.go
Due: run-core-jobs

[PFS-259] Use RetryUntilCancel
  src/internal/consistenthashing/etcd.go
Due: run-core-jobs

[PFS-223] Remove TestUpgradeTrigger.
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs

add govulncheck to //tools
  MODULE.bazel
  MODULE.bazel.lock
  go.mod
  go.sum
  tools/govulncheck/BUILD.bazel
  tools/govulncheck/main.go
Due: run-core-jobs

[PFS-255] remove TestMicrosoft.
  etc/helm/pachyderm/templates/pachd/storage-secret.yaml
  etc/helm/test/microsoft_test.go
  src/internal/obj/integrationtests/util.go
  src/server/pfs/server/storage_bucket_test.go
Due: run-core-jobs

[PFS-258] update the protos and clusterstate.
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/commit_diffs.go
  src/internal/clusterstate/v2.11.0/commit_totals.go
  src/internal/clusterstate/v2.11.0/pjs.go
  src/internal/jsonschema/pjs/CreateJobRequest.schema.json
  src/internal/jsonschema/pjs/InspectJobResponse.schema.json
  src/internal/jsonschema/pjs/InspectQueueResponse.schema.json
  src/internal/jsonschema/pjs/JobInfo.schema.json
  src/internal/jsonschema/pjs/JobInfoDetails.schema.json
  src/internal/jsonschema/pjs/ListJobResponse.schema.json
  src/internal/jsonschema/pjs/ListQueueResponse.schema.json
  src/internal/jsonschema/pjs/ProcessQueueRequest.schema.json
  src/internal/jsonschema/pjs/ProcessQueueResponse.schema.json
  src/internal/jsonschema/pjs/QueueInfo.schema.json
  src/internal/jsonschema/pjs/QueueInfoDetails.schema.json
  src/internal/pjsdb/BUILD.bazel
  src/internal/pjsdb/crud.go
  src/openapi/pachyderm_api.swagger.json
  src/pjs/pjs.pb.go
  src/pjs/pjs.pb.validate.go
  src/pjs/pjs.pb.zap.go
  src/pjs/pjs.proto
  src/typescript/pjs/pjs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

[INT-1266] Allow users in Pach enabled MLDE Notebooks to input commit id (#10142)
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/src/plugins/mount/__tests__/pollMounts.test.tsx
  jupyter-extension/src/plugins/mount/components/Explore/Explore.css
  jupyter-extension/src/plugins/mount/components/Explore/Explore.tsx
  jupyter-extension/src/plugins/mount/mount.css
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/pollMounts.ts
  jupyter-extension/src/plugins/mount/types.ts
  jupyter-extension/src/utils/components/DropdownCombobox/DropdownCombobox.css
  jupyter-extension/src/utils/components/DropdownCombobox/DropdownCombobox.tsx
  jupyter-extension/src/utils/components/TextInput/TextInput.css
  jupyter-extension/src/utils/components/TextInput/TextInput.tsx
  jupyter-extension/style/base.css
Due: run-jupyter-jobs

Update Docker to address vulnerability
  go.mod
  go.sum
  src/internal/dockertestenv/util.go
  src/internal/kindenv/registry.go
Due: run-core-jobs

implementation with tests
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/pachyderm_sdk/api/storage/extension.py
  python-sdk/pachyderm_sdk/client.py
  python-sdk/pachyderm_sdk/constants.py
  python-sdk/tests/test_storage.py
Due: run-python-sdk-jobs

Add .python-sdk as an extrapath
  .vscode/settings.json
Due: none

Ignore deprecated gRPC calls
  src/client/client.go
  src/internal/client/client.go
  src/internal/determined/client.go
  src/internal/grpcutil/testclient.go
  src/internal/kindenv/pachyderm.go
  src/internal/pachd/setup.go
  src/server/debug/server/log.go
  src/server/misc/cmds/grpc.go
  src/server/worker/server/client.go
Due: run-core-jobs

fix test and improve documentation
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/pachyderm_sdk/api/storage/extension.py
  python-sdk/tests/test_storage.py
Due: run-python-sdk-jobs

run black
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/pachyderm_sdk/api/storage/extension.py
  python-sdk/tests/test_storage.py
Due: run-python-sdk-jobs

Delint
  src/internal/log/core.go
Due: run-core-jobs
