Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

parse the CRI time
  src/internal/lokiutil/repair.go
  src/internal/lokiutil/repair_test.go
Due: run-core-jobs

Update ppsdb to use interface type sql.ExtContext
  src/internal/collection/postgres_collection.go
  src/internal/collection/postgres_listener.go
  src/internal/jsonschema/BUILD.bazel
  src/internal/ppsdb/BUILD.bazel
  src/internal/ppsdb/ppsdb.go
  src/pps/BUILD.bazel
Due: run-core-jobs

Add pipeline picking
  src/internal/ppsdb/pipelines.go
  src/internal/ppsdb/ppsdb.go
Due: run-core-jobs

Add pipeline to metadata
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/metadata/__init__.py
  src/internal/jsonschema/metadata/Edit.schema.json
  src/internal/jsonschema/metadata/EditMetadataRequest.schema.json
  src/metadata/metadata.pb.go
  src/metadata/metadata.pb.validate.go
  src/metadata/metadata.pb.zap.go
  src/metadata/metadata.proto
  src/openapi/pachyderm_api.swagger.json
  src/typescript/metadata/metadata.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

[PFS-260] write a work-in-progress Pin().
  src/internal/storage/fileset/BUILD.bazel
  src/internal/storage/fileset/fileset.go
  src/internal/storage/fileset/fileset_test.go
  src/internal/storage/fileset/storage.go
Due: run-core-jobs

Move pipeline metadata from details to info, implement edit
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/pps_v2/PipelineInfo.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfos.schema.json
  src/internal/ppsdb/pipelines.go
  src/metadata/BUILD.bazel
  src/openapi/pachyderm_api.swagger.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/server/metadata/BUILD.bazel
  src/server/metadata/metadata.go
  src/typescript/pps/pps.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

chore: remove/rename sample images (#2146)
  api-throughput-test/projectSetup.js
  backend/src/handlers/__tests__/encodeArchiveUrl.test.ts
  cypress/e2e/unauthenticated/FileBrowser.ts
  cypress/e2e/unauthenticated/PipelineActions.ts
  cypress/e2e/unauthenticated/Repos.ts
  cypress/fixtures/AT-AT.png
  cypress/fixtures/car.png
  cypress/fixtures/cat.png
  cypress/fixtures/fruit.png
  cypress/fixtures/liberty.png
  cypress/fixtures/puppy.png
  cypress/support/commands.ts
  etc/testing/files/46Q8nDz.jpg
  etc/testing/files/8MN9Kg0.jpg
  etc/testing/files/AT-AT.png
  etc/testing/files/FOO9q43.jpg
  etc/testing/files/Togu2RY.jpg
  etc/testing/files/car.png
  etc/testing/files/cat.png
  etc/testing/files/fruit.png
  etc/testing/files/g2QnNqa.jpg
  etc/testing/files/liberty.png
  frontend/src/mocks/files.ts
  frontend/src/views/FileBrowser/__tests__/FileBrowser.test.tsx
  frontend/src/views/FileBrowser/components/FileHistory/__tests__/FileHistory.test.tsx
  frontend/src/views/FileBrowser/components/ListViewTable/__tests__/ListViewTable.test.tsx
  test-dags/Makefile
  test-dags/scripts/lots-of-commits/index.js
Due: run-core-jobs

chore: delete and move performance contents (#2134)
  performance/.gitignore
  performance/README.md
  performance/load-tests/README.md
  performance/load-tests/load.ts
  performance/load-tests/package-lock.json
  performance/load-tests/package.json
  performance/load-tests/src/browser.ts
  performance/load-tests/src/constants.ts
  performance/load-tests/src/logger.ts
  performance/load-tests/src/types.ts
  performance/load-tests/src/userJourneys.ts
  performance/load-tests/src/utils.ts
  performance/load-tests/tsconfig.json
  test-dags/cluster-setup/README.md
  test-dags/cluster-setup/package-lock.json
  test-dags/cluster-setup/package.json
  test-dags/cluster-setup/src/manageCluster.ts
  test-dags/cluster-setup/src/pipelines/echo-name.jsonnet
  test-dags/cluster-setup/src/pipelines/generate-large-file.jsonnet
  test-dags/cluster-setup/src/pipelines/generate-small-files.jsonnet
  test-dags/cluster-setup/src/pipelines/log-and-copy-files.jsonnet
  test-dags/cluster-setup/tsconfig.json
Due: none

chore: update docs paths (#2128)
  frontend/src/components/BrandedDocLink/BrandedDocLink.tsx
  frontend/src/components/BrandedDocLink/__tests__/BrandedDocLink.test.tsx
  frontend/src/views/DatumViewer/components/MiddleSection/components/LogsViewer/components/LogsBody/LogsBody.tsx
  frontend/src/views/FileUpload/FileUpload.tsx
  frontend/src/views/Project/components/DAGView/DAGView.tsx
  frontend/src/views/Project/components/DAGView/components/GlobalFilter/GlobalFilter.tsx
  frontend/src/views/Project/components/JobSetList/components/RunsTable/components/RunsList/RunsList.tsx
  frontend/src/views/Project/components/PipelineList/components/PipelineStepsTable/components/PipelineStepsList/PipelineStepsList.tsx
  frontend/src/views/Project/components/ProjectSidebar/__tests__/ProjectSidebar.test.tsx
  frontend/src/views/Project/components/RepoList/components/ReposTable/components/RepositoriesList/RepositoriesList.tsx
Due: none

fix: surface auth error details as cause (#2133)
  frontend/src/api/__tests__/auth.test.ts
  frontend/src/api/auth.ts
  frontend/src/api/utils/error.ts
  frontend/src/mocks/auth.ts
  frontend/src/views/ErrorView/hooks/useErrorView.ts
Due: none

Working edit pipeline metadata
  src/internal/ppsdb/pipelines.go
  src/server/metadata/cmds/BUILD.bazel
  src/server/metadata/cmds/cmds.go
Due: run-core-jobs

Add missing file
  src/internal/jsonschema/pps_v2/PipelinePicker.schema.json
Due: run-core-jobs

FRON-1519: Prompt user for branch if deleting files on a commit with multiple branches (#2132)
  frontend/src/mocks/branches.ts
  frontend/src/views/FileBrowser/components/BranchConfirmationModal/BranchConfirmationModal.module.css
  frontend/src/views/FileBrowser/components/BranchConfirmationModal/BranchConfirmationModal.tsx
  frontend/src/views/FileBrowser/components/BranchConfirmationModal/index.ts
  frontend/src/views/FileBrowser/components/FilePreview/FilePreview.tsx
  frontend/src/views/FileBrowser/components/FilePreview/__tests__/FilePreview.test.tsx
  frontend/src/views/FileBrowser/components/ListViewTable/FileTableRow/FileTableRow.tsx
  frontend/src/views/FileBrowser/components/ListViewTable/ListViewTable.tsx
  frontend/src/views/FileBrowser/components/ListViewTable/hooks/useListViewTable.ts
  frontend/src/views/FileBrowser/hooks/useFileDelete.ts
Due: none

Update Helm Chart for det version 0.34.0
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/templates/determined/master-permissions.yaml
  etc/helm/pachyderm/templates/determined/master-service.yaml
Due: run-core-jobs

Handle lines from misconfigured Loki (#10178)
  src/internal/lokiutil/BUILD.bazel
  src/internal/lokiutil/repair.go
  src/internal/lokiutil/repair_test.go
  src/server/logs/BUILD.bazel
  src/server/logs/internal_test.go
  src/server/logs/logs.go
  src/server/logs/testdata/simple.txt
Due: run-core-jobs

update e2e test to hit correct dag button
  cypress/e2e/unauthenticated/LongRunningTests.ts
Due: none

add size responsive CSS to DAGView
  frontend/src/views/Project/components/DAGView/DAGView.tsx
Due: none

fix e2e test for new container size
  cypress/e2e/unauthenticated/LongRunningTests.ts
Due: none

remove useCurrentWidthAndHeight to use CSS container instead
  frontend/components/src/hooks/useCurrentWidthAndHeight.ts
  frontend/src/views/Project/components/DAGView/DAGView.module.css
Due: none

change container rule to use < and to 800px (nicer number)
  frontend/src/views/Project/components/DAGView/DAGView.module.css
Due: none

add parallelism and cache
  src/internal/storage/chunk/cdr.go
  src/internal/storage/server.go
  src/internal/storage/server_test.go
Due: run-core-jobs

add bazel file
  src/internal/storage/BUILD.bazel
Due: run-core-jobs

Comment out failOnConsole Update skipped error message
  jupyter-extension/jest.config.js
  jupyter-extension/scripts/jest.setup.js
Due: run-jupyter-jobs

fix naming
  src/internal/storage/chunk/cdr.go
  src/internal/storage/server.go
Due: run-core-jobs

write perf test and update CdrResolver to function with an unencrypted cache
  python-sdk/.gitignore
  python-sdk/cdr_perf/generate_dataset.py
  python-sdk/cdr_perf/main.py
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/pachyderm_sdk/api/storage/extension.py
Due: run-python-sdk-jobs

[PFS-223] Remove TestUpgradeTrigger.
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs

Add pipeline metadata tests
  src/server/metadata/server/testing/metadata_k8s_test.go
Due: run-core-jobs

Add test for pachctl edit pipeline metadata
  src/server/metadata/cmds/cmds_test.go
Due: run-core-jobs

Move pipeline tests into main test file
  src/server/metadata/server/testing/metadata_k8s_test.go
  src/server/metadata/server/testing/metadata_test.go
Due: run-core-jobs

[PFS-223] Remove TestUpgradeTrigger (#10160)
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs

Gazelle
  src/server/metadata/server/testing/BUILD.bazel
Due: run-core-jobs

fix: merge conflict fix (#2148)
  frontend/src/views/Project/components/DAGView/components/DAG/DAG.tsx
Due: none

resolve comments
  src/internal/storage/server.go
  src/internal/storage/server_test.go
Due: run-core-jobs

resolve nit
  src/internal/storage/server.go
Due: run-core-jobs

fixes
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/pachyderm_sdk/api/storage/extension.py
Due: run-python-sdk-jobs

Correct pipeline-name picker
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/metadata/Edit.schema.json
  src/internal/jsonschema/metadata/EditMetadataRequest.schema.json
  src/internal/jsonschema/pps_v2/PipelinePicker.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pps/pps.go
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/pps/pps_test.go
  src/server/metadata/server/testing/metadata_test.go
  src/typescript/pps/pps.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

[PFS-251] ReadFilesetCDR Performance Improvements (#10188)
  src/internal/storage/BUILD.bazel
  src/internal/storage/chunk/cdr.go
  src/internal/storage/server.go
  src/internal/storage/server_test.go
Due: run-core-jobs

Add some simple pipeline tests
  src/internal/ppsdb/pipelines.go
  src/internal/ppsdb/pipelines_test.go
Due: run-core-jobs

[CORE-2308] Add pipeline metadata (#10184)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/metadata/__init__.py
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/collection/postgres_collection.go
  src/internal/collection/postgres_listener.go
  src/internal/jsonschema/BUILD.bazel
  src/internal/jsonschema/metadata/Edit.schema.json
  src/internal/jsonschema/metadata/EditMetadataRequest.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfo.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfos.schema.json
  src/internal/jsonschema/pps_v2/PipelinePicker.schema.json
  src/internal/ppsdb/BUILD.bazel
  src/internal/ppsdb/pipelines.go
  src/internal/ppsdb/pipelines_test.go
  src/internal/ppsdb/ppsdb.go
  src/metadata/BUILD.bazel
  src/metadata/metadata.pb.go
  src/metadata/metadata.pb.validate.go
  src/metadata/metadata.pb.zap.go
  src/metadata/metadata.proto
  src/openapi/pachyderm_api.swagger.json
  src/pps/BUILD.bazel
  src/pps/pps.go
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/pps/pps_test.go
  src/server/metadata/BUILD.bazel
  src/server/metadata/cmds/BUILD.bazel
  src/server/metadata/cmds/cmds.go
  src/server/metadata/cmds/cmds_test.go
  src/server/metadata/metadata.go
  src/server/metadata/server/testing/BUILD.bazel
  src/server/metadata/server/testing/metadata_test.go
  src/typescript/metadata/metadata.pb.ts
  src/typescript/pps/pps.pb.ts
Due: run-core-jobs, run-python-sdk-jobs
