Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

remove dependency in pachd
  src/internal/pachd/enterprise.go
  src/internal/pachd/env.go
  src/internal/pachd/pachw.go
  src/internal/testpachd/realenv/real_env.go
Due: run-core-jobs

update bazel files.
  MODULE.bazel.lock
Due: run-core-jobs

fix activate tests
  src/internal/minikubetestenv/deploy.go
  src/server/auth/cmds/cmds_integration_test.go
  src/server/pachyderm_test.go
  src/server/worker/stats/stats_test.go
Due: run-core-jobs

oh bazel
  MODULE.bazel.lock
Due: run-core-jobs

remove impl in enterprise server
  src/internal/metrics/BUILD.bazel
  src/server/cmd/pachctl/cmd/BUILD.bazel
  src/server/enterprise/cmds/BUILD.bazel
  src/server/enterprise/cmds/cmds.go
  src/server/enterprise/cmds/cmds_test.go
  src/server/enterprise/limits/BUILD.bazel
  src/server/enterprise/limits/limits.go
  src/server/enterprise/metrics/BUILD.bazel
  src/server/enterprise/metrics/metrics.go
  src/server/enterprise/server/BUILD.bazel
  src/server/enterprise/server/api_server.go
  src/server/enterprise/server/enterprise_integration_test.go
  src/server/enterprise/server/enterprise_test.go
  src/server/enterprise/server/env.go
  src/server/enterprise/testing/cmd_test.go
Due: run-core-jobs

chore: set console always in enterprise mode
  console/README.md
  console/cypress/e2e/authenticated/EnterpriseFeatures.ts
  console/cypress/e2e/unauthenticated/Community.ts
  console/cypress/e2e/unauthenticated/Header.ts
  console/frontend/src/components/AuthenticatedRoute/AuthenticatedRoute.tsx
  console/frontend/src/components/HeaderDropdown/HeaderDropdown.tsx
  console/frontend/src/hooks/useEnterpriseActive.ts
  console/frontend/src/views/Landing/components/LandingHeader/LandingHeader.tsx
Due: none

attempt to fix determined tests
  src/internal/minikubetestenv/deploy.go
Due: run-core-jobs

bazel update pg
  MODULE.bazel.lock
Due: run-core-jobs

gz
  src/internal/testpachd/realenv/BUILD.bazel
Due: run-core-jobs

implement feedback: vendor migration
  src/internal/clusterstate/BUILD.bazel
  src/internal/clusterstate/v2.1.0.go
Due: run-core-jobs

remove py test
  python-sdk/tests/test_enterprise.py
  src/internal/pachd/BUILD.bazel
Due: run-core-jobs, run-python-sdk-jobs

remove upgrade test
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs

chore: delete console community edition unit tests
  MODULE.bazel.lock
  console/frontend/src/components/BrandedDocLink/__tests__/BrandedDocLink.test.tsx
  console/frontend/src/components/BrandedTitle/__tests__/BrandedTitle.test.tsx
  console/frontend/src/components/ErrorStateSupportLink/__tests__/ErrorStateSupportLink.test.tsx
  console/frontend/src/components/HeaderDropdown/__tests__/HeaderDropdown.test.tsx
  console/frontend/src/views/Landing/components/LandingHeader/__tests__/LandingHeader.test.tsx
  console/frontend/src/views/Project/components/ProjectSidebar/__tests__/ProjectSidebar.test.tsx
Due: run-core-jobs

bazel pg dependency
  MODULE.bazel.lock
Due: run-core-jobs

fix activate
  src/server/auth/server/testing/auth_test.go
Due: run-core-jobs

fix python test commit
  MODULE.bazel.lock
  private/apt/apt.lock.json
  python-sdk/tests/test_pps.py
  src/auth/auth.go
  src/internal/middleware/auth/handler.go
  src/server/auth/server/api_server.go
  src/server/pfs/server/server_commit_set.go
Due: run-core-jobs, run-python-sdk-jobs

bazel
  private/apt/apt.lock.json
Due: none

authless community test
  .circleci/main.yml
  etc/testing/console-test-helm-values-noauth/pachdev/pach-local-default-pachyderm-values.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Update to latest go-oidc
  Dockerfile.go-rabbitmq-spout
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/Makefile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  src/auth/BUILD.bazel
  src/auth/auth.go
  src/server/auth/server/BUILD.bazel
  src/server/auth/server/oidc.go
Due: run-core-jobs

Update Postgres .deb
  private/apt/apt.lock.json
Due: none

Update go-oidc and spout example
  MODULE.bazel
  examples/spouts/go-rabbitmq-spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/Makefile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  src/auth/BUILD.bazel
  src/auth/auth.go
  src/server/auth/server/BUILD.bazel
  src/server/auth/server/oidc.go
Due: run-core-jobs

Update PostgreSQL .deb
  private/apt/apt.lock.json
Due: none

Update go-oidc and spout example
  MODULE.bazel
  examples/spouts/go-rabbitmq-spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/Makefile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  private/apt/apt.lock.json
  src/auth/BUILD.bazel
  src/auth/auth.go
  src/server/auth/server/BUILD.bazel
  src/server/auth/server/oidc.go
Due: run-core-jobs

Update go-oidc and spout example
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/Makefile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  src/auth/BUILD.bazel
  src/auth/auth.go
  src/server/auth/server/BUILD.bazel
  src/server/auth/server/oidc.go
Due: run-core-jobs

[INF-1635] Update to latest go-oidc (#10475)
  Dockerfile.go-rabbitmq-spout
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/Makefile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  private/apt/apt.lock.json
  src/auth/BUILD.bazel
  src/auth/auth.go
  src/server/auth/server/BUILD.bazel
  src/server/auth/server/oidc.go
Due: run-core-jobs

Update go-oidc and spout example
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/Makefile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
Due: run-core-jobs

Tidy
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

[INF-635] go-jose 2.12 (#10476)
  MODULE.bazel
  examples/spouts/go-rabbitmq-spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/Makefile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  private/apt/apt.lock.json
  src/auth/BUILD.bazel
  src/auth/auth.go
  src/server/auth/server/BUILD.bazel
  src/server/auth/server/oidc.go
Due: run-core-jobs

[INF-1635] Update go-oidc and spout example (#10477)
  MODULE.bazel
  examples/spouts/go-rabbitmq-spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/Makefile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  private/apt/apt.lock.json
  src/auth/BUILD.bazel
  src/auth/auth.go
  src/server/auth/server/BUILD.bazel
  src/server/auth/server/oidc.go
Due: run-core-jobs

[PFS-255] Remove TestMicrosoft (#10161)
  etc/helm/pachyderm/templates/pachd/storage-secret.yaml
  etc/helm/test/microsoft_test.go
  src/internal/obj/integrationtests/util.go
  src/server/pfs/server/storage_bucket_test.go
Due: run-core-jobs

[INF-1635] Update dependencies (#10462)
  .circleci/config.yml
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix pg bazel
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

Update LICENSE, fix license year
  LICENSE
Due: run-core-jobs

update pg
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

update pg (#10481)
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

bump base-revision dc for release branch (#10424)
  .circleci/config.yml
  etc/helm/pachyderm/Chart.yaml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[Backport 2.12] Upgrade Helm Chart for Det 0.38.0 (#10451) (#10453)
  MODULE.bazel.lock
Due: run-core-jobs

[INF-635] go-jose 2.12 (#10476)
  examples/spouts/go-rabbitmq-spout/Dockerfile
  go.mod
  go.sum
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
