Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

unk8sify auth tests; add s3 gateway support to testpachd
  src/internal/pachd/full.go
  src/internal/pachd/testpachd.go
  src/server/auth/server/testing/BUILD.bazel
  src/server/auth/server/testing/auth_integration_test.go
  src/server/auth/server/testing/auth_test.go
  src/testing/testpachd/main.go
Due: run-core-jobs

unk8sify the mount command test
  BUILD.bazel
  src/server/pfs/cmds/BUILD.bazel
  src/server/pfs/cmds/cmds_integration_test.go
Due: run-core-jobs

unk8sify one more auth test
  src/server/auth/server/testing/auth_integration_test.go
  src/server/auth/server/testing/auth_test.go
Due: run-core-jobs

add the ability to skip minio creation, of course
  .bazelrc
  .circleci/main.yml
  src/internal/dockertestenv/minio.go
  src/internal/dockertestenv/postgres.go
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

oops
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Update dependencies for jupyterlab v4.0 (#10250)
  .circleci/main.yml
  MODULE.bazel.lock
  jupyter-extension/Dockerfile
  jupyter-extension/cypress/e2e/examples.cy.ts
  jupyter-extension/cypress/e2e/mount.cy.ts
  jupyter-extension/cypress/support/commands.js
  jupyter-extension/jest.config.js
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/package-lock.json
  jupyter-extension/package.json
  jupyter-extension/pyproject.toml
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
  jupyter-extension/scripts/jest.setup.js
  jupyter-extension/src/plugins/examples/__test__/examples.test.tsx
  jupyter-extension/src/plugins/mount/__tests__/mount.test.tsx
  jupyter-extension/src/plugins/mount/components/Config/__tests__/Config.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
  jupyter-extension/src/plugins/mount/mount.css
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/pollMounts.ts
  jupyter-extension/src/plugins/mount/types.ts
  jupyter-extension/src/setupTests.ts
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Convert even more k8s tests to unit tests (#10269)
  .bazelignore
  .bazelrc
  .circleci/main.yml
  BUILD.bazel
  MODULE.bazel.lock
  examples/scraper/BUILD.bazel
  examples/scraper/scraper_test.go
  src/internal/dockertestenv/minio.go
  src/internal/dockertestenv/postgres.go
  src/internal/pachd/full.go
  src/internal/pachd/setup.go
  src/internal/pachd/testpachd.go
  src/internal/testutil/BUILD.bazel
  src/internal/testutil/pachctl_test.go
  src/server/auth/cmds/BUILD.bazel
  src/server/auth/cmds/cmds_integration_test.go
  src/server/auth/cmds/cmds_test.go
  src/server/auth/server/testing/BUILD.bazel
  src/server/auth/server/testing/auth_integration_test.go
  src/server/auth/server/testing/auth_test.go
  src/server/config/BUILD.bazel
  src/server/config/cmds_k8s_test.go
  src/server/config/cmds_test.go
  src/server/debug/server/debugstar/debugstar_k8s_test.go
  src/server/debug/server/debugstar/debugstar_test.go
  src/server/enterprise/testing/cmd_test.go
  src/server/license/cmds/cmds_test.go
  src/server/pfs/cmds/BUILD.bazel
  src/server/pfs/cmds/cmds_integration_test.go
  src/server/pps/cmds/BUILD.bazel
  src/server/pps/cmds/cmds_realenv_test.go
  src/server/pps/cmds/cmds_test.go
  src/server/pps/server/BUILD.bazel
  src/server/pps/server/api_server_integration_test.go
  src/server/pps/server/api_server_test.go
  src/server/transaction/cmds/BUILD.bazel
  src/server/transaction/cmds/cmds_test.go
  src/testing/cmds/dockertestenv/main.go
  src/testing/testpachd/main.go
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

processQueue and db crud needed
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/queue_crud.go
Due: run-core-jobs

Add bazel
  src/internal/pjs/BUILD.bazel
  src/internal/pjsdb/BUILD.bazel
Due: run-core-jobs

Update dependencies for jupyterlab v4.0 (#10250) (#10271)
  .circleci/main.yml
  MODULE.bazel.lock
  jupyter-extension/Dockerfile
  jupyter-extension/cypress/e2e/examples.cy.ts
  jupyter-extension/cypress/e2e/mount.cy.ts
  jupyter-extension/cypress/support/commands.js
  jupyter-extension/jest.config.js
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/package-lock.json
  jupyter-extension/package.json
  jupyter-extension/pyproject.toml
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
  jupyter-extension/scripts/jest.setup.js
  jupyter-extension/src/plugins/examples/__test__/examples.test.tsx
  jupyter-extension/src/plugins/mount/__tests__/mount.test.tsx
  jupyter-extension/src/plugins/mount/components/Config/__tests__/Config.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
  jupyter-extension/src/plugins/mount/mount.css
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/pollMounts.ts
  jupyter-extension/src/plugins/mount/types.ts
  jupyter-extension/src/setupTests.ts
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Update CODEOWNERS - make console unowned
  .github/CODEOWNERS
Due: run-core-jobs

implement PR feedback
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/queue_crud.go
Due: run-core-jobs

fix linter
  src/internal/pjs/server_test.go
Due: run-core-jobs

Add comments and fix tests
  src/internal/pjs/server_test.go
Due: run-core-jobs

[MLDM-30] processQueue RPC (#10273)
  src/internal/pjs/BUILD.bazel
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/BUILD.bazel
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/queue_crud.go
Due: run-core-jobs

[MLDM-31] Add code and proto for walk job algorithms.
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/job_crud_test.go
  src/pjs/pjs.proto
Due: run-core-jobs

[MLDM-31] generate protos.
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/internal/jsonschema/pjs/WalkJobRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pjs/pjs.pb.go
  src/pjs/pjs.pb.validate.go
  src/pjs/pjs.pb.zap.go
  src/typescript/pjs/pjs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Update CODEOWNERS - make console unowned (#10275)
  .github/CODEOWNERS
Due: run-core-jobs

update console lock files
  console/backend/package-lock.json
  console/frontend/package-lock.json
Due: none

add documentation to the console/BAZEL.md file
  console/BAZEL.md
Due: none

backend and frontend tests using bazel test
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  console/BUILD.bazel
  console/backend/BUILD.bazel
  console/backend/package.json
  console/backend/pnpm-lock.yaml
  console/frontend/BUILD.bazel
  console/frontend/package.json
  console/frontend/pnpm-lock.yaml
  console/jest.config.base.js
  src/internal/jsonschema/BUILD.bazel
  src/typescript/BUILD.bazel
Due: run-core-jobs

revert to bzlmod rules_nodejs and use .nvmrc file
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  console/.nvmrc
Due: run-core-jobs

buildifier
  MODULE.bazel
Due: run-core-jobs

typo
  console/BAZEL.md
Due: none

[MLDM-24] Include console backend and frontend tests in `bazel test` (#10274)
  MODULE.bazel
  MODULE.bazel.lock
  console/.nvmrc
  console/BAZEL.md
  console/BUILD.bazel
  console/backend/BUILD.bazel
  console/backend/package-lock.json
  console/backend/package.json
  console/backend/pnpm-lock.yaml
  console/frontend/BUILD.bazel
  console/frontend/package-lock.json
  console/frontend/package.json
  console/frontend/pnpm-lock.yaml
  console/jest.config.base.js
  src/internal/jsonschema/BUILD.bazel
  src/typescript/BUILD.bazel
Due: run-core-jobs

[MLDM-31] Implement WalkJob RPC layer and tests.
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/queue_crud.go
  src/internal/pjsdb/queue_crud_test.go
Due: run-core-jobs

[MLDM-31] I always forget to run gazelle.
  src/internal/pjs/BUILD.bazel
  src/internal/pjs/api_server.go
Due: run-core-jobs

Revert "Override Datum Batching user code env vars [CORE-2336] (#10235)"
  src/server/worker/driver/driver.go
  src/server/worker/pipeline/transform/worker.go
Due: run-core-jobs

Revert "Add pachd + worker k8s networking env vars for notebooks (#10228)"
  src/server/worker/driver/driver.go
Due: run-core-jobs

Revert "User Code inherits Determined env vars (#10221)"
  src/server/worker/driver/driver.go
Due: run-core-jobs

Revert "Don't inherit full env for user code (#10159)"
  src/server/worker/driver/driver.go
Due: run-core-jobs

block POSTGRES_PASSWORD
  src/server/pachyderm_test.go
  src/server/worker/driver/driver.go
Due: run-core-jobs

add back the good parts of #10235
  src/server/worker/driver/driver.go
  src/server/worker/pipeline/transform/worker.go
Due: run-core-jobs

reduce differences in diff
  src/server/worker/driver/driver.go
Due: run-core-jobs

even less diffs
  src/server/worker/driver/driver.go
Due: run-core-jobs

Revert change that removes environment variables from the worker; only filter out POSTGRES_PASSWORD instead (#10278)
  src/server/pachyderm_test.go
  src/server/worker/driver/driver.go
Due: run-core-jobs

workspace_status: work on mac os, upgrade hard-coded master version to 2.12
  workspace_status.sh
Due: run-core-jobs

typo
  workspace_status.sh
Due: run-core-jobs

document pachdev
  LOCAL.md
Due: run-core-jobs
