Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-jupyter-jobs, run-core-jobs

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the continuation orb is required in order to use dynamic configuration
orbs:
  continuation: circleci/continuation@0.1.2
  path-filtering: circleci/path-filtering@0.1.3

parameters:
  run_load_tests:
    type: boolean
    default: false
  run_nightly_tag:
    type: boolean
    default: false
  working-pachyderm-version:
    type: string
    default: "v2.4.0"
  release-pgbouncer:
    type: boolean
    default: false
  pgbouncer-image-version:
    type: string
    default: "1.16.1"

# our defined job, and its steps
jobs:
  setup:
    executor: continuation/default
    steps:
      - checkout # checkout code
      #- run: # run a command
      #    name: Generate config
      #    command: |
      - continuation/continue:
          configuration_path: .circleci/main.yml # use newly generated config to continue
  create-nightly-tag:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "4c:1c:ff:56:c1:d0:07:03:23:08:08:2e:e6:16:30:1d"
      - run:
          name: setup pachydermbuildbot git
          command: |
            git config --global user.email "buildbot@pachyderm.io"
            git config --global user.name "pachydermbuildbot"
      - run:
          name: create nightly tag
          command: |
            TIMESTAMP=$(date +'%Y%m%d')
            WORKINGVERSION=<< pipeline.parameters.working-pachyderm-version >>
            NIGHTLY=${WORKINGVERSION}-nightly.${TIMESTAMP}
            git tag -am "nightly release tag ${NIGHTLY}" ${NIGHTLY}
            git push origin ${NIGHTLY}
  release-pgbouncer:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Download utilities
          command: |
            sudo apt update
            sudo apt install qemu binfmt-support qemu-user-static
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: pachydermbuildbot docker login
          command: |
            echo "$DOCKER_PWD" | docker login --username pachydermbuildbot --password-stdin
      - run:
          name: update pgbouncer image
          command: |
            docker buildx create --name pgb --driver docker-container
            docker buildx build --builder pgb --build-arg VERSION=<< pipeline.parameters.pgbouncer-image-version >> --platform=linux/amd64,linux/arm64 -f Dockerfile.pgbouncer -t pachyderm/pgbouncer:<< pipeline.parameters.pgbouncer-image-version >> --push

# our single workflow, that triggers the setup job defined above
workflows:
  generate-config:
    when:
      and:
        - not: << pipeline.parameters.run_nightly_tag >>
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            jupyter-extension/.* run-jupyter-jobs true
            src/.* run-core-jobs true
          base-revision: master # NOTE: This should be updated to reflect the base branch (ie. master, 2.3.x)
          config-path: .circleci/main.yml
      - setup: # Only run setup on tags, otherwise use path filtering
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
  create-nightly-tag:
    when: << pipeline.parameters.run_nightly_tag >>
    jobs:
      - create-nightly-tag
  release-pgbouncer-image:
    when:
      and:
        - not: << pipeline.parameters.run_nightly_tag >>
        - equal: [true, << pipeline.parameters.release-pgbouncer >>]
    jobs:
      - release-pgbouncer

circleci - fix builder with tls env create error (#8297)
  .circleci/config.yml
Due: none

fix Max number of workflows exceeded. (#8296)
  .circleci/config.yml
Due: none

pgbouncer image release workflow (#8243)
  .circleci/config.yml
  Dockerfile.pgbouncer
  entrypoint.sh
Due: none

Update config.yml (#8300)
  .circleci/config.yml
Due: none

fix buildx build requires exactly 1 argument error (#8298)
  .circleci/config.yml
Due: none

Update Pg-bouncer to support non md5 auth (#8301)
  entrypoint.sh
  etc/helm/pachyderm/templates/pgbouncer/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: none

Fix Spout and Service pipeline restart issue (#8308)
  src/server/pps/cmds/cmds_test.go
  src/server/pps/server/api_server.go
  src/server/spout_test.go
Due: run-core-jobs

add btl mock work load to alpha pre-release tests (#8259)
  .circleci/main.yml
  etc/testing/circle/run_cust_release_tests.sh
  etc/testing/circle/workloads/aws-btl/infra.json
  etc/testing/circle/workloads/aws-btl/values.yaml
Due: none

[Mount Server] Fix delete mounted repo error (#8255)
  jupyter-extension/infra/main.go
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListMount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListUnmount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/SortableList.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/__tests__/SortableList.test.tsx
  jupyter-extension/src/plugins/mount/mount.tsx
  src/server/pfs/fuse/server.go
  src/server/pfs/fuse/server_test.go
Due: run-jupyter-jobs, run-core-jobs

Improve random data generation speed (#8309)
  go.mod
  go.sum
  src/internal/miscutil/math.go
  src/internal/randutil/rand.go
  src/internal/randutil/rand_test.go
  src/internal/storage/fileset/fileset_test.go
  src/server/pfs/fuse/server_test.go
Due: run-core-jobs

CODEOWNERS Init (#8289)
  .github/CODEOWNERS
Due: none

Request all commit types (#8307)
  src/server/pfs/fuse/server.go
Due: run-core-jobs

go.mod: upgrade automaxprocs to v1.5.1; for compatibility with newer linuxes (#8316)
  go.mod
  go.sum
Due: none

Add 'make docker-build-amd' to speed up local development (#8320)
  Makefile
  goreleaser/docker-amd.yml
Due: none

'pachctl draw' -> 'pachctl draw pipeline' (#8314)
  src/server/cmd/pachctl/cmd/cmd.go
  src/server/pps/cmds/cmds.go
Due: run-core-jobs

[Jupyter] Save state when switching between repo mode and datum mode (#8280)
  .circleci/main.yml
  jupyter-extension/.gitignore
  jupyter-extension/cypress/integration/repo-datum-mode-switch.ts
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/mount.css
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/types.ts
Due: run-jupyter-jobs

Add Pgsql client to pg bouncer image (#8321)
  Dockerfile.pgbouncer
Due: none

unused code part II (#8317)
  src/internal/grpcutil/addr.go
  src/internal/grpcutil/dialer.go
  src/internal/grpcutil/server.go
  src/internal/grpcutil/stream.go
  src/internal/log/log.go
  src/internal/middleware/auth/handler.go
  src/internal/migrations/migrations.go
  src/internal/miscutil/miscutil.go
  src/internal/obj/factory.go
  src/internal/obj/integrationtests/tests.go
  src/internal/ppsconsts/ppsconsts.go
  src/internal/progress/progress.go
  src/internal/sdata/csv.go
  src/internal/storage/chunk/client.go
  src/internal/storage/chunk/metadata.go
  src/internal/storage/chunk/renewer.go
  src/internal/testutil/db.go
  src/internal/testutil/pach_client.go
  src/internal/testutil/ports.go
  src/internal/testutil/sql_data.go
  src/internal/transforms/transforms.go
  src/internal/uuid/uuid.go
Due: run-core-jobs

remove duplicae pps env variables (#8315)
  src/server/pps/server/worker_rc.go
Due: run-core-jobs

set pachd's $GOMEMLIMIT from k8s requests or limits (#8281)
  .circleci/main.yml
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  go.mod
  go.sum
  src/internal/dockertestenv/minio.go
  src/internal/pachd/builder.go
  src/internal/serviceenv/config.go
Due: run-core-jobs

arm64 deploy tests (#8160)
  .circleci/main.yml
  etc/helm/pachyderm/dependencies/postgresql/values.yaml
  etc/helm/pachyderm/values.yaml
  etc/testing/circle/install.sh
  src/testing/deploy/deploy_arm64_test.go
  src/testing/deploy/deploy_test.go
  src/testing/deploy/upgrade_arm64_test.go
Due: run-core-jobs

bump console version
  .circleci/config.yml
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/values.yaml
Due: none

base revision correction
  .circleci/config.yml
Due: none

bump console version (#8324)
  .circleci/config.yml
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/values.yaml
Due: none

bump cache
  .circleci/main.yml
Due: none

bump console version 2.3.7
  etc/helm/pachyderm/values.yaml
Due: none

bump cache (#8325)
  .circleci/main.yml
Due: none

bump console version 2.3.7 (#8326)
  etc/helm/pachyderm/values.yaml
Due: none

prep 2.5.x alphas
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/values.yaml
Due: none

prep 2.5.x alphas (#8327)
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/values.yaml
Due: none

cache bump
  .circleci/main.yml
Due: none

try temp removing python cache
  .circleci/main.yml
Due: none

try temp removing python cache (#8328)
  .circleci/main.yml
Due: none

bump pach core version (#773)
  version.json
Due: none

loki timeout and line num change
  src/internal/lokiutil/client/client.go
  src/internal/lokiutil/lokiutil.go
Due: run-core-jobs

move timout to debug dump server
  src/internal/lokiutil/client/client.go
  src/server/debug/server/server.go
Due: run-core-jobs

[CORE-1198] Add a timeout to loki requests from debug dump (#8329)
  src/internal/lokiutil/lokiutil.go
  src/server/debug/server/server.go
Due: run-core-jobs

Combine everything into one commit
  src/auth/auth.go
  src/auth/auth.pb.go
  src/auth/auth.proto
  src/client/auth.go
  src/internal/authdb/authdb.go
  src/internal/clusterstate/v2.0.0.go
  src/internal/clusterstate/v2.3.0.go
  src/internal/clusterstate/v2.4.0/auth.go
  src/internal/collection/postgres_listener.go
  src/internal/middleware/auth/handler.go
  src/internal/middleware/auth/interceptor.go
  src/internal/testutil/auth.go
  src/server/auth/cmds/cmds.go
  src/server/auth/server/api_server.go
  src/server/auth/server/roles.go
  src/server/auth/server/testing/admin_test.go
  src/server/auth/server/testing/auth_test.go
  src/server/pachyderm_test.go
  src/server/pfs/cmds/cmds_test.go
  src/server/pfs/server/driver.go
Due: run-core-jobs

don't error on create project
  src/server/pfs/server/driver.go
Due: run-core-jobs

Rename testutil.Cmd to Command
  src/internal/testutil/cmds.go
  src/server/cmd/pachctl/cmd/cmd_test.go
Due: run-core-jobs
