Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

Gazelle
  src/internal/dockertestenv/BUILD.bazel
  src/internal/kindenv/BUILD.bazel
Due: run-core-jobs

prefix cache key with name of hashing algorithm
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/pachyderm_sdk/api/storage/extension.py
Due: run-python-sdk-jobs

fix bug in _chunk_name
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
Due: run-python-sdk-jobs

Revert "Update Docker to address vulnerability"
  go.mod
  go.sum
  src/internal/dockertestenv/util.go
  src/internal/kindenv/registry.go
Due: run-core-jobs

Add ./python-sdk to extra paths for vscode (#10163)
  .vscode/settings.json
Due: none

Do not try to create projects with "" as the creator
  src/internal/pfsdb/projects.go
Due: run-core-jobs

Clean up go.mod
  go.mod
Due: run-core-jobs

Rename function
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/project_metadata.go
Due: run-core-jobs

Remove debugging lines
  src/internal/pfsdb/projects.go
Due: run-core-jobs

Tell the truth in pctx comment
  src/internal/clusterstate/v2.11.0/auth.go
Due: run-core-jobs

Wrap auth token insertion in a transaction
  src/server/auth/server/api_server.go
Due: run-core-jobs

Use a database transaction, not a Pachyderm transaction
  src/server/auth/server/api_server.go
Due: run-core-jobs

add govulncheck test
  src/testing/govulncheck/BUILD.bazel
  src/testing/govulncheck/govulncheck_test.go
  src/testing/govulncheck/testdata/ignored.json
Due: run-core-jobs

use the same paths / go finding / root finding for the tool and for the test
  src/testing/govulncheck/BUILD.bazel
  src/testing/govulncheck/govulncheck.go
  src/testing/govulncheck/govulncheck_test.go
  tools/govulncheck/BUILD.bazel
  tools/govulncheck/main.go
Due: run-core-jobs

use the bazel tests for govulncheck
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

go mod tidy; test the summary output
  go.mod
  src/testing/govulncheck/govulncheck_test.go
Due: run-core-jobs

Don't inherit full env for user code
  src/server/worker/driver/driver.go
Due: run-core-jobs

inherit custom env vars
  src/server/worker/driver/driver.go
Due: run-core-jobs

bazel mod tidy
  MODULE.bazel
Due: run-core-jobs

add auth in interceptor
  src/internal/middleware/auth/interceptor.go
Due: run-core-jobs

fix server ForgetCommit
  src/server/pfs/server/val_server.go
Due: run-core-jobs

add tests
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

add bazel
  src/internal/jsonschema/BUILD.bazel
Due: run-core-jobs

Add constraints
  src/internal/clusterstate/v2.11.0/auth.go
Due: run-core-jobs

starlark: avoid the need to read $PWD (#10153)
  src/internal/starlark/starlark.go
Due: run-core-jobs

maybe not pritning out === will be less confusing to the test runner?
  src/testing/govulncheck/BUILD.bazel
  src/testing/govulncheck/govulncheck_test.go
Due: run-core-jobs

Use sql.NullString
  src/internal/pfsdb/model.go
Due: run-core-jobs

[CORE-2315] Relational project created_by (#10158)
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  private/google-golang-org-protobuf.patch
  proto-docs.json
  proto-docs.md
  src/client/client.go
  src/internal/client/client.go
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/auth.go
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/commit_diffs.go
  src/internal/clusterstate/v2.11.0/commit_totals.go
  src/internal/clusterstate/v2.11.0/project_metadata.go
  src/internal/determined/client.go
  src/internal/grpcutil/testclient.go
  src/internal/jsonschema/pfs_v2/InspectProjectV2Response.schema.json
  src/internal/jsonschema/pfs_v2/ProjectInfo.schema.json
  src/internal/kindenv/pachyderm.go
  src/internal/log/core.go
  src/internal/pachd/setup.go
  src/internal/pfsdb/model.go
  src/internal/pfsdb/projects.go
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/server/auth/server/api_server.go
  src/server/auth/server/testing/auth_test.go
  src/server/debug/server/log.go
  src/server/misc/cmds/grpc.go
  src/server/pfs/server/driver.go
  src/server/worker/server/client.go
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs

add govulncheck to //tools
  MODULE.bazel
  MODULE.bazel.lock
  go.mod
  go.sum
  tools/govulncheck/BUILD.bazel
  tools/govulncheck/main.go
Due: run-core-jobs

add GOMEMLIMIT to govulncheck test
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

save
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

go mod tidy
  go.mod
Due: run-core-jobs

Run govulncheck with bazel (#10164)
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  go.mod
  go.sum
  src/testing/govulncheck/BUILD.bazel
  src/testing/govulncheck/govulncheck.go
  src/testing/govulncheck/govulncheck_test.go
  src/testing/govulncheck/testdata/ignored.json
  tools/govulncheck/BUILD.bazel
  tools/govulncheck/main.go
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs
