Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

rename WithID functions, structs, and variables.
  src/internal/pfsdb/branches.go
  src/internal/pfsdb/branches_test.go
  src/internal/pfsdb/commit_provenance.go
  src/internal/pfsdb/commit_provenance_test.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/internal/pfsdb/common.go
  src/internal/pfsdb/model.go
  src/internal/pfsdb/projects.go
  src/internal/pfsdb/projects_test.go
  src/internal/pfsdb/repos.go
  src/internal/pfsdb/repos_test.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/commit_set.go
  src/server/pfs/server/commit_store.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/driver_fsck.go
  src/server/pfs/server/master.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/trigger.go
  src/server/pfs/server/url.go
  src/server/pfs/server/val_server.go
Due: run-core-jobs

add filter for user logs only + docs
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/logs/__init__.py
  src/internal/jsonschema/logs/AdminLogQuery.schema.json
  src/internal/jsonschema/logs/GetLogsRequest.schema.json
  src/internal/jsonschema/logs/GetLogsResponse.schema.json
  src/internal/jsonschema/logs/JobDatumLogQuery.schema.json
  src/internal/jsonschema/logs/LogFilter.schema.json
  src/internal/jsonschema/logs/LogQuery.schema.json
  src/internal/jsonschema/logs/PagingHint.schema.json
  src/internal/jsonschema/logs/PipelineJobLogQuery.schema.json
  src/internal/jsonschema/logs/PipelineLogQuery.schema.json
  src/internal/jsonschema/logs/PodContainer.schema.json
  src/internal/jsonschema/logs/UserLogQuery.schema.json
  src/logs/logs.pb.go
  src/logs/logs.pb.validate.go
  src/logs/logs.pb.zap.go
  src/logs/logs.proto
  src/openapi/pachyderm_api.swagger.json
  src/typescript/logs/logs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Fix sed command in det startupHook (#10118)
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Fix sed command in det startupHook [2.10] (#10117)
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

--user for pipeline logs
  .gitattributes
  src/server/logs/cmds/cmds.go
  src/server/logs/internal_test.go
  src/server/logs/logs.go
  src/server/logs/logs_test.go
  src/server/logs/testdata/edges-v2-storage.txt
  src/server/logs/testdata/edges-v2-user.txt
Due: run-core-jobs

fix limits
  src/server/logs/internal_test.go
  src/server/logs/logs.go
  src/server/logs/logs_test.go
Due: run-core-jobs

job/datum logs
  src/server/logs/logs.go
  src/server/logs/logs_test.go
Due: run-core-jobs

project filter
  src/server/logs/logs.go
  src/server/logs/logs_test.go
Due: run-core-jobs

user filter for job logs
  src/server/logs/logs.go
  src/server/logs/logs_test.go
Due: run-core-jobs

user filter for pipeline jobs
  src/server/logs/logs.go
  src/server/logs/logs_test.go
Due: run-core-jobs

Confirm object storage tests aren't run in CI
  src/server/pfs/server/storage_bucket_test.go
  src/server/pfs/server/url_test.go
Due: run-core-jobs

fix incorrect comment.
  src/internal/pfsdb/branches.go
Due: run-core-jobs

Revert "Confirm object storage tests aren't run in CI"
  src/server/pfs/server/storage_bucket_test.go
  src/server/pfs/server/url_test.go
Due: run-core-jobs

Go mod tidy
  go.mod
  go.sum
Due: run-core-jobs

remove interface that is not used
  src/server/pfs/server/commit_store.go
Due: run-core-jobs

Bazel
  MODULE.bazel
  MODULE.bazel.lock
Due: run-core-jobs

Rename WithID Functions, Structs, and Variables (#10120)
  src/internal/pfsdb/branches.go
  src/internal/pfsdb/branches_test.go
  src/internal/pfsdb/commit_provenance.go
  src/internal/pfsdb/commit_provenance_test.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/internal/pfsdb/common.go
  src/internal/pfsdb/model.go
  src/internal/pfsdb/projects.go
  src/internal/pfsdb/projects_test.go
  src/internal/pfsdb/repos.go
  src/internal/pfsdb/repos_test.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/commit_set.go
  src/server/pfs/server/commit_store.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/driver_fsck.go
  src/server/pfs/server/master.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/trigger.go
  src/server/pfs/server/url.go
  src/server/pfs/server/val_server.go
Due: run-core-jobs

Revert "remove interface that is not used"
  src/server/pfs/server/commit_store.go
Due: run-core-jobs

add stub
  src/internal/testpachd/mock_pachd.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/val_server.go
Due: run-core-jobs

reformat proto
  src/pfs/pfs.proto
Due: run-core-jobs

remove dry run and regenerate proto
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  src/internal/jsonschema/pfs_v2/ForgetCommitRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

ForgetCommit -> forgetCommitTx
  src/server/pfs/server/api_server.go
  src/server/pfs/server/val_server.go
Due: run-core-jobs

FRON-1490: feat: update file download to browser native (#2091)
  backend/src/handlers/handleProxyForward.ts
  cypress/e2e/unauthenticated/FileBrowser.ts
  frontend/src/lib/fileUtils.ts
  frontend/src/views/FileBrowser/components/ListViewTable/__tests__/ListViewTable.test.tsx
  frontend/src/views/FileBrowser/hooks/useFileActions.ts
Due: none

test upload script
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

syntax
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

try npm for amd
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

separate command for amd
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

syntax and lint
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

truthy flip
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add xml for deploy tests
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

install gotestsum
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

wrong junit command
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

output folder
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

integration test upload
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add warning for jupyterlab version mismatch
  MODULE.bazel.lock
  jupyter-extension/Dockerfile
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/src/plugins/mount/pollMounts.ts
Due: run-core-jobs, run-jupyter-jobs

lint
  jupyter-extension/src/plugins/mount/pollMounts.ts
Due: run-jupyter-jobs

debug successful but not showing result
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

revert notebooks-user base image update
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
