Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-jupyter-jobs, run-core-jobs

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the continuation orb is required in order to use dynamic configuration
orbs:
  continuation: circleci/continuation@0.1.2
  path-filtering: circleci/path-filtering@0.1.3

parameters:
  run_load_tests:
    type: boolean
    default: false
  run_nightly_tag:
    type: boolean
    default: false
  working-pachyderm-version:
    type: string
    default: "v2.4.0"
  release-pgbouncer:
    type: boolean
    default: false
  pgbouncer-image-version:
    type: string
    default: "1.16.1"

# our defined job, and its steps
jobs:
  setup:
    executor: continuation/default
    steps:
      - checkout # checkout code
      #- run: # run a command
      #    name: Generate config
      #    command: |
      - continuation/continue:
          configuration_path: .circleci/main.yml # use newly generated config to continue
  create-nightly-tag:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "4c:1c:ff:56:c1:d0:07:03:23:08:08:2e:e6:16:30:1d"
      - run:
          name: setup pachydermbuildbot git
          command: |
            git config --global user.email "buildbot@pachyderm.io"
            git config --global user.name "pachydermbuildbot"
      - run:
          name: create nightly tag
          command: |
            TIMESTAMP=$(date +'%Y%m%d')
            WORKINGVERSION=<< pipeline.parameters.working-pachyderm-version >>
            NIGHTLY=${WORKINGVERSION}-nightly.${TIMESTAMP}
            git tag -am "nightly release tag ${NIGHTLY}" ${NIGHTLY}
            git push origin ${NIGHTLY}
  release-pgbouncer:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Download utilities
          command: |
            sudo apt update
            sudo apt install qemu binfmt-support qemu-user-static
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: pachydermbuildbot docker login
          command: |
            echo "$DOCKER_PWD" | docker login --username pachydermbuildbot --password-stdin
      - run:
          name: update pgbouncer image
          command: |
            docker buildx create --name pgb --driver docker-container
            docker buildx build --builder pgb --build-arg VERSION=<< pipeline.parameters.pgbouncer-image-version >> --platform=linux/amd64,linux/arm64 -f Dockerfile.pgbouncer -t pachyderm/pgbouncer:<< pipeline.parameters.pgbouncer-image-version >> --push

# our single workflow, that triggers the setup job defined above
workflows:
  generate-config:
    when:
      and:
        - not: << pipeline.parameters.run_nightly_tag >>
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            jupyter-extension/.* run-jupyter-jobs true
            src/.* run-core-jobs true
          base-revision: master # NOTE: This should be updated to reflect the base branch (ie. master, 2.3.x)
          config-path: .circleci/main.yml
      - setup: # Only run setup on tags, otherwise use path filtering
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
  create-nightly-tag:
    when: << pipeline.parameters.run_nightly_tag >>
    jobs:
      - create-nightly-tag
  release-pgbouncer-image:
    when:
      and:
        - not: << pipeline.parameters.run_nightly_tag >>
        - equal: [true, << pipeline.parameters.release-pgbouncer >>]
    jobs:
      - release-pgbouncer

Fix file set renewal in new compaction algorithm (#8227)
  src/internal/storage/fileset/compaction.go
  src/internal/storage/fileset/compaction_test.go
  src/server/pfs/server/master.go
Due: run-core-jobs

fix lint (#8225)
  src/server/pachyderm_test.go
Due: run-core-jobs

Draw pach DAGs on the command line (#7304)
  src/internal/ppsutil/util.go
  src/server/pps/cmds/cmds.go
  src/server/pps/pretty/draw.go
  src/server/pps/pretty/draw_test.go
Due: run-core-jobs

jupyterlab extension updates (#8158)
  doc/docs/2.3.x/getting-started/local-installation.md
  doc/docs/2.3.x/how-tos/jupyterlab-extension/index.md
  doc/docs/master/getting-started/local-installation.md
  doc/docs/master/how-tos/jupyterlab-extension/index.md
  doc/mkdocs-2.3.x.yml
  doc/mkdocs-master.yml
Due: none

[CORE-1050] Convert some enterprise and license tests into unit tests. (#8214)
  etc/testing/pfs_server.sh
  src/internal/grpcutil/server.go
  src/internal/testpachd/mock_env.go
  src/internal/testpachd/mock_pachd.go
  src/internal/testpachd/realenv/real_env.go
  src/internal/testutil/auth.go
  src/internal/testutil/enterprise.go
  src/server/auth/server/testing/admin_test.go
  src/server/auth/server/testing/auth_integration_test.go
  src/server/auth/server/testing/auth_test.go
  src/server/enterprise/server/api_server_test.go
  src/server/enterprise/server/enterprise_integration_test.go
  src/server/enterprise/server/enterprise_test.go
  src/server/license/server/license_test.go
  src/server/pachyderm_test.go
  src/server/pfs/fuse/fuse_test.go
  src/server/pfs/fuse/helpers_test.go
  src/server/pfs/fuse/server_integration_test.go
  src/server/pfs/fuse/server_test.go
  src/server/pfs/pfs_test.go
  src/server/pfs/s3/master_test.go
  src/server/pfs/s3/util_test.go
  src/server/pfs/s3/worker_test.go
  src/server/pfs/server/testing/load_test.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/testing/storage_test.go
Due: run-core-jobs

[CORE-1037] add startedTime marker for ListCommit (#8174)
  src/pfs/pfs.pb.go
  src/pfs/pfs.proto
  src/server/pfs/server/api_server.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

removed link (#8228)
  doc/overrides/home.html
Due: none

[Mount Server] Mount datums (#8052)
  src/server/pfs/fuse/loopback.go
  src/server/pfs/fuse/options.go
  src/server/pfs/fuse/server.go
  src/server/pfs/fuse/server_integration_test.go
  src/server/pfs/fuse/server_test.go
Due: run-core-jobs

[Jupyter] Mount datums (#8216)
  .circleci/main.yml
  jupyter-extension/README.md
  jupyter-extension/cypress/integration/mount.ts
  jupyter-extension/cypress/support/commands.js
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
  jupyter-extension/jupyterlab_pachyderm/pachyderm.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_handlers.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/scripts/integration_tests_setup.sh
  jupyter-extension/src/plugins/mount/__tests__/mount.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/components/FullPageError/FullPageError.tsx
  jupyter-extension/src/plugins/mount/components/FullPageError/__tests__/FullPageError.test.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListItem.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListMount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListUnmount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/SortableList.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/__tests__/SortableList.test.tsx
  jupyter-extension/src/plugins/mount/mount.css
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/pollMounts.ts
  jupyter-extension/src/plugins/mount/types.ts
Due: run-jupyter-jobs

bump doc versions (#8232)
  doc/mkdocs-1.13.x.yml
  doc/mkdocs-2.0.x.yml
  doc/mkdocs-2.1.x.yml
  doc/mkdocs-2.2.x.yml
  doc/mkdocs-2.3.x.yml
  doc/mkdocs-master.yml
Due: none

jupyterlab edit update (#8236)
  Dockerfile.pachdoc
  doc/docs/2.3.x/how-tos/jupyterlab-extension/index.md
  doc/netlify-copy.toml
Due: none

[CORE-1050] Change to using two build flags instead of !k8s (#8231)
  .circleci/main.yml
  src/server/auth/server/testing/admin_test.go
  src/server/auth/server/testing/auth_test.go
  src/server/enterprise/server/enterprise_test.go
  src/server/license/server/license_test.go
  src/server/pfs/fuse/fuse_test.go
  src/server/pfs/fuse/server_test.go
  src/server/pfs/pfs_test.go
  src/server/pfs/s3/master_test.go
  src/server/pfs/s3/util_test.go
  src/server/pfs/s3/worker_test.go
  src/server/pfs/server/testing/load_test.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/testing/storage_test.go
Due: run-core-jobs

bump console alpha version (#8233)
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/values.yaml
Due: none

global id example (#8110)
  examples/transactions/README.md
Due: none

Support yaml input spec in datum mounting (#8226)
  jupyter-extension/package-lock.json
  jupyter-extension/package.json
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
Due: run-jupyter-jobs

JL updates (#8238)
  doc/docs/2.3.x/how-tos/jupyterlab-extension/index.md
  doc/docs/2.3.x/reference/supported-releases.md
Due: none

env-var-modularization-update (#8063)
  doc/docs/2.3.x/deploy-manage/deploy/environment-variables.md
  doc/docs/2.3.x/deploy-manage/deploy/environment-variables/enterprise.md
  doc/docs/2.3.x/deploy-manage/deploy/environment-variables/global.md
  doc/docs/2.3.x/deploy-manage/deploy/environment-variables/index.md
  doc/docs/2.3.x/deploy-manage/deploy/environment-variables/os.md
  doc/docs/2.3.x/deploy-manage/deploy/environment-variables/pachd.md
  doc/docs/2.3.x/deploy-manage/deploy/environment-variables/storage.md
  doc/docs/2.3.x/deploy-manage/deploy/environment-variables/workers.md
  doc/mkdocs-2.3.x.yml
Due: none

Lbliii/doc 497/re order group steps (#8240)
  examples/group/README.md
Due: none

iris updates
  examples/ml/iris/README.md
  examples/ml/iris/julia_infer.json
Due: none

iris updates (#8241)
  examples/ml/iris/README.md
  examples/ml/iris/julia_infer.json
Due: none

pipeline fix (#8258)
  examples/ml/tensorflow/pre-processing_and_generation.json
  examples/ml/tensorflow/training_and_export.json
  examples/ml/tensorflow/training_and_export_gpu.json
Due: none

Jupyter cache bump (#8249)
  .circleci/main.yml
Due: none

PPS: Be more careful about k8s errors during RC updates (#8244)
  src/internal/promutil/promutil.go
  src/server/pps/server/master.go
  src/server/pps/server/pipeline_controller.go
Due: run-core-jobs

[CORE-1113] Fix worker keepalive timeout (#8246)
  src/server/cmd/worker/main.go
Due: run-core-jobs

Add some more documentation to the storage layer (#8239)
  src/internal/storage/chunk/chunk.go
  src/internal/storage/chunk/chunker.go
  src/internal/storage/chunk/storage.go
  src/internal/storage/chunk/util.go
  src/internal/storage/fileset/fileset.go
  src/internal/storage/fileset/index/index.go
  src/internal/storage/fileset/index/index.pb.go
  src/internal/storage/fileset/index/index.proto
  src/internal/storage/fileset/index/reader.go
  src/internal/storage/fileset/index/writer.go
  src/internal/storage/fileset/storage.go
  src/internal/storage/fileset/writer.go
Due: run-core-jobs

Lbliii/cron callout (#8263)
  doc/docs/2.3.x/concepts/pipeline-concepts/pipeline/cron.md
  doc/docs/master/concepts/pipeline-concepts/pipeline/cron.md
Due: none

restart datum clarification (#8266)
  src/server/pps/cmds/cmds.go
Due: run-core-jobs

upgrade warning (#8267)
  doc/docs/2.3.x/deploy-manage/manage/upgrades.md
  doc/docs/master/deploy-manage/manage/upgrades.md
Due: none

[CORE-1074] Add Identity Server and Dex Web to RealEnv (#8242)
  .circleci/main.yml
  Makefile
  etc/testing/circle/run_tests.sh
  src/internal/dockertestenv/postgres.go
  src/internal/middleware/logging/interceptor.go
  src/internal/serviceenv/option.go
  src/internal/serviceenv/service_env.go
  src/internal/testpachd/mock_pachd.go
  src/internal/testpachd/realenv/real_env.go
  src/internal/testutil/identity.go
  src/server/auth/cmds/cmds_test.go
  src/server/auth/server/testing/auth_integration_test.go
  src/server/auth/server/testing/auth_test.go
  src/server/auth/server/testing/config_test.go
  src/server/auth/server/testing/oidc_test.go
  src/server/identity/server/api_server.go
  src/server/identity/server/api_server_test.go
  src/server/identity/server/dex_web.go
  src/server/pfs/fuse/server_integration_test.go
  src/server/pfs/fuse/server_test.go
  src/server/proxy_test.go
Due: run-core-jobs

infer the issuerURI when proxy.host and proxy.enabled to mirror the ingress behavior (#8270)
  etc/helm/pachyderm/templates/_helpers.tpl
Due: none

require scheme on userAccessibleOauthIssuerHost (#8273)
  etc/helm/pachyderm/templates/_helpers.tpl
  src/auth/auth.pb.go
  src/auth/auth.proto
  src/server/auth/server/oidc.go
Due: run-core-jobs

bump doc versions (#8276)
  doc/mkdocs-1.13.x.yml
  doc/mkdocs-2.0.x.yml
  doc/mkdocs-2.1.x.yml
  doc/mkdocs-2.2.x.yml
  doc/mkdocs-2.3.x.yml
  doc/mkdocs-master.yml
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/values.yaml
Due: none

Use gotestsum for PPS tests and separate into their own run (#8269)
  .circleci/main.yml
  Makefile
  etc/testing/circle/check_buckets.sh
  etc/testing/circle/run_tests.sh
  src/server/spout_test.go
Due: run-core-jobs

[CORE-1123] Support External Loki Instance with Pachyderm (#8277)
  doc/docs/master/deploy-manage/deploy/loki.md
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  src/internal/serviceenv/config.go
  src/internal/serviceenv/service_env.go
  src/server/debug/server/server.go
  src/server/pps/server/worker_rc.go
Due: run-core-jobs

[CORE-872] Enable Memory-Backed Pachyderm Worker Volumes (#8262)
  src/pps/pps.pb.go
  src/pps/pps.proto
  src/server/pps/server/worker_rc.go
Due: run-core-jobs

[BUGFIX] correct a typo in Delete Files from History (#8282)
  doc/docs/2.3.x/how-tos/basic-data-operations/removing-data-from-pachyderm.md
Due: none

proxy: set the default stream idle timeout to 1h instead of 10m; necessary for things like the load test (#8284)
  etc/generate-envoy-config/envoy.libsonnet
  etc/helm/pachyderm/envoy-tls.json
  etc/helm/pachyderm/envoy.json
Due: none

Migration load testing (#8292)
  src/internal/pfsload/commit.go
  src/internal/pfsload/modification.go
  src/internal/pfsload/pfsload.pb.go
  src/internal/pfsload/pfsload.proto
  src/internal/pfsload/validator.go
  src/internal/ppsload/pipeline.go
  src/internal/ppsload/ppsload.pb.go
  src/internal/ppsload/ppsload.proto
  src/pfs/pfs.pb.go
  src/pfs/pfs.proto
  src/pps/pps.pb.go
  src/pps/pps.proto
  src/server/pfs/cmds/cmds.go
  src/server/pfs/server/api_server.go
  src/server/pps/cmds/cmds.go
Due: run-core-jobs

[CORE-1152] Separate core & Jupyter extension jobs in CircleCI config (#8291)
  .circleci/config.yml
  .circleci/main.yml
Due: none

[CORE-1136] Adjust pachctl list jobs -x output. (#8286)
  src/server/pps/pretty/pretty.go
Due: run-core-jobs
