Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

patch release bug (#10136)
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

patch release bug (#10136) (#10137)
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[FRON-1474]: JSON Templates (#2082)
  cypress.config.ts
  cypress/e2e/unauthenticated/Template.ts
  cypress/fixtures/edges.jsonnet
  frontend/package-lock.json
  frontend/package.json
  frontend/src/DashUI.tsx
  frontend/src/api/pps.ts
  frontend/src/hooks/useRenderTemplate.ts
  frontend/src/jest.config.js
  frontend/src/mocks/pipelines.ts
  frontend/src/mocks/projects.ts
  frontend/src/mocks/template.ts
  frontend/src/views/Project/components/PipelineEditor/__tests__/PipelineEditor.test.tsx
  frontend/src/views/Project/components/PipelineTemplate/PipelineTemplate.module.css
  frontend/src/views/Project/components/PipelineTemplate/PipelineTemplate.tsx
  frontend/src/views/Project/components/PipelineTemplate/__tests__/PipelineTemplate.test.tsx
  frontend/src/views/Project/components/PipelineTemplate/components/UploadTemplate/UploadTemplate.module.css
  frontend/src/views/Project/components/PipelineTemplate/components/UploadTemplate/UploadTemplate.tsx
  frontend/src/views/Project/components/PipelineTemplate/components/UploadTemplate/index.ts
  frontend/src/views/Project/components/PipelineTemplate/hooks/usePipelineTemplate.ts
  frontend/src/views/Project/components/PipelineTemplate/index.ts
  frontend/src/views/Project/components/PipelineTemplate/lib/__tests__/parseTemplateMetadata.test.ts
  frontend/src/views/Project/components/PipelineTemplate/lib/parseTemplateMetadata.ts
  frontend/src/views/Project/components/PipelineTemplate/templates/edges.jsonnet
  frontend/src/views/Project/components/PipelineTemplate/templates/index.ts
  frontend/src/views/Project/components/ProjectSideNav/ProjectSideNav.tsx
  frontend/src/views/Project/components/ProjectSideNav/__tests__/ProjectSideNav.test.tsx
  frontend/src/views/Project/constants/projectPaths.ts
  frontend/src/views/Project/utils/routes.ts
  test-dags/pipelines/jsonnet/edges.jsonnet
  test-dags/pipelines/jsonnet/error-args.jsonnet
  test-dags/pipelines/jsonnet/snowflake.jsonnet
Due: run-core-jobs

bump pachyderm version
  version.json
Due: run-core-jobs

Add created_by to projects
  proto-docs.json
  proto-docs.md
  src/internal/jsonschema/pfs_v2/InspectProjectV2Response.schema.json
  src/internal/jsonschema/pfs_v2/ProjectInfo.schema.json
  src/logs/BUILD.bazel
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/server/pfs/server/driver.go
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs

CDR resolution with test
  .circleci/main.yml
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/pachyderm_sdk/client.py
  python-sdk/poetry.lock
  python-sdk/pyproject.toml
  python-sdk/tests/test_cdr.py
  python-sdk/tests/test_metadata.py
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

small bug fixes
  .circleci/main.yml
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

run black
  python-sdk/tests/test_cdr.py
Due: run-python-sdk-jobs

run black black
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
Due: run-python-sdk-jobs

chore: add E2E tests for repo/commit/project/cluster metadata (#2117)
  cypress/e2e/unauthenticated/Landing.ts
  cypress/e2e/unauthenticated/Repos.ts
Due: none

Update existing test
  src/server/pachyderm_test.go
Due: run-core-jobs

update PipelinesSummary to treat crashing as failed pipeline
  src/server/pps/server/api_server.go
Due: run-core-jobs

Add project derived metadata
  src/internal/clusterstate/v2.11.0/BUILD.bazel
  src/internal/clusterstate/v2.11.0/clusterstate.go
  src/internal/clusterstate/v2.11.0/commit_diffs.go
  src/internal/clusterstate/v2.11.0/commit_totals.go
  src/internal/clusterstate/v2.11.0/project_metadata.go
  src/internal/pfsdb/projects.go
  src/server/auth/server/testing/auth_test.go
Due: run-core-jobs

Add boolean support to the RenderTemplate RPC
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/pps_v2/RenderTemplateRequest.schema.json
  src/internal/pachtmpl/BUILD.bazel
  src/internal/pachtmpl/pachtmpl.go
  src/openapi/pachyderm_api.swagger.json
  src/pps/BUILD.bazel
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/server/pps/cmds/BUILD.bazel
  src/server/pps/cmds/cmds.go
  src/typescript/pps/pps.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

fix pachctl
  src/internal/pachtmpl/pachtmpl.go
  src/server/pps/cmds/BUILD.bazel
  src/server/pps/cmds/cmds.go
Due: run-core-jobs

fix lint
  src/server/pps/server/api_server_test.go
Due: run-core-jobs

fix lint
  src/internal/pachtmpl/pachtmpl.go
Due: run-core-jobs

fix fuzz tests
  src/server/pps/server/api_server.go
Due: run-core-jobs

fix test and lint error
  src/internal/pachtmpl/pachtmpl.go
  src/server/pps/server/BUILD.bazel
  src/server/pps/server/api_server_test.go
Due: run-core-jobs

Do not allow null created_by
  src/internal/clusterstate/v2.11.0/project_metadata.go
Due: run-core-jobs

update metadata error to go directly to the section in the docs (#2126)
  frontend/src/views/Project/components/PipelineTemplate/components/UploadTemplate/UploadTemplate.tsx
Due: none

Update handlers to request commit_uri
  jupyter-extension/jupyterlab_pachyderm/handlers.py
Due: run-jupyter-jobs

Increaes height of explore widget to account for commit input
  jupyter-extension/src/plugins/mount/mount.css
Due: run-jupyter-jobs

Add TextInput for commit Refactor dropdown combobox css
  jupyter-extension/src/utils/components/DropdownCombobox/DropdownCombobox.css
  jupyter-extension/src/utils/components/DropdownCombobox/DropdownCombobox.tsx
  jupyter-extension/src/utils/components/TextInput/TextInput.css
  jupyter-extension/src/utils/components/TextInput/TextInput.tsx
  jupyter-extension/style/base.css
Due: run-jupyter-jobs

Update mount to include commit input
  jupyter-extension/src/plugins/mount/__tests__/pollMounts.test.tsx
  jupyter-extension/src/plugins/mount/components/Explore/Explore.tsx
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/mountDrive.ts
  jupyter-extension/src/plugins/mount/pollMounts.ts
  jupyter-extension/src/plugins/mount/types.ts
Due: run-jupyter-jobs

Update pfs_manager to include commits
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
Due: run-jupyter-jobs

update verbiage based on recommendation
  src/server/auth/cmds/cmds.go
Due: run-core-jobs

FRON-1387: use repo/pipeline summary endpoints (#2045)
  frontend/src/api/pfs.ts
  frontend/src/api/pps.ts
  frontend/src/hooks/useDAGData.ts
  frontend/src/hooks/usePipelineSummary.ts
  frontend/src/hooks/useProjectStatus.ts
  frontend/src/hooks/useRepoSummary.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/mocks/pipelines.ts
  frontend/src/mocks/repos.ts
  frontend/src/views/Landing/Landing.tsx
  frontend/src/views/Landing/__tests__/Landing.test.tsx
  frontend/src/views/Landing/components/ProjectPreview/ProjectPreview.tsx
  frontend/src/views/Landing/components/ProjectPreview/__tests__/ProjectPreview.test.tsx
  frontend/src/views/Landing/components/ProjectRow/ProjectRow.tsx
  frontend/src/views/Landing/components/ProjectRow/__tests__/ProjectRow.test.tsx
  frontend/src/views/Landing/components/ProjectTab/ProjectTab.tsx
  frontend/src/views/Landing/hooks/useLandingView.ts
  frontend/src/views/Project/components/PipelineEditor/__tests__/PipelineEditor.test.tsx
  frontend/src/views/Project/components/PipelineList/__tests__/PipelineList.test.tsx
  frontend/src/views/Project/components/PipelineList/components/PipelineStepsTable/PipelineStepsTable.tsx
  frontend/src/views/Project/components/PipelineList/components/PipelineStepsTable/components/PipelineStepsList/PipelineStepsList.tsx
  frontend/src/views/Project/components/PipelineList/components/PipelineStepsTable/hooks/usePipelineList.ts
  frontend/src/views/Project/components/PipelineTemplate/__tests__/PipelineTemplate.test.tsx
  frontend/src/views/Project/components/ProjectHeader/components/ProjectStatusSearch/ProjectStatusSearch.tsx
  frontend/src/views/Project/components/ProjectHeader/components/ProjectStatusSearch/__tests__/ProjectStatusSearch.test.tsx
  frontend/src/views/Project/components/RepoList/__tests__/RepoList.test.tsx
  frontend/src/views/Project/components/RepoList/components/ReposTable/ReposTable.tsx
  frontend/src/views/Project/components/RepoList/components/ReposTable/components/RepositoriesList/RepositoriesList.tsx
  frontend/src/views/Project/components/RepoList/components/ReposTable/hooks/useRepoList.ts
Due: none

[PFS-254] Modify lock releasing code.
  src/internal/consistenthashing/etcd.go
Due: run-core-jobs

FRON-1516: Scrollable Sidepanel Tab Header
  frontend/components/src/Tabs/components/Tab/Tab.module.css
  frontend/src/views/Project/components/ProjectSidebar/components/PipelineDetails/PipelineDetails.module.css
  frontend/src/views/Project/components/ProjectSidebar/components/RepoDetails/RepoDetails.module.css
Due: none

Consolidate removing items
  jupyter-extension/src/plugins/mount/__tests__/pollMounts.test.tsx
  jupyter-extension/src/plugins/mount/pollMounts.ts
Due: run-jupyter-jobs

Implement per-pipeline datum logs retrieval (#10124)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/logs/__init__.py
  src/internal/jsonschema/logs/AdminLogQuery.schema.json
  src/internal/jsonschema/logs/GetLogsRequest.schema.json
  src/internal/jsonschema/logs/GetLogsResponse.schema.json
  src/internal/jsonschema/logs/LogQuery.schema.json
  src/internal/jsonschema/logs/PagingHint.schema.json
  src/internal/jsonschema/logs/PipelineDatumLogQuery.schema.json
  src/internal/jsonschema/logs/UserLogQuery.schema.json
  src/logs/logs.pb.go
  src/logs/logs.pb.validate.go
  src/logs/logs.pb.zap.go
  src/logs/logs.proto
  src/openapi/pachyderm_api.swagger.json
  src/server/logs/logs.go
  src/server/logs/logs_test.go
  src/typescript/logs/logs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

lint and remove dead code
  jupyter-extension/src/plugins/mount/__tests__/pollMounts.test.tsx
  jupyter-extension/src/plugins/mount/components/Explore/Explore.tsx
  jupyter-extension/src/plugins/mount/mountDrive.ts
  jupyter-extension/src/plugins/mount/pollMounts.ts
Due: run-jupyter-jobs

Fix commit exists error
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Due: run-jupyter-jobs

Add mountrepouri
  jupyter-extension/src/plugins/mount/components/Explore/Explore.css
  jupyter-extension/src/plugins/mount/components/Explore/Explore.tsx
  jupyter-extension/src/plugins/mount/mount.css
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/style/base.css
Due: run-jupyter-jobs

Add test for setting mounted repo with commit
  jupyter-extension/src/plugins/mount/__tests__/pollMounts.test.tsx
Due: run-jupyter-jobs

upgrade rules_go
  MODULE.bazel
  MODULE.bazel.lock
  go.mod
  go.sum
Due: run-core-jobs

upgrade rules_go (#10143)
  MODULE.bazel
  MODULE.bazel.lock
  go.mod
  go.sum
Due: run-core-jobs

fix context menu
  MODULE.bazel.lock
  jupyter-extension/Dockerfile
  jupyter-extension/package-lock.json
  jupyter-extension/package.json
  jupyter-extension/requirements-dev.txt
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
Due: run-core-jobs, run-jupyter-jobs

Djanicek/infeng 734/tests to datadog (#10132)
  .circleci/main.yml
  etc/testing/circle/deploy_test.sh
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs
