Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

really revert this time 2
  python-sdk/tests/fixtures.py
Due: run-python-sdk-jobs

[MLDM-164] Add Setup Steps for PJS Worker Authentication.
  etc/helm/pachyderm/templates/pachw/deployment.yaml
  src/internal/pachconfig/config.go
  src/internal/pachd/BUILD.bazel
  src/internal/pachd/builder.go
  src/internal/pachd/full.go
  src/internal/pachd/pachd_test.go
  src/internal/pachd/pachw.go
  src/internal/pachd/testpachd.go
Due: run-core-jobs

[MLDM-164] Integrate PR Feedback.
  src/internal/pachd/builder.go
  src/internal/pachd/full.go
  src/internal/pachd/pachd_test.go
Due: run-core-jobs

[MLDM-164] Add Setup Steps for PJS Worker Authentication (#10411)
  etc/helm/pachyderm/templates/pachw/deployment.yaml
  src/internal/pachconfig/config.go
  src/internal/pachd/BUILD.bazel
  src/internal/pachd/builder.go
  src/internal/pachd/full.go
  src/internal/pachd/pachd_test.go
  src/internal/pachd/pachw.go
  src/internal/pachd/testpachd.go
Due: run-core-jobs

[MLDM-194] in progress integration test.
  src/internal/pjs/api_server.go
  src/server/pachyderm_test.go
Due: run-core-jobs

check dumped file path
  src/internal/snapshot/server_internal_test.go
Due: run-core-jobs

bazel
  src/internal/snapshot/BUILD.bazel
  src/internal/snapshot/server_internal_test.go
Due: run-core-jobs

debug
  src/internal/snapshot/server_internal_test.go
Due: run-core-jobs

implement feedback
  src/internal/snapshot/server_internal_test.go
Due: run-core-jobs

add 3.12+ compatibility for tarfile
  python-sdk/tests/test_pfs.py
Due: run-python-sdk-jobs

record pachd logs for python-sdk tests
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

ran black
  python-sdk/tests/test_pfs.py
Due: run-python-sdk-jobs

[MLDM-198] check dumped file path (#10425)
  src/internal/snapshot/BUILD.bazel
  src/internal/snapshot/server_internal_test.go
Due: run-core-jobs

record pachd logs for python-sdk tests (#10426)
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[Python-SDK] Add 3.12+ compatibility for tarfile (#10427)
  python-sdk/tests/test_pfs.py
Due: run-python-sdk-jobs

[MLDM-194] move PJS test into separate file.
  src/internal/middleware/auth/interceptor.go
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/server/pachyderm_test.go
  src/server/pjs_test.go
Due: run-core-jobs

add check storage
  src/internal/snapshot/recovery_test.go
Due: run-core-jobs

bazel
  src/internal/snapshot/BUILD.bazel
Due: run-core-jobs

re trigger ci
  src/internal/snapshot/recovery_test.go
Due: run-core-jobs

configurable dex-config and tweaks to deployment
  etc/helm/pachyderm/dex-config.yaml
  etc/helm/pachyderm/templates/dex/deployment.yaml
  etc/helm/pachyderm/templates/dex/dex-config.yaml
  etc/helm/pachyderm/templates/dex/secret.yaml
  etc/helm/pachyderm/templates/dex/service.yaml
Due: run-core-jobs

rename config partial template to dex/_config.yaml
  etc/helm/pachyderm/templates/dex/_config.yaml
Due: run-core-jobs

run @apt//:lock
  private/apt/apt.lock.json
Due: none

add private to run-core-jobs
  .circleci/config.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

regenerate //private/apt/apt.lock.json (#10431)
  .circleci/config.yml
  private/apt/apt.lock.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix circular dependency
  src/internal/snapshot/recovery.go
  src/internal/snapshot/recovery_test.go
Due: run-core-jobs

lint
  src/internal/snapshot/recovery_test.go
Due: run-core-jobs

Add an End-to-End Test for PJS (#10428)
  src/internal/middleware/auth/interceptor.go
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/server/pjs_test.go
Due: run-core-jobs

regenerate //private/apt/apt.lock.json (#10431) (#10432)
  .circleci/config.yml
  private/apt/apt.lock.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

change dex static client name
  etc/helm/pachyderm/templates/dex/_config.yaml
Due: run-core-jobs

adjust labels and selectors to properly expose ports
  etc/helm/pachyderm/templates/dex/deployment.yaml
  etc/helm/pachyderm/templates/dex/service.yaml
Due: run-core-jobs

move minio to another port; avoid returning nil when etcd fails to start up
  src/internal/dockertestenv/minio.go
  src/internal/pachd/testpachd.go
Due: run-core-jobs

update MODULE.bazel.lock
  MODULE.bazel.lock
Due: run-core-jobs

Test snapshot restoration
  src/internal/pachd/full.go
  src/internal/pachd/testpachd.go
  src/internal/snapshot/cmds/cmds_test.go
Due: run-core-jobs

Create a separate config file for each client
  src/internal/testutilpachctl/cmds.go
Due: run-core-jobs

Correct test
  src/internal/snapshot/cmds/cmds_test.go
Due: run-core-jobs

Check for non-existence of post-snapshot change
  src/internal/snapshot/cmds/cmds_test.go
Due: run-core-jobs

Add comment, remove unused methods
  src/internal/pachd/full.go
Due: run-core-jobs

Add comment
  src/internal/pachd/testpachd.go
Due: run-core-jobs

Gazelle
  src/internal/snapshot/cmds/BUILD.bazel
Due: run-core-jobs
