Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Update TestGetLogs_combination_error to use Loki
  src/server/logs/cmds/cmds_test.go
Due: run-core-jobs

Update TestGetLogs_from_to to use real Loki
  src/server/logs/cmds/cmds_test.go
Due: run-core-jobs

Update TestGetLogs_limit to use real Loki
  src/server/logs/cmds/cmds_test.go
Due: run-core-jobs

Move mockpachd's panic handler into a package; use in real and test pachds (#9907)
  src/internal/middleware/logging/BUILD.bazel
  src/internal/middleware/logging/interceptor.go
  src/internal/middleware/recovery/BUILD.bazel
  src/internal/middleware/recovery/recovery.go
  src/internal/pachd/BUILD.bazel
  src/internal/pachd/builder.go
  src/internal/pachd/setup.go
  src/internal/testpachd/BUILD.bazel
  src/internal/testpachd/mock_pachd.go
Due: run-core-jobs

Update URLs for new docs site
  .circleci/main.yml
  examples/deferred-processing/deferred_processing_plus_transactions/images.txt
  examples/deferred-processing/deferred_processing_plus_transactions/images2.txt
  examples/globalID/data/images.txt
  examples/globalID/data/images2.txt
  examples/opencv/goclient-example/opencv-example.go
  examples/opencv/images.txt
  examples/opencv/images2.txt
  label-studio/tests/test_pachyderm_storage.py
  python-sdk/examples/opencv/opencv.py
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[CORE-2281] Update URLs for new docs site (#10057)
  .circleci/main.yml
  examples/deferred-processing/deferred_processing_plus_transactions/images.txt
  examples/deferred-processing/deferred_processing_plus_transactions/images2.txt
  examples/globalID/data/images.txt
  examples/globalID/data/images2.txt
  examples/opencv/goclient-example/opencv-example.go
  examples/opencv/images.txt
  examples/opencv/images2.txt
  label-studio/tests/test_pachyderm_storage.py
  python-sdk/examples/opencv/opencv.py
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Sort indirect deps
  go.mod
Due: run-core-jobs

Update to latest go-git
  go.mod
  go.sum
Due: run-core-jobs

Update to github.com/go-git/go-git/v5@v5.11.0
  go.mod
  go.sum
Due: run-core-jobs

Gazelle
  MODULE.bazel.lock
Due: run-core-jobs

Gazelle
  src/internal/middleware/logging/BUILD.bazel
Due: run-core-jobs

Manually update circl version
  MODULE.bazel
Due: run-core-jobs

[CORE-2281] Backport URL change to 2.8 (#10061)
  .circleci/main.yml
  examples/deferred-processing/deferred_processing_plus_transactions/images.txt
  examples/deferred-processing/deferred_processing_plus_transactions/images2.txt
  examples/globalID/data/images.txt
  examples/globalID/data/images2.txt
  examples/opencv/goclient-example/opencv-example.go
  examples/opencv/images.txt
  examples/opencv/images2.txt
  label-studio/tests/test_pachyderm_storage.py
  python-sdk/examples/opencv/opencv.py
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[CORE-2281] Backport URL change to 2.9 (#10060)
  .circleci/main.yml
  examples/deferred-processing/deferred_processing_plus_transactions/images.txt
  examples/deferred-processing/deferred_processing_plus_transactions/images2.txt
  examples/globalID/data/images.txt
  examples/globalID/data/images2.txt
  examples/opencv/goclient-example/opencv-example.go
  examples/opencv/images.txt
  examples/opencv/images2.txt
  label-studio/tests/test_pachyderm_storage.py
  python-sdk/examples/opencv/opencv.py
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Downgrade circl
  go.mod
  go.sum
Due: run-core-jobs

Downgrade circl in Bazel too
  MODULE.bazel
Due: run-core-jobs

go mod tidy
  go.sum
Due: run-core-jobs

[CORE-2294] Update to latest go-git (#10058)
  go.mod
  go.sum
  src/internal/middleware/logging/BUILD.bazel
Due: run-core-jobs

[CORE-2294] Update to github.com/go-git/go-git/v5@v5.11.0 (#10059)
  go.mod
  go.sum
Due: run-core-jobs

[CORE-2294] Update to latest go-git (#10058)
  go.mod
  go.sum
Due: run-core-jobs

Update notional dex version
  go.mod
Due: run-core-jobs

test workaround
  src/server/pachyderm_test.go
Due: run-core-jobs

[CORE-2281] Backport to 2.10 (#10063)
  .circleci/main.yml
  examples/deferred-processing/deferred_processing_plus_transactions/images.txt
  examples/deferred-processing/deferred_processing_plus_transactions/images2.txt
  examples/globalID/data/images.txt
  examples/globalID/data/images2.txt
  examples/opencv/goclient-example/opencv-example.go
  examples/opencv/images.txt
  examples/opencv/images2.txt
  label-studio/tests/test_pachyderm_storage.py
  python-sdk/examples/opencv/opencv.py
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[CORE-2294] go modules/GitHub.com/go git/go git/v5 5.11.0 2.10 (#10062)
  go.mod
  go.sum
Due: run-core-jobs

[CORE-2291] Update notional dex version (#10064)
  go.mod
Due: run-core-jobs

[CORE-2291] Upgrade notional Dex version, backport to 2.10 (#10065)
  go.mod
Due: run-core-jobs

[CORE- 2291] Upgrade notional Dex version, backport to 2.9 (#10066)
  MODULE.bazel.lock
  go.mod
Due: run-core-jobs

[CORE-2291] Upgrade notional Dex version, backport to 2.8 (#10067)
  go.mod
Due: run-core-jobs

ensure paths are relative to JUPYTER_SERVER_ROOT
  jupyter-extension/jupyterlab_pachyderm/env.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-jupyter-jobs

use server_root_dir app setting instead of JUPYTER_SERVER_ROOT
  jupyter-extension/jupyterlab_pachyderm/env.py
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-jupyter-jobs

fix relative_to call
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-jupyter-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
