Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

update with 'bazel mod tidy' and 'bazel mod deps --lockfile_mode=update', then change the aspect_bazel_lib library to 2.8.1
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix bazel crap
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  private/apt/BUILD.bazel
  private/apt/apt.lock.json
  private/apt/apt.yaml
  private/extensions.bzl
  private/repositories.bzl
  private/rules/jsonnet-lint/BUILD.bazel
  private/rules/jsonnet-lint/jsonnet-lint.bzl
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

remove TestInstallAndUpgradeEnterpriseWithEnv
  src/testing/deploy/deploy_test.go
Due: run-core-jobs

attempt to fix determined tests
  src/internal/minikubetestenv/deploy.go
Due: run-core-jobs

remove datadog from circel config (#10438)
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

upgrade docker to resolve a govulncheck warning (#10315)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  label-studio/Makefile
  label-studio/requirements.txt
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix vulnerability
  go.mod
  go.sum
Due: run-core-jobs

upgrade docker to resolve a govulncheck warning (#10315)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  label-studio/Makefile
  label-studio/requirements.txt
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix vulnerability
  go.sum
Due: run-core-jobs

fix vulnerability GO-2024-3250 and a linting error.
  go.mod
  go.sum
  src/proto/prototar/main.go
Due: run-core-jobs

chore: set console always in enterprise mode
  console/README.md
  console/cypress/e2e/authenticated/EnterpriseFeatures.ts
  console/cypress/e2e/unauthenticated/Community.ts
  console/cypress/e2e/unauthenticated/Header.ts
  console/frontend/src/components/AuthenticatedRoute/AuthenticatedRoute.tsx
  console/frontend/src/components/HeaderDropdown/HeaderDropdown.tsx
  console/frontend/src/hooks/useEnterpriseActive.ts
  console/frontend/src/views/Landing/components/LandingHeader/LandingHeader.tsx
Due: none

fix linting errors in require.go
  etc/testing/circle/workloads/pulumi/aws/main_test.go
  src/internal/kindenv/kubeconfig.go
  src/internal/kindenv/skopeo.go
  src/internal/lokiutil/testloki/testloki.go
  src/internal/require/require.go
  src/internal/testutil/bash_prelude.go
  src/internal/testutil/cmds.go
  src/internal/testutil/pachctl.go
  src/server/pps/pretty/pretty.go
  src/testing/testpachd/main_test.go
Due: run-core-jobs

[Python-SDK] Bump minimum Python version to 3.9 (#10246)
  python-sdk/Dockerfile.datum-batching-test
  python-sdk/poetry.lock
  python-sdk/pyproject.toml
Due: run-python-sdk-jobs

Removing Enterprise Helm
  etc/helm/pachyderm/templates/_helpers.tpl
  etc/helm/pachyderm/templates/enterprise-server/deployment.yaml
  etc/helm/pachyderm/templates/enterprise-server/postgres-secret.yaml
  etc/helm/pachyderm/templates/enterprise-server/service.yaml
  etc/helm/pachyderm/templates/enterprise-server/tls-secret.yaml
  etc/helm/pachyderm/templates/pachd/auth-secret.yaml
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/templates/pachd/enterprise-config.yaml
  etc/helm/pachyderm/templates/pachd/enterprise-secret.yaml
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

[Backport 2.12] Upgrade Helm Chart for Det 0.38.0 (#10451) (#10453)
  .circleci/main.yml
  MODULE.bazel.lock
  etc/helm/pachyderm/templates/determined/db-deployment.yaml
  etc/helm/pachyderm/templates/determined/db-persistent-volume-claim.yaml
  etc/helm/pachyderm/templates/determined/db-volume-snapshot-class.yaml
  etc/helm/pachyderm/templates/determined/db-volume-snapshot.yaml
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/values.yaml
  go.mod
  go.sum
  private/apt/apt.lock.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[Backport] Fix Bazel Dependencies in 2.11.x (#10456)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  etc/testing/circle/workloads/pulumi/aws/main_test.go
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  label-studio/Makefile
  label-studio/requirements.txt
  private/apt/BUILD.bazel
  private/apt/apt.lock.json
  private/apt/apt.yaml
  private/extensions.bzl
  private/repositories.bzl
  private/rules/jsonnet-lint/BUILD.bazel
  private/rules/jsonnet-lint/jsonnet-lint.bzl
  python-sdk/Dockerfile.datum-batching-test
  python-sdk/poetry.lock
  python-sdk/pyproject.toml
  src/internal/kindenv/kubeconfig.go
  src/internal/kindenv/skopeo.go
  src/internal/lokiutil/testloki/testloki.go
  src/internal/require/require.go
  src/internal/testutil/bash_prelude.go
  src/internal/testutil/cmds.go
  src/internal/testutil/pachctl.go
  src/proto/prototar/main.go
  src/server/pps/pretty/pretty.go
  src/testing/cmds/go-test-results/Dockerfile
  src/testing/testpachd/main_test.go
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

temporarily remove determined tests
  src/testing/deploy/determined_test.go
Due: run-core-jobs

fully remove upgrade test
  src/testing/deploy/upgrade_arm64_test.go
Due: run-core-jobs

bazel pg dependency
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

uncomment determined tests
  src/testing/deploy/determined_test.go
Due: run-core-jobs

remove license-secret.yaml
  etc/helm/pachyderm/templates/pachd/license-secret.yaml
Due: run-core-jobs

remove .Values.enterpriseServer reference
  etc/helm/pachyderm/templates/ingress/ingress.yaml
  etc/helm/pachyderm/templates/proxy/pachd-proxy-backend-service.yaml
Due: run-core-jobs

update pg bazel
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

remove enterpriseServer reference
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/templates/pachw/deployment.yaml
Due: run-core-jobs

chore: delete console community edition unit tests
  console/frontend/src/components/BrandedDocLink/__tests__/BrandedDocLink.test.tsx
  console/frontend/src/components/BrandedTitle/__tests__/BrandedTitle.test.tsx
  console/frontend/src/components/ErrorStateSupportLink/__tests__/ErrorStateSupportLink.test.tsx
  console/frontend/src/components/HeaderDropdown/__tests__/HeaderDropdown.test.tsx
  console/frontend/src/views/Landing/components/LandingHeader/__tests__/LandingHeader.test.tsx
  console/frontend/src/views/Project/components/ProjectSidebar/__tests__/ProjectSidebar.test.tsx
Due: none

test which DeleteAll() function is causing us to fail.
  src/server/identity/server/api_server.go
Due: run-core-jobs

update rootToken in auth-secret.yaml
  etc/helm/pachyderm/templates/pachd/auth-secret.yaml
Due: run-core-jobs

Revert "test which DeleteAll() function is causing us to fail."
  src/server/identity/server/api_server.go
Due: run-core-jobs

bazel update
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

chore: delete console community edition unit tests
  MODULE.bazel.lock
  console/frontend/src/components/BrandedDocLink/__tests__/BrandedDocLink.test.tsx
  console/frontend/src/components/BrandedTitle/__tests__/BrandedTitle.test.tsx
  console/frontend/src/components/ErrorStateSupportLink/__tests__/ErrorStateSupportLink.test.tsx
  console/frontend/src/components/HeaderDropdown/__tests__/HeaderDropdown.test.tsx
  console/frontend/src/views/Landing/components/LandingHeader/__tests__/LandingHeader.test.tsx
  console/frontend/src/views/Project/components/ProjectSidebar/__tests__/ProjectSidebar.test.tsx
  private/apt/apt.lock.json
Due: run-core-jobs

[Backport 2.11] Upgrade Helm Chart for Det 0.38.0 (#10451) (#10452)
  etc/helm/pachyderm/templates/determined/db-deployment.yaml
  etc/helm/pachyderm/templates/determined/db-persistent-volume-claim.yaml
  etc/helm/pachyderm/templates/determined/db-volume-snapshot-class.yaml
  etc/helm/pachyderm/templates/determined/db-volume-snapshot.yaml
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Make sure that our deployment manifest matches the previous master due to changed conditionals.
  Makefile
  goreleaser/docker-amd.yml
  goreleaser/docker-arm.yml
  goreleaser/docker-cover.yml
  src/internal/minikubetestenv/deploy.go
Due: run-core-jobs

update bazel crap
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

testing py tests
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

override the default values in the determined test.
  src/testing/deploy/determined_test.go
Due: run-core-jobs

pass in rootToken in putRelease
  etc/helm/pachyderm/templates/pachd/auth-secret.yaml
  src/internal/minikubetestenv/deploy.go
Due: run-core-jobs

fix testDeterminedUserSync
  src/server/identity/server/api_server.go
  src/testing/deploy/determined_test.go
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
