Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

Gazelle
  MODULE.bazel.lock
Due: run-core-jobs

Unmount repo on change or error
  jupyter-extension/src/plugins/mount/customFileBrowser.ts
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/mountDrive.ts
Due: run-jupyter-jobs

Remove error message shown if repo becomes unavialable
  jupyter-extension/src/plugins/mount/mount.tsx
  jupyter-extension/src/plugins/mount/mountDrive.ts
Due: run-jupyter-jobs

Add use effect
  jupyter-extension/src/utils/components/DropdownCombobox/DropdownCombobox.tsx
Due: run-jupyter-jobs

correct path resolution
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-jupyter-jobs

[Jupyter] Bugfix: notebook path relative to server_root_dir (#10073)
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-jupyter-jobs

move dockerfile source out of home directory
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

local env broke; use this code to print msg; to be reverted
  src/server/pachyderm_test.go
  src/server/pfs/server/source.go
Due: run-core-jobs

revert: add log msg
  src/server/pachyderm_test.go
Due: run-core-jobs

Update docker distribution
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

fix
  src/internal/storage/fileset/validator.go
  src/server/pachyderm_test.go
  src/server/pfs/server/source.go
Due: run-core-jobs

Bump github.com/opencontainers/runc from 1.1.3 to 1.1.12 (#9702) (#10071)
  go.mod
  go.sum
Due: run-core-jobs

[CORE-2286] Backport runc update to 2.10 (#10069)
  go.mod
  go.sum
Due: run-core-jobs

[CORE-2286] Backport runc update to 2.9 (#10070)
  MODULE.bazel.lock
  go.mod
  go.sum
Due: run-core-jobs

fix check
  src/internal/storage/fileset/validator.go
Due: run-core-jobs

[CORE-2287] Update docker distribution (#10076)
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

[CORE-2287] Update docker distribution (#10077)
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

[Jupyter] Move dockerfile source out of home directory (#10075)
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

[Jupyter] (Backport) Bugfix: notebook path relative to server_root_dir (#10073) (#10074)
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-jupyter-jobs

[CORE-2287] Update docker distribution (#10078)
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Due: run-core-jobs

make dependabot bump work with bazel workflow
  MODULE.bazel.lock
  jupyter-extension/BUILD.bazel
  jupyter-extension/requirements-dev-lock-darwin.txt
  jupyter-extension/requirements-dev-lock-linux.txt
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
Due: run-core-jobs, run-jupyter-jobs

revert debugging change
  jupyter-extension/BUILD.bazel
Due: run-jupyter-jobs

fix e2e pip install
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix url to test images
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

2.11
  workspace_status.sh
Due: run-core-jobs

undo main.yml change
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

2.11 (#10080)
  workspace_status.sh
Due: run-core-jobs

support iron bank builds by publishing pachd bins (#9951)
  .circleci/main.yml
  goreleaser/docker.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

dependabot -> bazel
  MODULE.bazel.lock
  jupyter-extension/requirements-dev-lock-darwin.txt
  jupyter-extension/requirements-dev-lock-linux.txt
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
  jupyter-extension/requirements-lock.txt
  jupyter-extension/requirements.txt
Due: run-core-jobs, run-jupyter-jobs

dependabot -> bazel
  MODULE.bazel.lock
  jupyter-extension/requirements-dev-lock-darwin.txt
  jupyter-extension/requirements-dev-lock-linux.txt
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
Due: run-core-jobs, run-jupyter-jobs

bump version of requests in label-studio tests
  label-studio/requirements.txt
Due: run-label-studio-jobs

fix test
  src/server/pachyderm_test.go
Due: run-core-jobs

fix test
  src/internal/storage/fileset/validator.go
  src/server/pachyderm_test.go
Due: run-core-jobs

Update notional dex dependency for spout example
  examples/spouts/go-rabbitmq-spout/source/go.mod
Due: run-core-jobs
