Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

revert remove cache
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

require manifest for console e2e
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

test simple build
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

update docker user
  console/Makefile
Due: none

test using same deploy and unsetting ENT_ACT_CODE
  .circleci/main.yml
  etc/testing/console-test-helm-values/pachdev/pach-local-default-pachyderm-values.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

update job
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

add back other jobs
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

moving build to main.yml
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

reactAppRuntimeIssuerURI
  etc/testing/console-test-helm-values/pachdev/pach-local-default-pachyderm-values.json
Due: run-core-jobs

log in the docker file
  console/Dockerfile
Due: none

new issuer uri
  .circleci/main.yml
  etc/testing/console-test-helm-values/pachdev/pach-local-default-pachyderm-values.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[Python-SDK] Tests for #10190 (#10208)
  python-sdk/tests/test_storage.py
Due: run-python-sdk-jobs

remove unused files
  console/.circleci/config.yml
  console/Makefile
  console/etc/testing/circle/deploy-pachyderm-with-console-and-enterprise.sh
  console/etc/testing/circle/deploy-pachyderm-with-console.sh
  console/etc/testing/circle/deploy-pachyderm.sh
  console/etc/testing/circle/install.sh
  console/etc/testing/circle/start-kind.sh
  console/scripts/install-matching-pachyderm-version-proxy.sh
  console/scripts/install-matching-pachyderm-version.sh
Due: none

use response code rather than stale cluster status during login
  jupyter-extension/jupyterlab_pachyderm/tests/data/TestNotebook.ipynb
  jupyter-extension/src/plugins/mount/components/Config/hooks/useConfig.tsx
Due: run-jupyter-jobs

fix test and revert test file
  jupyter-extension/jupyterlab_pachyderm/tests/data/TestNotebook.ipynb
  jupyter-extension/src/plugins/mount/components/Config/__tests__/Config.test.tsx
Due: run-jupyter-jobs

linter
  jupyter-extension/src/plugins/mount/components/Config/__tests__/Config.test.tsx
Due: run-jupyter-jobs

[PFS-260] Work in Progress Pin Function (#10206)
  src/internal/storage/fileset/BUILD.bazel
  src/internal/storage/fileset/fileset_test.go
  src/internal/storage/fileset/storage.go
Due: run-core-jobs

[PFS-255] Remove TestMicrosoft (#10161)
  etc/helm/pachyderm/templates/pachd/storage-secret.yaml
  etc/helm/test/microsoft_test.go
  src/internal/obj/integrationtests/util.go
  src/server/pfs/server/storage_bucket_test.go
Due: run-core-jobs

[Jupyter] Don't show "invalid address" when cluster is valid (#10225)
  jupyter-extension/src/plugins/mount/components/Config/__tests__/Config.test.tsx
  jupyter-extension/src/plugins/mount/components/Config/hooks/useConfig.tsx
Due: run-jupyter-jobs

test updated-file
  console/frontend/src/DashUI.tsx
Due: none

lint
  console/frontend/src/DashUI.tsx
Due: none

First Iteration of the PJS Data Model API (#10205)
  src/internal/pjsdb/BUILD.bazel
  src/internal/pjsdb/errors.go
  src/internal/pjsdb/iterators.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/job_crud_test.go
  src/internal/pjsdb/job_iterator.go
  src/internal/pjsdb/job_iterator_test.go
  src/internal/pjsdb/pjsdb.go
  src/internal/pjsdb/pjsdb_test.go
  src/internal/pjsdb/queue_crud.go
  src/internal/pjsdb/queue_crud_test.go
  src/internal/pjsdb/queue_iterator.go
  src/internal/pjsdb/sanitize_test.go
Due: run-core-jobs

[PFS-171] Add some child contexts to enhance logging.
  src/internal/pfsdb/commits.go
  src/server/pfs/server/driver.go
Due: run-core-jobs

specify image in circleci
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

debug
  .circleci/main.yml
  python-sdk/tests/test_worker.py
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix bad pytest skipifs
  python-sdk/tests/test_worker.py
Due: run-python-sdk-jobs

move e2e tests to separate workflow
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

remove version from job and lint
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

delete console-release-draft job
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

notes on next steps
  .circleci/main.yml
  console/Makefile
  etc/build/push_docker_with_manifests.sh
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

test workflow
  console/frontend/src/views/FileUpload/components/FileCard/FileCard.tsx
Due: none

Add pachd + worker k8s networking env vars for notebooks
  src/server/worker/driver/driver.go
Due: run-core-jobs

[FRON-1543]: CI tests and build (#10210)
  .circleci/config.yml
  .circleci/main.yml
  Dockerfile.console
  console/.circleci/config.yml
  console/Makefile
  console/cypress/e2e/authenticated/EnterpriseFeatures.ts
  console/cypress/e2e/unauthenticated/Community.ts
  console/cypress/support/e2e.ts
  console/etc/testing/circle/deploy-pachyderm-with-console-and-enterprise.sh
  console/etc/testing/circle/deploy-pachyderm-with-console.sh
  console/etc/testing/circle/deploy-pachyderm.sh
  console/etc/testing/circle/install.sh
  console/etc/testing/circle/kube_debug.sh
  console/etc/testing/circle/start-kind.sh
  console/package.json
  console/scripts/install-matching-pachyderm-version-proxy.sh
  console/scripts/install-matching-pachyderm-version.sh
  etc/testing/console-test-helm-values/pachdev/pach-local-default-pachyderm-values.json
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

chore: use only needed directories in console image
  Dockerfile.console
Due: run-core-jobs

chore: move github actions
  .github/dependabot.yml
  .github/workflows/size-limit.yml
  console/.github/workflows/stats.yml
Due: run-core-jobs

fix: checkout console branch
  .github/workflows/size-limit.yml
Due: run-core-jobs

remove CIRCLE_TAG from console makefile
  console/Makefile
Due: none

Console GitHub actions (#10224)
  .github/dependabot.yml
  .github/workflows/size-limit.yml
  console/.github/workflows/stats.yml
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
