Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

address comments (improve docs and expand test)
  python-sdk/pachyderm_sdk/api/storage/extension.py
  python-sdk/tests/test_storage.py
Due: run-python-sdk-jobs

comments
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/val_server.go
Due: run-core-jobs

[PFS-249] Basic Forget RPC (#10114)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/BUILD.bazel
  src/internal/jsonschema/pfs_v2/ForgetCommitRequest.schema.json
  src/internal/jsonschema/pfs_v2/ForgetCommitResponse.schema.json
  src/internal/middleware/auth/interceptor.go
  src/internal/testpachd/mock_pachd.go
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.gw.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/pfs/pfs_grpc.pb.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/val_server.go
  src/typescript/pfs/pfs.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Add created_by and created_at to project defaults
  proto-docs.json
  proto-docs.md
  src/internal/jsonschema/pps_v2/ProjectDefaultsWrapper.schema.json
  src/internal/ppsdb/ppsdb.pb.go
  src/internal/ppsdb/ppsdb.pb.validate.go
  src/internal/ppsdb/ppsdb.pb.zap.go
  src/internal/ppsdb/ppsdb.proto
  src/typescript/internal/ppsdb/ppsdb.pb.ts
Due: run-core-jobs

[PFS-254] Modify Lock Releasing Code (#10148)
  src/internal/consistenthashing/etcd.go
Due: run-core-jobs

[PFS-254] Modify lock releasing code.
  src/internal/consistenthashing/etcd.go
Due: run-core-jobs

[PFS-259] Use RetryUntilCancel
  src/internal/consistenthashing/etcd.go
Due: run-core-jobs

Update Lock Releasing Code (#10165)
  src/internal/consistenthashing/etcd.go
Due: run-core-jobs

Implement project defaults created_by/created_at
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/pps_v2/GetProjectDefaultsResponse.schema.json
  src/internal/ppsdb/BUILD.bazel
  src/openapi/pachyderm_api.swagger.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/server/pps/cmds/cmds.go
  src/server/pps/server/api_server.go
  src/typescript/pps/pps.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

revert notebooks-user base image update
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

Update Go version
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
Due: run-core-jobs

Update deps
  go.mod
  go.sum
Due: run-core-jobs

Run gazelle
  MODULE.bazel.lock
Due: run-core-jobs

Update deps
  MODULE.bazel.lock
  go.mod
  go.sum
Due: run-core-jobs

test
  .bazelignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  jupyter-extension/BAZEL.md
  jupyter-extension/BUILD.bazel
  jupyter-extension/MANIFEST.in
  jupyter-extension/jupyterlab_pachyderm/env.py
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Due: run-core-jobs, run-jupyter-jobs

Update protobuf patch
  private/google-golang-org-protobuf.patch
Due: none

Update Helm go.mod
  etc/helm/go.mod
Due: run-core-jobs

get jupyter to run
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

revert and bump 3.3.3 -> 3.4.8
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

update image
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

fix jupyterlab==3.6.7 and match version in Dockerfile
  jupyter-extension/Dockerfile
  jupyter-extension/requirements-dev.txt
Due: run-jupyter-jobs

pin to lastest 3.6 version in Dockerfile
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

[Python SDK] Implement local fileset caching and assembling (#10162)
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/pachyderm_sdk/api/storage/extension.py
  python-sdk/pachyderm_sdk/client.py
  python-sdk/pachyderm_sdk/constants.py
  python-sdk/tests/test_storage.py
Due: run-python-sdk-jobs

Update Bazel modules
  MODULE.bazel
  MODULE.bazel.lock
Due: run-core-jobs

Update kafka example Go version
  etc/testing/kafka/go.mod
Due: run-core-jobs

Fix or ignore deprecations
  src/client/client.go
  src/internal/client/client.go
  src/internal/determined/client.go
  src/internal/grpcutil/testclient.go
  src/internal/kindenv/pachyderm.go
  src/internal/log/core.go
  src/internal/pachd/setup.go
  src/server/misc/cmds/grpc.go
  src/server/worker/server/client.go
Due: run-core-jobs

Ignore one more deprecation
  src/server/debug/server/log.go
Due: run-core-jobs

pin pip version
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

pin pip version for jupyter extension docker build (#10173)
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

upgrade jupyterlab in Dockerfile to 3.6.7
  jupyter-extension/Dockerfile
Due: run-jupyter-jobs

bump pachyderm version
  version.json
Due: run-core-jobs

Fixup
  MODULE.bazel
  MODULE.bazel.lock
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
