Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

kick off the bazel tests
  BUILD.bazel
Due: run-core-jobs

update pnpm
  console/frontend/pnpm-lock.yaml
Due: none

regen pnpm
  console/frontend/pnpm-lock.yaml
Due: none

update python_gazelle
  jupyter-extension/gazelle_python.yaml
Due: run-jupyter-jobs

run bazel tests for all console and jupyter changes
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

fix yaml syntax
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Lint and update recovery / PJS tests
  src/internal/clusterstate/v2.11.0_test.go
  src/internal/clusterstate/v2.7.0_test.go
  src/internal/pjsdb/job_crud_test.go
  src/internal/pjsdb/job_iterator_test.go
  src/internal/pjsdb/pjsdb_test.go
  src/internal/recovery/recovery.go
  src/internal/recovery/recovery_test.go
  src/internal/storage/fileset/fileset.go
  src/internal/storage/fileset/option.go
Due: run-core-jobs

Fix PJS tests
  src/internal/pjs/server_internal_test.go
Due: run-core-jobs

[Jupyter] update python manifest (#10386)
  .circleci/main.yml
  jupyter-extension/gazelle_python.yaml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

inspect snapshot and delete snapshot
  src/internal/snapshot/api_server.go
  src/internal/snapshot/server_internal_test.go
  src/internal/snapshotdb/errors.go
  src/internal/snapshotdb/snapshot_crud.go
  src/internal/snapshotdb/snapshot_crud_test.go
Due: run-core-jobs

Change pjsdb to operate on tokens rather than handles
  src/internal/pjs/api_server.go
  src/internal/pjsdb/pjsdb.go
Due: run-core-jobs

add bazel
  src/internal/serviceenv/BUILD.bazel
  src/internal/snapshot/BUILD.bazel
  src/internal/snapshotdb/BUILD.bazel
Due: run-core-jobs

fix build
  src/internal/snapshotdb/snapshot_crud.go
Due: run-core-jobs

Remove telemetry from index.ts
  jupyter-extension/src/index.ts
Due: run-jupyter-jobs

expose //:dex bazel command
  BUILD.bazel
  MODULE.bazel
Due: run-core-jobs

Try running NPM as appuser
  Dockerfile.console
Due: run-core-jobs

draft of createsnapshot cmd
  src/internal/snapshot/cmds/cmds.go
  src/server/cmd/pachctl/cmd/cmd.go
Due: run-core-jobs

build bazel
  src/internal/pjs/BUILD.bazel
  src/internal/serviceenv/BUILD.bazel
  src/internal/snapshot/cmds/BUILD.bazel
  src/internal/snapshotdb/BUILD.bazel
  src/server/cmd/pachctl/cmd/BUILD.bazel
Due: run-core-jobs

Try with prefix
  Dockerfile.console
Due: run-core-jobs

make linter happy
  src/internal/snapshot/cmds/cmds.go
Due: run-core-jobs

[MLDM-118] Deploy dex via kubernetes.
  etc/helm/pachyderm/dex-config.yaml
  etc/helm/pachyderm/templates/dex/deployment.yaml
  etc/helm/pachyderm/templates/dex/secret.yaml
  etc/helm/pachyderm/templates/dex/service.yaml
  etc/helm/pachyderm/templates/dex/serviceaccount.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  src/internal/kindenv/pachyderm-values.json
Due: run-core-jobs

Update helm chart for det 0.37.0 (#10378)
  etc/helm/pachyderm/templates/determined/NOTES.txt
  etc/helm/pachyderm/templates/determined/_helpers.tpl
  etc/helm/pachyderm/templates/determined/genai/genai-deployment.yaml
  etc/helm/pachyderm/templates/determined/genai/genai-initialize-shared-fs-permissions.yaml
  etc/helm/pachyderm/templates/determined/genai/genai-persistent-volume-claim.yaml
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/templates/determined/master-deployment.yaml
  etc/helm/pachyderm/templates/determined/master-service.yaml
  etc/helm/pachyderm/templates/determined/scheduler-config.yaml
  etc/helm/pachyderm/templates/determined/scheduler-deployment.yaml
  etc/helm/pachyderm/templates/determined/scheduler-permissions.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

list snapshot
  src/internal/snapshot/cmds/BUILD.bazel
  src/internal/snapshot/cmds/cmds.go
  src/internal/snapshot/pretty/BUILD.bazel
  src/internal/snapshot/pretty/pretty.go
Due: run-core-jobs

Implement fileset pinning
  src/internal/clusterstate/v2.12.0/clusterstate.go
  src/internal/storage/fileset/fileset_test.go
  src/internal/storage/fileset/pin.go
  src/internal/storage/fileset/storage.go
  src/internal/storage/fileset/util.go
Due: run-core-jobs

test
  src/internal/snapshot/cmds/BUILD.bazel
  src/internal/snapshot/cmds/cmds_test.go
Due: run-core-jobs

Update runc
  MODULE.bazel.lock
  go.mod
  go.sum
Due: run-core-jobs

Update module to Go v1.22.7
  go.mod
Due: run-core-jobs

[Backport 2.11] Update helm chart for det 0.37.0 (#10378) (#10392)
  MODULE.bazel.lock
  etc/helm/pachyderm/templates/determined/NOTES.txt
  etc/helm/pachyderm/templates/determined/_helpers.tpl
  etc/helm/pachyderm/templates/determined/genai/genai-deployment.yaml
  etc/helm/pachyderm/templates/determined/genai/genai-initialize-shared-fs-permissions.yaml
  etc/helm/pachyderm/templates/determined/genai/genai-persistent-volume-claim.yaml
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/templates/determined/master-deployment.yaml
  etc/helm/pachyderm/templates/determined/master-service.yaml
  etc/helm/pachyderm/templates/determined/scheduler-config.yaml
  etc/helm/pachyderm/templates/determined/scheduler-deployment.yaml
  etc/helm/pachyderm/templates/determined/scheduler-permissions.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  go.mod
  go.sum
Due: run-core-jobs

new role for restarting pachyderm
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/auth/__init__.py
  src/auth/auth.pb.go
  src/auth/auth.proto
  src/internal/jsonschema/auth_v2/AuthorizeRequest.schema.json
  src/internal/jsonschema/auth_v2/AuthorizeResponse.schema.json
  src/internal/jsonschema/auth_v2/GetPermissionsResponse.schema.json
  src/internal/jsonschema/auth_v2/GetRolesForPermissionRequest.schema.json
  src/internal/jsonschema/auth_v2/GetRolesForPermissionResponse.schema.json
  src/internal/jsonschema/auth_v2/Role.schema.json
  src/internal/jsonschema/pfs_v2/AuthInfo.schema.json
  src/internal/jsonschema/pfs_v2/InspectProjectV2Response.schema.json
  src/internal/jsonschema/pfs_v2/ProjectInfo.schema.json
  src/internal/jsonschema/pfs_v2/RepoInfo.schema.json
  src/internal/middleware/auth/interceptor.go
  src/openapi/pachyderm_api.swagger.json
  src/server/auth/server/roles.go
  src/typescript/auth/auth.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

RestartPachyderm protos
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/admin/__init__.py
  src/admin/admin.pb.go
  src/admin/admin.pb.gw.go
  src/admin/admin.pb.validate.go
  src/admin/admin.pb.zap.go
  src/admin/admin.proto
  src/admin/admin_grpc.pb.go
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/admin_v2/RestartPachydermRequest.schema.json
  src/internal/jsonschema/admin_v2/RestartPachydermResponse.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/typescript/admin/admin.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

add admindb
  src/internal/admindb/BUILD.bazel
  src/internal/admindb/admindb.go
  src/internal/admindb/admindb_test.go
  src/internal/clusterstate/v2.12.0/BUILD.bazel
  src/internal/clusterstate/v2.12.0/admin.go
  src/internal/clusterstate/v2.12.0/clusterstate.go
  src/internal/jsonschema/BUILD.bazel
  src/internal/middleware/auth/interceptor.go
  src/internal/pjs/BUILD.bazel
  src/internal/serviceenv/BUILD.bazel
  src/internal/snapshotdb/BUILD.bazel
  src/internal/testpachd/mock_pachd.go
  src/server/admin/server/api_server.go
Due: run-core-jobs

hook up RestartPachyderm rpc + cli
  src/server/admin/cmds/BUILD.bazel
  src/server/admin/cmds/cmds.go
  src/server/admin/cmds/cmds_test.go
  src/server/admin/server/BUILD.bazel
  src/server/admin/server/api_server.go
Due: run-core-jobs

add reason to rpc, show pending restarts during inspect cluster
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/admin/__init__.py
  src/admin/admin.pb.go
  src/admin/admin.pb.validate.go
  src/admin/admin.pb.zap.go
  src/admin/admin.proto
  src/admin/admin_grpc.pb.go
  src/internal/jsonschema/admin_v2/ClusterInfo.schema.json
  src/internal/jsonschema/admin_v2/RestartPachydermRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/server/admin/cmds/cmds.go
  src/server/admin/server/api_server.go
  src/typescript/admin/admin.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

warn users about pending restarts
  src/internal/client/client.go
  src/server/admin/cmds/cmds.go
Due: run-core-jobs

add delete
  src/internal/snapshot/cmds/BUILD.bazel
  src/internal/snapshot/cmds/cmds.go
  src/internal/snapshot/cmds/cmds_test.go
Due: run-core-jobs

HelloWorld for pachd restore mode && k8s job
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/templates/restore-snapshot/job.yaml
  etc/helm/pachyderm/values.yaml
  src/internal/kindenv/pachyderm.go
  src/internal/pachconfig/config.go
  src/internal/pachd/BUILD.bazel
  src/internal/pachd/restore.go
  src/internal/setupenv/setupenv.go
  src/server/cmd/pachd/main.go
Due: run-core-jobs

defult restoreSnapshot.enabled to false
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
