Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

ran black
  python-sdk/tests/test_cdr.py
Due: run-python-sdk-jobs

.bazelrc: test_output=errors (#10314)
  .bazelrc
Due: run-core-jobs

[Python SDK] Log CDR network responses on error (#10327)
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/tests/test_cdr.py
Due: run-python-sdk-jobs

[MLDM-52] Delete Job RPC Without Cancelling on Behalf of User (#10324)
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/job_crud_test.go
Due: run-core-jobs

implement PR feedback
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
  src/internal/pjsdb/job_crud.go
Due: run-core-jobs

Revert "Bump typescript from 4.9.3 to 5.0.4 in /console (#10323)"
  console/package-lock.json
  console/package.json
  console/pnpm-lock.yaml
Due: none

Rollback Dependabot Merges (#10333)
  console/package-lock.json
  console/package.json
  console/pnpm-lock.yaml
Due: none

fix error name conversion
  src/internal/pjsdb/job_crud.go
Due: run-core-jobs

fix
  src/internal/pjsdb/job_crud.go
Due: run-core-jobs

[2.11.x] [Python SDK] Log CDR network responses on error (#10327) (#10334)
  python-sdk/pachyderm_sdk/api/cdr/resolver.py
  python-sdk/tests/test_cdr.py
Due: run-python-sdk-jobs

Remove CODEOWNERS (#10301)
  .github/CODEOWNERS
Due: run-core-jobs

Implement reference inputs
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/common/Input.schema.json
  src/internal/jsonschema/datum/Meta.schema.json
  src/internal/jsonschema/datum/PFSTask.schema.json
  src/internal/jsonschema/pps_v2/ClusterDefaults.schema.json
  src/internal/jsonschema/pps_v2/CreateDatumRequest.schema.json
  src/internal/jsonschema/pps_v2/CreatePipelineRequest.schema.json
  src/internal/jsonschema/pps_v2/CreatePipelineTransaction.schema.json
  src/internal/jsonschema/pps_v2/Input.schema.json
  src/internal/jsonschema/pps_v2/JobInfo.schema.json
  src/internal/jsonschema/pps_v2/JobSetInfo.schema.json
  src/internal/jsonschema/pps_v2/ListDatumRequest.schema.json
  src/internal/jsonschema/pps_v2/PFSInput.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfo.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfos.schema.json
  src/internal/jsonschema/pps_v2/ProjectDefaults.schema.json
  src/internal/jsonschema/pps_v2/RenderTemplateResponse.schema.json
  src/internal/jsonschema/pps_v2/StartCreateDatumRequest.schema.json
  src/internal/jsonschema/transaction_v2/BatchTransactionRequest.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfo.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfos.schema.json
  src/internal/jsonschema/transaction_v2/TransactionRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/server/pachyderm_test.go
  src/server/worker/common/common.go
  src/server/worker/common/common.pb.go
  src/server/worker/common/common.pb.validate.go
  src/server/worker/common/common.pb.zap.go
  src/server/worker/common/common.proto
  src/server/worker/datum/worker.go
  src/typescript/pps/pps.pb.ts
  src/typescript/server/worker/common/common.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Add configuration for private IP in cloud sql proxy [MLDM-74] (#10187)
  etc/helm/pachyderm/templates/cloudsqlAuthProxy/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Add propagation spec to PPS input
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/datum/PFSTask.schema.json
  src/internal/jsonschema/pps_v2/ClusterDefaults.schema.json
  src/internal/jsonschema/pps_v2/CreateDatumRequest.schema.json
  src/internal/jsonschema/pps_v2/CreatePipelineRequest.schema.json
  src/internal/jsonschema/pps_v2/CreatePipelineTransaction.schema.json
  src/internal/jsonschema/pps_v2/Input.schema.json
  src/internal/jsonschema/pps_v2/JobInfo.schema.json
  src/internal/jsonschema/pps_v2/JobSetInfo.schema.json
  src/internal/jsonschema/pps_v2/ListDatumRequest.schema.json
  src/internal/jsonschema/pps_v2/PFSInput.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfo.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfos.schema.json
  src/internal/jsonschema/pps_v2/ProjectDefaults.schema.json
  src/internal/jsonschema/pps_v2/RenderTemplateResponse.schema.json
  src/internal/jsonschema/pps_v2/StartCreateDatumRequest.schema.json
  src/internal/jsonschema/transaction_v2/BatchTransactionRequest.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfo.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfos.schema.json
  src/internal/jsonschema/transaction_v2/TransactionRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.proto
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/server/pachyderm_test.go
  src/server/pps/server/api_server.go
  src/typescript/pps/pps.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Revert "Bump path-to-regexp and express in /console/backend (#10319)"
  console/backend/package-lock.json
  console/backend/package.json
  console/backend/pnpm-lock.yaml
Due: none

Revert "Bump path-to-regexp and express in /console/backend (#10319)" (#10338)
  console/backend/package-lock.json
  console/backend/package.json
  console/backend/pnpm-lock.yaml
Due: none

Revert "Bump axios from 1.6.2 to 1.7.7 in /console (#10331)"
  console/package-lock.json
  console/pnpm-lock.yaml
Due: none

Revert "Bump axios from 1.6.2 to 1.7.7 in /console (#10331)" (#10340)
  console/package-lock.json
  console/pnpm-lock.yaml
Due: none

Update pnpm lock files.
  console/backend/pnpm-lock.yaml
  console/frontend/pnpm-lock.yaml
Due: none

Consolidate minio library versions
  MODULE.bazel
  go.mod
  go.sum
  src/internal/task/BUILD.bazel
  src/server/auth/server/testing/BUILD.bazel
  src/server/auth/server/testing/auth_test.go
  src/server/pfs/s3/BUILD.bazel
  src/server/pfs/s3/master_test.go
  src/server/pfs/s3/project_master_test.go
  src/server/pfs/s3/util_test.go
  src/server/pfs/s3/worker_test.go
  src/server/proxy_test.go
  src/server/worker/pipeline/transform/BUILD.bazel
Due: run-core-jobs

Gazelle
  src/server/pfs/s3/BUILD.bazel
Due: run-core-jobs

Revert Dependabot Changes and Update PNPM Ourselves (#10341)
  console/backend/pnpm-lock.yaml
  console/frontend/pnpm-lock.yaml
Due: none

[2.11.x Backport] Remove CODEOWNERS (#10301) (#10335)
  .github/CODEOWNERS
Due: run-core-jobs

Gazelle
  src/internal/task/BUILD.bazel
  src/server/worker/pipeline/transform/BUILD.bazel
Due: run-core-jobs

Working proof-of-concept of using PJS to implement preprocessing tasks
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/internal/pachd/builder.go
  src/internal/pachd/env.go
  src/internal/pachd/full.go
  src/internal/pjs/api_server.go
  src/internal/pjsdb/queue_crud.go
  src/internal/task/BUILD.bazel
  src/internal/testpachd/mock_pachd.go
  src/internal/testpachd/realenv/real_env.go
  src/pjs/pjs.proto
  src/server/pps/server/api_server.go
  src/server/pps/server/worker.go
  src/server/worker/pipeline/transform/fs.go
  src/server/worker/pipeline/transform/worker.go
  src/server/worker/worker.go
Due: run-core-jobs, run-python-sdk-jobs

Add configuration for private IP in cloud sql proxy [MLDM-74] (#10187) (#10339)
  etc/helm/pachyderm/templates/cloudsqlAuthProxy/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Gazelle
  src/internal/task/BUILD.bazel
  src/internal/testpachd/BUILD.bazel
  src/internal/testpachd/realenv/BUILD.bazel
  src/server/pps/server/BUILD.bazel
  src/server/worker/pipeline/transform/BUILD.bazel
Due: run-core-jobs

Remove debugging time.Sleep
  src/server/worker/pipeline/transform/worker.go
Due: run-core-jobs

Correct name of PJS init step
  src/internal/pachd/setup.go
Due: run-core-jobs

Pass in new PreprocessingWorker argument
  src/server/worker/worker.go
Due: run-core-jobs

[MLDM-63] fix processQueue (#10322)
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
  src/internal/pjsdb/job_crud.go
Due: run-core-jobs

Reference Inputs (#10336)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/common/Input.schema.json
  src/internal/jsonschema/datum/Meta.schema.json
  src/internal/jsonschema/datum/PFSTask.schema.json
  src/internal/jsonschema/pps_v2/ClusterDefaults.schema.json
  src/internal/jsonschema/pps_v2/CreateDatumRequest.schema.json
  src/internal/jsonschema/pps_v2/CreatePipelineRequest.schema.json
  src/internal/jsonschema/pps_v2/CreatePipelineTransaction.schema.json
  src/internal/jsonschema/pps_v2/Input.schema.json
  src/internal/jsonschema/pps_v2/JobInfo.schema.json
  src/internal/jsonschema/pps_v2/JobSetInfo.schema.json
  src/internal/jsonschema/pps_v2/ListDatumRequest.schema.json
  src/internal/jsonschema/pps_v2/PFSInput.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfo.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfos.schema.json
  src/internal/jsonschema/pps_v2/ProjectDefaults.schema.json
  src/internal/jsonschema/pps_v2/RenderTemplateResponse.schema.json
  src/internal/jsonschema/pps_v2/StartCreateDatumRequest.schema.json
  src/internal/jsonschema/transaction_v2/BatchTransactionRequest.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfo.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfos.schema.json
  src/internal/jsonschema/transaction_v2/TransactionRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/server/pachyderm_test.go
  src/server/worker/common/common.go
  src/server/worker/common/common.pb.go
  src/server/worker/common/common.pb.validate.go
  src/server/worker/common/common.pb.zap.go
  src/server/worker/common/common.proto
  src/server/worker/datum/worker.go
  src/typescript/pps/pps.pb.ts
  src/typescript/server/worker/common/common.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Build PJS into full mode pachd
  src/internal/pachd/builder.go
  src/internal/serviceenv/BUILD.bazel
  src/internal/serviceenv/service_env.go
  src/server/pps/server/api_server.go
Due: run-core-jobs

list queue and list job RPC
  src/internal/pjs/api_server.go
  src/internal/pjs/server_internal_test.go
  src/internal/pjsdb/queue_crud.go
  src/internal/pjsdb/queue_iterator.go
Due: run-core-jobs

Implement ServiceEnv
  src/internal/serviceenv/testing.go
Due: run-core-jobs

ServiceEnv, take 2
  src/internal/serviceenv/testing.go
Due: run-core-jobs

ServiceEnv #3
  src/internal/serviceenv/testing.go
Due: run-core-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)
