Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-jupyter-jobs, run-core-jobs

Request all commit types
  src/server/pfs/fuse/server.go
Due: run-core-jobs

Apply suggestions from code review
  src/pfs/pfs.go
  src/server/auth/server/api_server.go
Due: run-core-jobs

test Spout pipeline restart
  src/server/pps/server/api_server.go
  src/server/spout_test.go
Due: run-core-jobs

[CORE-1177] rename test and tag jira ticket
  src/server/spout_test.go
Due: run-core-jobs

Hardcode collections name
  src/internal/pfsdb/v2.4.0.go
Due: run-core-jobs

Defer close
  src/internal/collection/postgres_collection.go
Due: run-core-jobs

Add migration test
  src/internal/collection/postgres_collection_test.go
Due: run-core-jobs

increase sleep duration to deflake test
  src/server/pps/cmds/cmds_test.go
Due: run-core-jobs

Add project name argument to testutil.Pl
  src/internal/testutil/auth.go
  src/server/auth/server/testing/auth_integration_test.go
  src/server/auth/server/testing/auth_test.go
Due: run-core-jobs

Use testutil to generate pipeline principal
  src/server/auth/server/testing/auth_test.go
Due: run-core-jobs

Fix Spout and Service pipeline restart issue (#8308)
  src/server/pps/cmds/cmds_test.go
  src/server/pps/server/api_server.go
  src/server/spout_test.go
Due: run-core-jobs

Shorten repo name
  src/server/pachyderm_test.go
Due: run-core-jobs

revert project-aware client calls
  src/server/spout_test.go
Due: run-core-jobs

test 1.1.6.1 pgbouncer
  etc/helm/pachyderm/values.yaml
Due: none

Revert "use build tags to skip non arm64 tests"
  src/testing/deploy/upgrade_test.txt
Due: run-core-jobs

Remove debugging log
  src/internal/collection/postgres_collection_test.go
Due: run-core-jobs

Add explanatory comment from PR discussion
  src/internal/pfsdb/v2.4.0.go
Due: run-core-jobs

Try creating default project with name “default”
  src/internal/clusterstate/v2.4.0.go
  src/internal/pfsdb/v2.4.0.go
Due: run-core-jobs

Store default project under default project name …
  src/internal/clusterstate/v2.4.0.go
Due: run-core-jobs

test pgbouncer 1.17.0
  etc/helm/pachyderm/values.yaml
Due: none

add btl mock work load to alpha pre-release tests (#8259)
  .circleci/main.yml
  etc/testing/circle/run_cust_release_tests.sh
  etc/testing/circle/workloads/aws-btl/infra.json
  etc/testing/circle/workloads/aws-btl/values.yaml
Due: none

feedback
  .github/CODEOWNERS
Due: none

Backport Fix for Spout pipelines not able to restart (#8310)
  src/server/pps/cmds/cmds_test.go
  src/server/pps/server/api_server.go
  src/server/spout_test.go
Due: run-core-jobs

FRON-583: Update Cypress to 10.9.0, migrate e2e tests (#758)
  cypress.config.ts
  cypress.json
  cypress/e2e/authenticated/Access.ts
  cypress/e2e/mock/ScrollingContent.ts
  cypress/e2e/unauthenticated/Community.ts
  cypress/e2e/unauthenticated/Dag.ts
  cypress/e2e/unauthenticated/Jobs.ts
  cypress/e2e/unauthenticated/Landing.ts
  cypress/e2e/unauthenticated/Project.ts
  cypress/e2e/unauthenticated/ProjectList.ts
  cypress/e2e/unauthenticated/Repos.ts
  cypress/support/e2e.js
  package-lock.json
  package.json
Due: none

Revert "test pgbouncer 1.17.0"
  etc/helm/pachyderm/values.yaml
Due: none

Rename MigratePostgreSQLCollection
  src/internal/collection/postgres_collection.go
  src/internal/collection/postgres_collection_test.go
  src/internal/collection/v2.4.0.go
  src/internal/pfsdb/v2.4.0.go
  src/internal/ppsdb/v2.4.0.go
Due: run-core-jobs

FRON-595: Show only one tab on Projects page (#765)
  frontend/src/views/Landing/Landing.tsx
  frontend/src/views/Landing/__tests__/Landing.test.tsx
  frontend/src/views/Landing/hooks/useLandingView.ts
Due: none

test: assert project name is in canvas download. (#770)
  .gitignore
  cypress/e2e/mock/Canvas.ts
  cypress/plugins/index.js
Due: none

Move v2.4.0 migrations into clusterstate
  src/internal/clusterstate/v2.4.0.go
  src/internal/clusterstate/v2.4.0/auth.go
  src/internal/clusterstate/v2.4.0/clusterstate.go
  src/internal/clusterstate/v2.4.0/collection.go
  src/internal/clusterstate/v2.4.0/pfsdb.go
  src/internal/clusterstate/v2.4.0/ppsdb.go
  src/internal/pfsdb/v2.4.0.go
  src/internal/ppsdb/v2.4.0.go
Due: run-core-jobs

[Jupyter] Fix deleted mount error that crashes extension (#8290)
  jupyter-extension/infra/main.go
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListMount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListUnmount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/SortableList.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/__tests__/SortableList.test.tsx
  jupyter-extension/src/plugins/mount/mount.tsx
Due: run-jupyter-jobs

[Mount Server] Fix delete mounted repo error (#8255)
  jupyter-extension/infra/main.go
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListMount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListUnmount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/SortableList.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/__tests__/SortableList.test.tsx
  jupyter-extension/src/plugins/mount/mount.tsx
  src/server/pfs/fuse/server.go
  src/server/pfs/fuse/server_test.go
Due: run-jupyter-jobs, run-core-jobs

'pachctl draw' -> 'pachctl draw pipeline'
  src/server/pps/cmds/cmds.go
Due: run-core-jobs

miscutil: remove MinInt64 in favor of generic Min
  go.mod
  go.sum
  src/internal/miscutil/math.go
  src/internal/randutil/rand.go
Due: run-core-jobs

randutil: use a much faster algorithm than rand.Intn to generate random data; test that generated data is random enough
  src/internal/randutil/rand.go
  src/internal/randutil/rand_test.go
Due: run-core-jobs

keep old algorithm around for tests that depend on it
  src/internal/storage/fileset/fileset_test.go
Due: run-core-jobs

randutil: don't hard code the number of letters; uint16(len(array)) doesn't decrease the performance
  src/internal/randutil/rand.go
Due: run-core-jobs

randutil: add a comment about the probabilistic nature of testLetters
  src/internal/randutil/rand_test.go
Due: run-core-jobs

Path conditions:
  run-jupyter-jobs: any of: jupyter-extension/.*
  run-core-jobs: any of: src/.*
