Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

Add admin logs test
  src/server/logs/cmds/cmds_test.go
Due: run-core-jobs

Add logs pipeline cmd test
  src/server/logs/cmds/cmds_test.go
Due: run-core-jobs

Add pipeline user test
  src/server/logs/cmds/cmds_test.go
Due: run-core-jobs

Add validator to validate path
  src/internal/storage/fileset/validator.go
  src/server/pfs/server/compaction.go
  src/server/pfs/server/source.go
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

Convert project log test
  src/server/logs/cmds/cmds_test.go
Due: run-core-jobs

avoid logging span start with duplicate fields
  src/internal/log/span.go
  src/internal/log/span_test.go
Due: run-core-jobs

avoid logging span start with duplicate fields (#10051)
  src/internal/log/span.go
  src/internal/log/span_test.go
Due: run-core-jobs

add bazel
  src/internal/storage/fileset/BUILD.bazel
Due: run-core-jobs

fix naming
  src/internal/storage/fileset/validator.go
Due: run-core-jobs

fix: close file (#9964) (#10043)
  .circleci/config.yml
  .circleci/main.yml
  MODULE.bazel
  MODULE.bazel.lock
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
  private/repositories.bzl
  src/server/debug/server/util.go
  src/testing/cmds/go-test-results/Dockerfile
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Add CreateDatum wrapper
  python-sdk/pachyderm_sdk/api/pps/extension.py
  python-sdk/poetry.lock
  python-sdk/pyproject.toml
  python-sdk/tests/test_pps.py
Due: run-python-sdk-jobs

add storage service support for pachctl misc grpc
  src/internal/middleware/auth/interceptor.go
  src/server/misc/cmds/grpc.go
Due: run-core-jobs

turn off compaction (for now).
  src/server/pfs/server/master.go
Due: run-core-jobs

modify places where file sets are cloned or obscured for better graphs.
  src/internal/storage/fileset/compaction.go
  src/internal/storage/fileset/storage.go
  src/internal/storage/fileset/unordered_writer.go
  src/server/pfs/server/commit_store.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

add function to build a graph using the dot library.
  go.mod
  go.sum
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/storage/__init__.py
  src/internal/jsonschema/storage/GraphFilesetRequest.schema.json
  src/internal/jsonschema/storage/GraphFilesetResponse.schema.json
  src/internal/storage/fileset/BUILD.bazel
  src/internal/storage/fileset/storage.go
  src/internal/storage/server.go
  src/internal/testpachd/mock_pachd.go
  src/openapi/pachyderm_api.swagger.json
  src/server/pfs/server/commit_store.go
  src/server/pfs/server/testing/server_test.go
  src/storage/fileset.pb.go
  src/storage/fileset.pb.gw.go
  src/storage/fileset.pb.validate.go
  src/storage/fileset.pb.zap.go
  src/storage/fileset.proto
  src/storage/fileset_grpc.pb.go
  src/typescript/storage/fileset.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

feature-gate compaction.
  etc/helm/examples/local-dev-values.yaml
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  src/internal/pachconfig/config.go
  src/internal/pachd/env.go
  src/server/pfs/server/master.go
  src/server/pfs/server/server.go
  src/server/pfs/server/trigger.go
Due: run-core-jobs

add compact rpc.
  src/storage/fileset.proto
Due: run-core-jobs

regen protos and bazel dependencies.
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/storage/__init__.py
  src/internal/jsonschema/BUILD.bazel
  src/internal/jsonschema/storage/CompactFilesetRequest.schema.json
  src/internal/jsonschema/storage/CompactFilesetResponse.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/server/pfs/server/testing/BUILD.bazel
  src/storage/fileset.pb.go
  src/storage/fileset.pb.gw.go
  src/storage/fileset.pb.validate.go
  src/storage/fileset.pb.zap.go
  src/storage/fileset_grpc.pb.go
  src/typescript/storage/fileset.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

rename compaction_enabled to compact_commit
  etc/helm/examples/local-dev-values.yaml
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  src/internal/pachconfig/config.go
  src/internal/pachd/env.go
  src/internal/storage/server.go
  src/internal/testpachd/mock_pachd.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/master.go
  src/server/pfs/server/server.go
Due: run-core-jobs

move rpc to pfs service.
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  python-sdk/pachyderm_sdk/api/storage/__init__.py
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/BUILD.bazel
  src/internal/jsonschema/pfs_v2/CompactCommitFilesetRequest.schema.json
  src/internal/jsonschema/pfs_v2/CompactCommitFilesetResponse.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.gw.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/pfs/pfs_grpc.pb.go
  src/storage/fileset.pb.go
  src/storage/fileset.pb.gw.go
  src/storage/fileset.pb.validate.go
  src/storage/fileset.pb.zap.go
  src/storage/fileset.proto
  src/storage/fileset_grpc.pb.go
  src/typescript/pfs/pfs.pb.ts
  src/typescript/storage/fileset.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

move rpc to pfs service.
  etc/helm/examples/local-dev-values.yaml
  examples/opencv/kitten.jpg
  examples/opencv/liberty.jpg
  examples/opencv/pachd.logs
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pfs/__init__.py
  python-sdk/pachyderm_sdk/api/storage/__init__.py
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/BUILD.bazel
  src/internal/jsonschema/pfs_v2/CompactCommitFilesetRequest.schema.json
  src/internal/jsonschema/pfs_v2/CompactCommitFilesetResponse.schema.json
  src/internal/middleware/auth/interceptor.go
  src/internal/storage/fileset/storage.go
  src/internal/testpachd/mock_pachd.go
  src/openapi/pachyderm_api.swagger.json
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.gw.go
  src/pfs/pfs.pb.validate.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/pfs/pfs_grpc.pb.go
  src/server/misc/cmds/grpc.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/master.go
  src/storage/fileset.pb.go
  src/storage/fileset.pb.gw.go
  src/storage/fileset.pb.validate.go
  src/storage/fileset.pb.zap.go
  src/storage/fileset.proto
  src/storage/fileset_grpc.pb.go
  src/typescript/pfs/pfs.pb.ts
  src/typescript/storage/fileset.pb.ts
  zscaler_root_certificate.crt
Due: run-core-jobs, run-python-sdk-jobs

add new table to track intermediary file sets created during compaction.
  etc/testing/loads/hackathon.yaml
  src/internal/clusterstate/v2.10.0/clusterstate.go
  src/internal/storage/fileset/storage.go
  src/server/pfs/server/compaction.go
Due: run-core-jobs

Update Pachyderm Helm chart ArtifactHub prerelease annotation to "false" for 2.10 GA release.
  etc/helm/pachyderm/Chart.yaml
Due: run-core-jobs

Update chart prerelease annotation for 2.10 GA release (#10053)
  etc/helm/pachyderm/Chart.yaml
Due: run-core-jobs

add graph indices rpc.
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/storage/__init__.py
  src/internal/jsonschema/BUILD.bazel
  src/internal/jsonschema/storage/GraphIndicesRequest.schema.json
  src/internal/jsonschema/storage/GraphIndicesResponse.schema.json
  src/internal/middleware/auth/interceptor.go
  src/internal/storage/fileset/storage.go
  src/internal/storage/server.go
  src/internal/testpachd/mock_pachd.go
  src/openapi/pachyderm_api.swagger.json
  src/storage/fileset.pb.go
  src/storage/fileset.pb.gw.go
  src/storage/fileset.pb.validate.go
  src/storage/fileset.pb.zap.go
  src/storage/fileset.proto
  src/storage/fileset_grpc.pb.go
  src/typescript/storage/fileset.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

add graph indices implementation.
  src/internal/storage/fileset/index/option.go
  src/internal/storage/fileset/index/reader.go
  src/internal/storage/fileset/index/util.go
  src/internal/storage/fileset/reader.go
  src/internal/storage/fileset/storage.go
  src/internal/storage/fileset/util.go
Due: run-core-jobs

figure out what was going wrong with the index reader graphs.
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/storage/__init__.py
  src/internal/jsonschema/storage/GraphIndicesResponse.schema.json
  src/internal/storage/fileset/BUILD.bazel
  src/internal/storage/fileset/index/BUILD.bazel
  src/internal/storage/fileset/index/option.go
  src/internal/storage/fileset/index/reader.go
  src/internal/storage/fileset/index/util.go
  src/internal/storage/fileset/storage.go
  src/openapi/pachyderm_api.swagger.json
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/master.go
  src/server/pfs/server/testing/server_test.go
  src/storage/fileset.pb.go
  src/storage/fileset.pb.validate.go
  src/storage/fileset.pb.zap.go
  src/storage/fileset.proto
  src/typescript/storage/fileset.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

[Backport][Python SDK] Add CreateDatum wrapper (#10052)
  python-sdk/pachyderm_sdk/api/pps/extension.py
  python-sdk/poetry.lock
  python-sdk/pyproject.toml
  python-sdk/tests/test_pps.py
Due: run-python-sdk-jobs

I made a bunch of changes and now things work the way I want.
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/storage/__init__.py
  src/internal/jsonschema/storage/GraphIndicesResponse.schema.json
  src/internal/storage/fileset/index/option.go
  src/internal/storage/fileset/index/reader.go
  src/internal/storage/fileset/merge.go
  src/internal/storage/fileset/reader.go
  src/internal/storage/fileset/storage.go
  src/internal/storage/fileset/util.go
  src/openapi/pachyderm_api.swagger.json
  src/server/pfs/server/testing/server_test.go
  src/storage/fileset.pb.go
  src/storage/fileset.pb.validate.go
  src/storage/fileset.pb.zap.go
  src/storage/fileset.proto
  src/typescript/storage/fileset.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

Create a script to reproduce use-case
  datum-group-script.sh
Due: run-core-jobs

Datum Plugin Hack
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/common/DatumGen.schema.json
  src/internal/jsonschema/common/Input.schema.json
  src/internal/jsonschema/datum/Meta.schema.json
  src/internal/jsonschema/datum/PFSTask.schema.json
  src/internal/jsonschema/pps_v2/ClusterDefaults.schema.json
  src/internal/jsonschema/pps_v2/CreateDatumRequest.schema.json
  src/internal/jsonschema/pps_v2/CreatePipelineRequest.schema.json
  src/internal/jsonschema/pps_v2/CreatePipelineTransaction.schema.json
  src/internal/jsonschema/pps_v2/DatumGen.schema.json
  src/internal/jsonschema/pps_v2/Input.schema.json
  src/internal/jsonschema/pps_v2/JobInfo.schema.json
  src/internal/jsonschema/pps_v2/JobSetInfo.schema.json
  src/internal/jsonschema/pps_v2/ListDatumRequest.schema.json
  src/internal/jsonschema/pps_v2/PFSInput.schema.json
  src/internal/jsonschema/pps_v2/PipelineDatumFilter.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfo.schema.json
  src/internal/jsonschema/pps_v2/PipelineInfos.schema.json
  src/internal/jsonschema/pps_v2/ProjectDefaults.schema.json
  src/internal/jsonschema/pps_v2/RenderTemplateResponse.schema.json
  src/internal/jsonschema/pps_v2/RerunPipelineRequest.schema.json
  src/internal/jsonschema/pps_v2/StartCreateDatumRequest.schema.json
  src/internal/jsonschema/transaction_v2/BatchTransactionRequest.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfo.schema.json
  src/internal/jsonschema/transaction_v2/TransactionInfos.schema.json
  src/internal/jsonschema/transaction_v2/TransactionRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/server/worker/common/common.pb.go
  src/server/worker/common/common.pb.validate.go
  src/server/worker/common/common.pb.zap.go
  src/server/worker/common/common.proto
  src/server/worker/datum/worker.go
  src/typescript/pps/pps.pb.ts
  src/typescript/server/worker/common/common.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

fix comments
  src/internal/storage/fileset/validator.go
  src/server/pfs/server/compaction.go
  src/server/pfs/server/source.go
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

fix bazel test
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

fix comment
  src/server/pfs/server/compaction.go
Due: run-core-jobs

add comment
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

fix lint
  src/server/pfs/server/testing/server_test.go
Due: run-core-jobs

Update TestGetLogs_project_noauth and TestGetLogs_project_user to use real loki
  src/server/logs/cmds/cmds_test.go
  src/server/logs/logs.go
  src/server/logs/query.go
Due: run-core-jobs

Update publish call
  src/server/logs/internal_test.go
Due: run-core-jobs

Update upgrade test URLs
  src/testing/deploy/upgrade_test.go
Due: run-core-jobs
