Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

Don’t shadow client
  src/server/auth/cmds/cmds_integration_test.go
Due: run-core-jobs

implement feedback
  src/internal/snapshot/recovery.go
  src/internal/snapshot/recovery_test.go
  src/internal/snapshot/restore_test.go
Due: run-core-jobs

gazelle
  src/internal/snapshot/BUILD.bazel
Due: run-core-jobs

Run Minio on a port that Zscaler hasn't stolen for itself (#10433)
  MODULE.bazel.lock
  src/internal/dockertestenv/minio.go
  src/internal/pachd/testpachd.go
Due: run-core-jobs

put test back
  src/internal/snapshot/recovery_test.go
  src/internal/snapshot/restore_test.go
Due: run-core-jobs

bazel
  src/internal/snapshot/BUILD.bazel
Due: run-core-jobs

[MLDM-192] Add test for snapshot restoration lifecycle (#10434)
  src/internal/pachd/full.go
  src/internal/pachd/testpachd.go
  src/internal/snapshot/cmds/BUILD.bazel
  src/internal/snapshot/cmds/cmds_test.go
  src/internal/testutilpachctl/cmds.go
  src/server/auth/cmds/cmds_integration_test.go
Due: run-core-jobs

[MLDM-195] Run CheckStorage after snapshot restore tests (#10429)
  src/internal/snapshot/recovery_test.go
Due: run-core-jobs

bazel apt lock
  private/apt/apt.lock.json
Due: none

Fix ci (#10435)
  private/apt/apt.lock.json
Due: none

Run anything that uses the pachd container as user id 65532 (#10414)
  etc/helm/pachyderm/templates/enterprise-server/deployment.yaml
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/templates/pachw/deployment.yaml
  etc/helm/pachyderm/templates/preflight/job.yaml
  etc/helm/pachyderm/templates/restore-snapshot/job.yaml
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Update PostgreSQL .deb
  BAZEL.md
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

Update deps, tidy
  go.mod
  go.sum
Due: run-core-jobs

remove datadog from circel config
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Double wait time
  etc/testing/circle/wait_for_docker_images.sh
Due: run-core-jobs

remove datadog from circel config (#10438)
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

try newest go version
  .circleci/config.yml
  MODULE.bazel
  examples/spouts/go-rabbitmq-spout/source/go.mod
  go.mod
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

golang jwt update version
  go.mod
  go.sum
Due: run-core-jobs

bazel stuff?
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

Address govulncheck
  go.mod
  go.sum
Due: run-core-jobs

[INF-1587] Fix CircleCI redux (#10440)
  MODULE.bazel.lock
  go.mod
  go.sum
  private/apt/apt.lock.json
Due: run-core-jobs

update the dependencies in bazel again.
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

Test Whether CI Will Build With These Changes (#10439)
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

remove
  src/server/auth/server/api_server.go
  src/server/license/server/api_server.go
  src/server/pps/server/api_server.go
Due: run-core-jobs

fahad/bazel
  MODULE.bazel.lock
  private/apt/apt.lock.json
Due: run-core-jobs

hope bazel works
  MODULE.bazel.lock
  private/apt/apt.lock.json
  src/server/auth/server/BUILD.bazel
  src/server/pps/server/BUILD.bazel
Due: run-core-jobs

fix bazel tests
  src/server/auth/server/testing/auth_test.go
  src/server/auth/server/testing/oidc_test.go
  src/server/license/server/license_test.go
Due: run-core-jobs

oh bazel
  private/apt/apt.lock.json
Due: none

test smaller runners
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

run pipeline with new user
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

debug
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

2xlarge to xlarge
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

try pipeline bazel
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

always regen lock with bazel
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

[INF-1599-1] Enterprise Checks (#10446)
  MODULE.bazel.lock
  private/apt/apt.lock.json
  src/server/auth/server/BUILD.bazel
  src/server/auth/server/api_server.go
  src/server/auth/server/testing/auth_test.go
  src/server/auth/server/testing/oidc_test.go
  src/server/license/server/api_server.go
  src/server/license/server/license_test.go
  src/server/pps/server/BUILD.bazel
  src/server/pps/server/api_server.go
Due: run-core-jobs

try the full bazel incantation
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

don't fail on no cache
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

just use autofix
  .circleci/main.yml
Due: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

remove impl in enterprise server
  src/internal/metrics/BUILD.bazel
  src/server/cmd/pachctl/cmd/BUILD.bazel
  src/server/enterprise/cmds/BUILD.bazel
  src/server/enterprise/cmds/cmds.go
  src/server/enterprise/cmds/cmds_test.go
  src/server/enterprise/limits/BUILD.bazel
  src/server/enterprise/limits/limits.go
  src/server/enterprise/metrics/BUILD.bazel
  src/server/enterprise/metrics/metrics.go
  src/server/enterprise/server/BUILD.bazel
  src/server/enterprise/server/api_server.go
  src/server/enterprise/server/enterprise_integration_test.go
  src/server/enterprise/server/enterprise_test.go
  src/server/enterprise/server/env.go
  src/server/enterprise/testing/cmd_test.go
Due: run-core-jobs

remove impl in license server
  src/server/license/cmds/BUILD.bazel
  src/server/license/cmds/cmds.go
  src/server/license/cmds/cmds_test.go
  src/server/license/server/api_server.go
  src/server/license/server/env.go
  src/server/license/server/license_test.go
Due: run-core-jobs
