Repository pachyderm/pachyderm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-core-jobs, run-jupyter-jobs, run-python-sdk-jobs, run-label-studio-jobs

Path conditions:
  run-core-jobs: any of: ([^/]+|(.github|.circleci|src|etc|examples|goreleaser|licenses|dex-assets)/.*)
  run-jupyter-jobs: any of: ((.circleci|jupyter-extension)/.*)
  run-python-sdk-jobs: any of: ((.circleci|python-sdk)/.*)
  run-label-studio-jobs: any of: ((.circleci|label-studio)/.*)

Remove RS from package-lock.json
  jupyter-extension/package-lock.json
Due: run-jupyter-jobs

Remove RS from console/frontend/src/index.tsx
  console/frontend/src/index.tsx
Due: none

Remove RS from vite.config.ts
  console/frontend/vite.config.ts
Due: none

listjob db
  src/internal/snapshot/api_server.go
  src/internal/snapshot/server.go
  src/internal/snapshot/server_internal_test.go
  src/internal/snapshot/snapshot.go
  src/internal/snapshotdb/errors.go
  src/internal/snapshotdb/iterators.go
  src/internal/snapshotdb/snapshot_crud.go
  src/internal/snapshotdb/snapshot_crud_test.go
  src/internal/snapshotdb/snapshot_iterator.go
  src/internal/snapshotdb/snapshotdb.go
  src/internal/snapshotdb/snapshotdb_test.go
Due: run-core-jobs

bazel
  src/client/BUILD.bazel
  src/internal/client/BUILD.bazel
  src/internal/jsonschema/BUILD.bazel
  src/internal/snapshot/BUILD.bazel
  src/internal/snapshotdb/BUILD.bazel
  src/snapshot/BUILD.bazel
Due: run-core-jobs

add package comment
  src/internal/snapshot/api_server.go
  src/internal/snapshotdb/snapshotdb.go
Due: run-core-jobs

bazel make proto?
  proto-docs.json
  proto-docs.md
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/openapi/pachyderm_api.swagger.json
Due: run-core-jobs

make linter happy
  src/internal/snapshotdb/snapshot_crud.go
Due: run-core-jobs

[MLDM-118] I've helmified the deal, pray I don't helmify it further.
  console/backend/src/handlers/handleAuth.ts
  dex.yaml
  etc/generate-envoy-config/pachyderm-services.libsonnet
  etc/helm/pachyderm/envoy-tls.json
  etc/helm/pachyderm/envoy.json
  etc/helm/pachyderm/values.yaml
  src/server/auth/server/http_client.go
  src/server/identity/server/api_server.go
  src/server/identity/server/dex_api.go
Due: run-core-jobs

add function to restore a snapshot
  private/apt/BUILD.bazel
  src/internal/recovery/BUILD.bazel
  src/internal/recovery/recovery.go
  src/internal/recovery/recovery_test.go
  tools/postgres/psql/BUILD.bazel
Due: run-core-jobs

dump and restore in a transaction
  MODULE.bazel
  go.mod
  go.sum
  src/internal/recovery/BUILD.bazel
  src/internal/recovery/recovery.go
Due: run-core-jobs

RPC call
  src/internal/snapshot/api_server.go
  src/internal/snapshot/server.go
  src/internal/snapshot/server_internal_test.go
  src/internal/snapshot/snapshot.go
  src/internal/snapshot/util.go
  src/internal/snapshotdb/snapshot_crud.go
  src/internal/snapshotdb/snapshot_crud_test.go
  src/internal/snapshotdb/snapshot_iterator.go
  src/internal/snapshotdb/snapshotdb.go
Due: run-core-jobs

add limit
  src/internal/snapshot/api_server.go
  src/internal/snapshot/server_internal_test.go
  src/internal/snapshotdb/iterators.go
  src/internal/snapshotdb/snapshot_iterator.go
Due: run-core-jobs

bazel
  src/client/BUILD.bazel
  src/internal/client/BUILD.bazel
  src/internal/snapshot/BUILD.bazel
  src/internal/snapshotdb/BUILD.bazel
Due: run-core-jobs

fix CI
  src/internal/snapshot/api_server.go
  src/internal/snapshotdb/snapshotdb.go
Due: run-core-jobs

Implement fileset handle / id split and stable ids
  proto-docs.json
  proto-docs.md
  src/internal/jsonschema/pfsserver/CompactTaskResult.schema.json
  src/internal/jsonschema/pfsserver/ConcatTaskResult.schema.json
  src/internal/jsonschema/pfsserver/GetFileURLTask.schema.json
  src/internal/jsonschema/pfsserver/PutFileURLTaskResult.schema.json
  src/internal/jsonschema/pfsserver/ValidateTask.schema.json
  src/internal/pjs/api_server.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/pjsdb.go
  src/internal/storage/fileset/compaction.go
  src/internal/storage/fileset/fileset.go
  src/internal/storage/fileset/metadata_store.go
  src/internal/storage/fileset/option.go
  src/internal/storage/fileset/postgres_cache.go
  src/internal/storage/fileset/postgres_store.go
  src/internal/storage/fileset/reader.go
  src/internal/storage/fileset/renewer.go
  src/internal/storage/fileset/shard.go
  src/internal/storage/fileset/storage.go
  src/internal/storage/fileset/unordered_writer.go
  src/internal/storage/fileset/util.go
  src/internal/storage/fileset/writer.go
  src/internal/storage/server.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/commit_store.go
  src/server/pfs/server/compaction.go
  src/server/pfs/server/compaction_cache.go
  src/server/pfs/server/master.go
  src/server/pfs/server/pfsserver.pb.go
  src/server/pfs/server/pfsserver.pb.validate.go
  src/server/pfs/server/pfsserver.pb.zap.go
  src/server/pfs/server/pfsserver.proto
  src/server/pfs/server/server_commit.go
  src/server/pfs/server/server_file.go
  src/server/pfs/server/server_fsck.go
  src/server/pfs/server/url.go
  src/server/pfs/server/worker_url.go
  src/typescript/server/pfs/server/pfsserver.pb.ts
Due: run-core-jobs

Updates helm chart to support det 0.37.0
  etc/helm/pachyderm/templates/determined/NOTES.txt
  etc/helm/pachyderm/templates/determined/_helpers.tpl
  etc/helm/pachyderm/templates/determined/genai/genai-deployment.yaml
  etc/helm/pachyderm/templates/determined/genai/genai-initialize-shared-fs-permissions.yaml
  etc/helm/pachyderm/templates/determined/genai/genai-persistent-volume-claim.yaml
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/templates/determined/master-deployment.yaml
  etc/helm/pachyderm/templates/determined/master-service.yaml
  etc/helm/pachyderm/templates/determined/scheduler-config.yaml
  etc/helm/pachyderm/templates/determined/scheduler-deployment.yaml
  etc/helm/pachyderm/templates/determined/scheduler-permissions.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Update values.yaml
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

prettier
  etc/helm/pachyderm/values.yaml
Due: run-core-jobs

Update _helpers.tpl
  etc/helm/pachyderm/templates/determined/_helpers.tpl
Due: run-core-jobs

Update genai-deployment.yaml
  etc/helm/pachyderm/templates/determined/genai/genai-deployment.yaml
Due: run-core-jobs

run database migrations after restore
  src/internal/migrations/migrations.go
  src/internal/recovery/BUILD.bazel
  src/internal/recovery/recovery.go
  src/internal/recovery/recovery_test.go
Due: run-core-jobs

test version compatibility; fix bug
  src/internal/recovery/recovery.go
  src/internal/recovery/recovery_test.go
Due: run-core-jobs

make snapshots atomic
  src/internal/recovery/recovery.go
  src/internal/recovery/recovery_test.go
  src/internal/storage/fileset/storage.go
Due: run-core-jobs

implement PR feedback
  src/internal/client/BUILD.bazel
  src/internal/client/client.go
  src/internal/pachd/BUILD.bazel
  src/internal/pachd/builder.go
  src/internal/pachd/env.go
  src/internal/pachd/full.go
  src/internal/serviceenv/BUILD.bazel
  src/internal/serviceenv/service_env.go
  src/internal/snapshot/BUILD.bazel
  src/internal/snapshot/api_server.go
  src/internal/snapshot/server.go
  src/internal/snapshot/server_internal_test.go
  src/internal/snapshot/util.go
  src/internal/snapshotdb/BUILD.bazel
  src/internal/snapshotdb/errors.go
  src/internal/snapshotdb/iterators.go
  src/internal/snapshotdb/snapshot_crud.go
  src/internal/snapshotdb/snapshot_crud_test.go
  src/internal/snapshotdb/snapshot_iterator.go
  src/internal/snapshotdb/snapshotdb.go
  src/internal/snapshotdb/snapshotdb_test.go
  src/server/misc/cmds/BUILD.bazel
  src/server/misc/cmds/grpc.go
  src/snapshot/snapshot.proto
Due: run-core-jobs

Use token hex strings in composite layers
  src/internal/storage/fileset/fileset.go
  src/internal/storage/fileset/storage.go
  src/internal/storage/fileset/unordered_writer.go
Due: run-core-jobs

Update and add fileset tests
  src/internal/storage/fileset/chunkset_test.go
  src/internal/storage/fileset/compaction_test.go
  src/internal/storage/fileset/fileset_test.go
  src/internal/storage/fileset/gc_test.go
  src/internal/storage/fileset/postgres_cache_test.go
  src/internal/storage/fileset/prefetcher_test.go
  src/internal/storage/fileset/storage.go
Due: run-core-jobs

add auth permissions/roles for snapshotting
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/auth/__init__.py
  python-sdk/pachyderm_sdk/api/snapshot/__init__.py
  src/auth/auth.pb.go
  src/auth/auth.proto
  src/internal/jsonschema/auth_v2/AuthorizeRequest.schema.json
  src/internal/jsonschema/auth_v2/AuthorizeResponse.schema.json
  src/internal/jsonschema/auth_v2/GetPermissionsResponse.schema.json
  src/internal/jsonschema/auth_v2/GetRolesForPermissionRequest.schema.json
  src/internal/jsonschema/auth_v2/GetRolesForPermissionResponse.schema.json
  src/internal/jsonschema/auth_v2/Role.schema.json
  src/internal/jsonschema/pfs_v2/AuthInfo.schema.json
  src/internal/jsonschema/pfs_v2/InspectProjectV2Response.schema.json
  src/internal/jsonschema/pfs_v2/ProjectInfo.schema.json
  src/internal/jsonschema/pfs_v2/RepoInfo.schema.json
  src/internal/middleware/auth/interceptor.go
  src/internal/pachd/full.go
  src/openapi/pachyderm_api.swagger.json
  src/server/auth/server/roles.go
  src/typescript/auth/auth.pb.ts
Due: run-core-jobs, run-python-sdk-jobs

avoid exposing snapshot server in ServiceEnv interface
  src/internal/pachd/builder.go
  src/internal/serviceenv/service_env.go
Due: run-core-jobs

implement PR feedback
  src/internal/snapshotdb/snapshot_crud_test.go
Due: run-core-jobs

bump jupyter_server dependency
  jupyter-extension/requirements-lock.txt
  jupyter-extension/requirements.txt
Due: run-jupyter-jobs

update base requirements files
  jupyter-extension/requirements-dev.txt
  jupyter-extension/requirements-lock.txt
  jupyter-extension/requirements.txt
Due: run-jupyter-jobs

bump jupyter_server dependency (#10376)
  jupyter-extension/requirements-lock.txt
  jupyter-extension/requirements.txt
Due: run-jupyter-jobs

bump setuptools in requirements-dev.txt
  jupyter-extension/requirements-dev.txt
Due: run-jupyter-jobs

bump certifi in base requirements files
  jupyter-extension/requirements-dev.txt
  jupyter-extension/requirements.txt
Due: run-jupyter-jobs

bump tornado
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
  jupyter-extension/requirements-lock.txt
  jupyter-extension/requirements.txt
Due: run-jupyter-jobs

update pnpm lock file
  console/frontend/pnpm-lock.yaml
Due: none

bump tornado dependency (#10382)
  jupyter-extension/requirements-dev-lock.txt
  jupyter-extension/requirements-dev.txt
  jupyter-extension/requirements-lock.txt
  jupyter-extension/requirements.txt
Due: run-jupyter-jobs

bump urllib3 in requirements-dev.txt
  jupyter-extension/requirements-dev.txt
Due: run-jupyter-jobs
